<div class="kt-portlet mb-0" id="employee-page">
  <div class="kt-portlet__head">
    <div class="kt-portlet__head-label">
      <h4 class="kt-portlet__head-title">
        {{'Employee.PageHeader'|translate}}
      </h4>
    </div>
    <div class="kt-portlet__head-toolbar">
      <div class="kt-portlet__head-actions">
        <a (click)="openModal(template, null)" class="btn btn-default btn-pill btn-sm btn-icon btn-icon-md custom-sm"
          tooltip="{{'Employee.Add'|translate}}" placement="auto">
          <i class="flaticon2-add-1"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="kt-portlet__body p-2 pb-0">
    <div class="row align-items-center m-1 mb-2">
      <div class="col-md-3">
        <label>{{'Employee.Name'|translate}}</label>
        <div class="kt-input-icon kt-input-icon--left">
          <input [(ngModel)]="searchModel.name" type="text" class="form-control"
            placeholder="{{'Employee.Name'|translate}}" (input)="getAll()">
          <span class="kt-input-icon__icon kt-input-icon__icon--left">
            <span><i class="la la-search"></i></span>
          </span>
        </div>
      </div>
      <div class="col-md-3">
        <label>{{'EmployeeType.Name'|translate}}</label>
        <app-employee-type [selectedValue]="null"
          (selectedValueChanges)="searchModel.employeeTypeId = ($event == null) ? null : $event;getAll()">
        </app-employee-type>
      </div>
      <div class="col-md-6">
        <label>{{'Tree.ModuleTree'|translate}}</label>
        <app-module-arbor [treeView]="false" [filterType]="'childNode'" [bindLabel]="'code-name'"
          [fliterValue]="[fixed.accounting.AccountingSetting.employeeModuleTreeId]"
          (selectedValueChanges)="searchModel.moduleTreeId = ($event == null) ? null : $event.moduleTreeId;getAll()">
        </app-module-arbor>
      </div>
    </div>
    <div class="text-center mt-2">
        <button type="button" class="btn btn-success round mr-1" (click)="searchModel.page=1;getAll()">
          <i class="ft-search"></i> {{'Common.Search' | translate}}
        </button>
        <button type="button" class="btn btn-secondary round" (click)="resetSearch()">
          <i class="ft-file"></i> {{'Common.NewSearch' | translate}}
        </button>
     </div>
    <div class="table-responsive">
      <table class="table table-striped table-sm mb-0">
        <thead class="thead-light">
          <tr>
            <th scope="col">#</th>
            <th scope="col">{{'Employee.Code'|translate}}</th>
            <th scope="col">{{'Employee.Name'|translate}}</th>
            <th scope="col">{{'EmployeeType.Title'|translate}}</th>
            <th scope="col">{{'Tree.ModuleTree'|translate}}</th>
            <th scope="col">{{'Employee.IsSalesRep'|translate}}</th>
            <th scope="col">{{'Common.Tools'|translate}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of employees;let i=index">
            <th scope="row">{{i+1}}</th>
            <td>{{item.code}}</td>
            <td>{{item.name}}</td>
            <td>{{item.employeeTypeName}}</td>
            <td>{{item.moduleTreeName}}</td>
            <td>
                <span *ngIf="item.isSalesRep"><i class="la la-check-circle"></i></span>
                <span *ngIf="!item.isSalesRep"><i class="la la-close"></i></span>
            </td>
            <td>
              <a class="grid-tool" (click)="openModal(template,item)" tooltip="{{'Employee.Edit'|translate}}">
                <i class="flaticon-edit-1"></i></a>
              <a class="grid-tool" [swal]="DeleteMessage" (confirm)="deleteEmployee(item.employeeId)"
                tooltip="{{'Common.Delete'|translate}}"><i class="flaticon-delete"></i></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <app-pagination [total]="total" [scroll]="'employee-page'" (changePagination)="changePagination($event)">
    </app-pagination>
  </div>
</div>
<ng-template #template>
  <div class="modal-header pb-1 pt-2">
    <h4 class="modal-title pull-left" *ngIf="model.employeeId == null">{{'Employee.Add'|translate}}</h4>
    <h4 class="modal-title pull-left" *ngIf="model.employeeId > 0">{{'Employee.Edit'|translate}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #employeeForm="ngForm">
      <div class="row">
        <div class="form-group col-md-6">
          <label>{{'Employee.Code'|translate}}</label>
          <input type="text" class="form-control" name="code" [(ngModel)]="model.code" #code="ngModel" required
            (blur)="checkEmployeeCode(model.code)"
            [ngClass]="{'parsley-error': (code.invalid && code.touched) || checkCode, 'parsley-success': code.valid && !checkCode}">
          <ul class="parsley-errors-list filled">
            <li class="parsley-required" *ngIf="code.errors?.required && code.touched">
              {{'Employee.Code'|translate}} {{'Common.IsRequired'|translate}}</li>
            <li class="parsley-required" *ngIf="checkCode">
              {{'Employee.CheckCode'|translate}}</li>
          </ul>
        </div>
        <div class="form-group col-md-6">
          <label>{{'Employee.Name'|translate}}</label>
          <input type="text" class="form-control" name="name" [(ngModel)]="model.name" #name="ngModel" required
            [ngClass]="{'parsley-error': name.invalid && name.touched, 'parsley-success': name.valid }">
          <ul class="parsley-errors-list filled">
            <li class="parsley-required" *ngIf="name.errors?.required && name.touched">
              {{'Employee.Name'|translate}} {{'Common.IsRequired'|translate}}</li>
          </ul>
        </div>
        <div class="form-group col-md-6">
          <label>{{'Tree.ModuleTree'|translate}}</label>
          <app-module-arbor [treeView]="false" [filterType]="'childNode'" [selectedValue]="model.moduleTreeId"
            [fliterValue]="[fixed.accounting.AccountingSetting.employeeModuleTreeId]" [bindLabel]="'code-name'"
            (selectedValueChanges)="model.moduleTreeId = $event.moduleTreeId;">
          </app-module-arbor>
          <ul class="parsley-errors-list filled">
            <li class="parsley-required" *ngIf="model.moduleTreeId == null">
              {{'Tree.ModuleTree'|translate}} {{'Common.IsRequired'|translate}}</li>
          </ul>
        </div>
        <div class="form-group col-md-6">
          <label>{{'EmployeeType.Name'|translate}}</label>
          <app-employee-type [selectedValue]="model.employeeTypeId"
            (selectedValueChanges)="model.employeeTypeId = $event">
          </app-employee-type>
        </div>
        <div class="form-group col-md-12">
          <label>{{'Employee.Address'|translate}}</label>
          <input type="text" class="form-control" name="address" [(ngModel)]="model.address" #address="ngModel" required
            [ngClass]="{'parsley-error': address.invalid && address.touched, 'parsley-success': address.valid }">
          <ul class="parsley-errors-list filled">
            <li class="parsley-required" *ngIf="address.errors?.required && address.touched">
              {{'Employee.Address'|translate}} {{'Common.IsRequired'|translate}}</li>
          </ul>
        </div>
       <div class="form-group col-md-3 mt-2">
        <br>
        <label class="fancy-checkbox">
          <input type="checkbox" name="isSalesrep" #isSalesrep="ngModel" [(ngModel)]="model.isSalesRep">
          <span>{{'Employee.IsSalesRep'|translate}}</span>
        </label>
      </div>
        <div class="form-group col-md-12">
          <label>{{'Common.Notes'|translate}}</label>
          <input type="text" class="form-control" name="notes" [(ngModel)]="model.notes" #notes="ngModel">
        </div>
      </div>
      <div class="form-action">
        <button type="submit" class="btn btn-success" [disabled]="employeeForm.invalid" (click)="saveEmployee()">
          <i class="la la-save"></i> {{'Common.Save' | translate}}
        </button>
        <button (click)="modalRef.hide()" class="btn btn-warning"><i class="la la-close"></i>
          {{'Common.Close' | translate}}
        </button>
        <button class="btn btn-danger" [swal]="DeleteMessage" (confirm)="deleteEmployee(model.employeeId)"
          title="{{'Common.Delete'| translate}}" *ngIf="model.employeeId > 0">
          <i class="la la-trash-o"></i> {{'Common.Delete' | translate}}
        </button>
      </div>
    </form>
  </div>
</ng-template>
<swal #DeleteMessage title="{{'Common.DeleteConfirmMessage'|translate}}" type="error"
  confirmButtonText="{{'Common.Confirm'|translate}}" cancelButtonText="{{'Common.Cancel'|translate}}"
  [confirmButtonColor]="'#d33'" [focusCancel]="true" [focusConfirm]="false" [showCloseButton]="false"
  [showCancelButton]="true" [showConfirmButton]="true">
</swal>