<div class="kt-portlet mb-0" id="accounting-setting-page">
  <div class="kt-portlet__head">
    <div class="kt-portlet__head-label">
      <h4 class="kt-portlet__head-title">
        {{'Accounting-setting.PageHeader'|translate}}
      </h4>
    </div>
  </div>
  <div class="kt-portlet__body">
    <form #accountingSettingForm="ngForm">
      <div class="row">
        <div class="form-group col-md-4">
          <label>{{'Accounting-setting.EmployeeModule'|translate}}</label>
          <app-module-arbor [treeView]="false" [selectedValue]="fixed.accounting.AccountingSetting.employeeModuleTreeId"
            (selectedValueChanges)="fixed.accounting.AccountingSetting.employeeModuleTreeId = ($event == null) ? null : $event.moduleTreeId"
            [filterType]="'parent'" [bindLabel]="'code-name'"></app-module-arbor>
          <ul class="parsley-errors-list filled">
            <li class="parsley-required" *ngIf="fixed.accounting.AccountingSetting.employeeModuleTreeId == null">
              {{'Accounting-setting.EmployeeModule'|translate}} {{'Common.IsRequired'|translate}}</li>
          </ul>
        </div>
        <div class="form-group col-md-4">
          <label>{{'Accounting-setting.ClientModule'|translate}}</label>
          <app-module-arbor [treeView]="false" [selectedValue]="fixed.accounting.AccountingSetting.clientModuleTreeId"
            (selectedValueChanges)="fixed.accounting.AccountingSetting.clientModuleTreeId = ($event == null) ? null : $event.moduleTreeId"
            [filterType]="'parent'" [bindLabel]="'code-name'"></app-module-arbor>
          <ul class="parsley-errors-list filled">
            <li class="parsley-required" *ngIf="fixed.accounting.AccountingSetting.clientModuleTreeId == null">
              {{'Accounting-setting.ClientModule'|translate}} {{'Common.IsRequired'|translate}}</li>
          </ul>
        </div>
        <div class="form-group col-md-4">
          <label>{{'Accounting-setting.VendorModule'|translate}}</label>
          <app-module-arbor [treeView]="false" [selectedValue]="fixed.accounting.AccountingSetting.vendorModuleTreeId"
            (selectedValueChanges)="fixed.accounting.AccountingSetting.vendorModuleTreeId = ($event == null) ? null : $event.moduleTreeId"
            [filterType]="'parent'" [bindLabel]="'code-name'"></app-module-arbor>
          <ul class="parsley-errors-list filled">
            <li class="parsley-required" *ngIf="fixed.accounting.AccountingSetting.vendorModuleTreeId == null">
              {{'Accounting-setting.VendorModule'|translate}} {{'Common.IsRequired'|translate}}</li>
          </ul>
        </div>
        <div class="form-group col-md-4">
          <label>{{'Accounting-setting.AssetModule'|translate}}</label>
          <app-module-arbor [treeView]="false" [selectedValue]="fixed.accounting.AccountingSetting.assetModuleTreeId"
            (selectedValueChanges)="fixed.accounting.AccountingSetting.assetModuleTreeId = ($event == null) ? null : $event.moduleTreeId"
            [filterType]="'parent'" [bindLabel]="'code-name'"></app-module-arbor>
          <ul class="parsley-errors-list filled">
            <li class="parsley-required" *ngIf="fixed.accounting.AccountingSetting.assetModuleTreeId == null">
              {{'Accounting-setting.AssetModule'|translate}} {{'Common.IsRequired'|translate}}</li>
          </ul>
        </div>
        <div class="form-group col-md-4">
          <label>{{'Accounting-setting.Currency'|translate}}</label>
          <app-currency [selectedValue]="fixed.accounting.AccountingSetting.currencyId"
            (selectedValueChanges)="fixed.accounting.AccountingSetting.currencyId = ($event == null) ? null : $event">
          </app-currency>
          <ul class="parsley-errors-list filled">
            <li class="parsley-required" *ngIf="fixed.accounting.AccountingSetting.currencyId == null">
              {{'Accounting-setting.Currency'|translate}} {{'Common.IsRequired'|translate}}</li>
          </ul>
        </div>
        <div class="form-group col-md-4">
          <label>{{'Accounting-setting.DepartmentModule'|translate}}</label>
          <app-module-arbor [treeView]="false" [selectedValue]="fixed.accounting.AccountingSetting.departmentModuleTreeId"
            (selectedValueChanges)="fixed.accounting.AccountingSetting.departmentModuleTreeId = ($event == null) ? null : $event.moduleTreeId"
            [filterType]="'parent'" [bindLabel]="'code-name'"></app-module-arbor>
          <ul class="parsley-errors-list filled">
            <li class="parsley-required" *ngIf="fixed.accounting.AccountingSetting.departmentModuleTreeId == null">
              {{'Accounting-setting.DepartmentModule'|translate}} {{'Common.IsRequired'|translate}}</li>
          </ul>
        </div>
      </div>
      <div class="form-action">
        <button type="submit" class="btn btn-success" [disabled]="accountingSettingForm.invalid"
          (click)="saveSetting()">
          <i class="la la-save"></i> {{'Common.Save' | translate}}
        </button>
        <button (click)="reset()" class="btn btn-secondary"><i class="la la-refresh"></i>
          {{'Common.Refresh' | translate}}
        </button>
      </div>
    </form>
  </div>
</div>