<!-- <div class="kt-grid kt-grid--ver kt-grid--root">
  <div class="kt-grid kt-grid--hor kt-grid--root  kt-login kt-login--v3 kt-login--signin" id="kt_login">
    <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor"
      style="background-image: url(assets/img/bg-3.jpg);">
      <div class="kt-grid__item kt-grid__item--fluid kt-login__wrapper">
        <div class="kt-login__container">
          <div class="kt-login__logo">
            <a>
              <img src="assets/img/dark-logo.png" class="img-responsive">
            </a>
          </div>
          <div class="kt-login__signin">
            <div class="kt-login__head">
              <h3 class="kt-login__title">{{'login.SignIn'|translate}}</h3>
            </div>
            <form class="kt-form" action="">
              <div class="input-group">
                <input type="email" class="form-control" id="signin-email" #emailLogin="ngModel" name="emailLogin"
                  [(ngModel)]="model.email" value="" placeholder="{{'login.Email'|translate}}" autocomplete="off"
                  required>
              </div>
              <div class="input-group">
                <input type="password" class="form-control" id="signin-password" #passwordLogin="ngModel"
                  name="passwordLogin" [(ngModel)]="model.password" value="" autocomplete="off"
                  placeholder="{{'login.Password'|translate}}" required>
              </div>
              <div class="kt-login__actions">
                <button (click)="login(model)" class="btn btn-brand btn-elevate kt-login__btn-primary">
                  {{'login.Login'|translate}}</button>
              </div>
            </form>
          </div>
          <div class="float-right m-0">
            <a class="mr-1 pointer" *ngFor="let item of fixed.appLanguages"
              [hidden]="item.languageId == fixed.activeLang.languageId" (click)="global.themeSettings(item)">
              {{item.name}}
              <img class="language-img-login" src="assets/img/{{item.icon}}.svg"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->