<div class="kt-portlet mb-0" id="asset-page">
  <div class="kt-portlet__head">
    <div class="kt-portlet__head-label">
      <h4 class="kt-portlet__head-title">
        {{'Asset.PageHeader'|translate}}
      </h4>
    </div>
    <div class="kt-portlet__head-toolbar">
      <div class="kt-portlet__head-actions">
        <a (click)="openModal(template, null)" class="btn btn-default btn-pill btn-sm btn-icon btn-icon-md custom-sm"
          tooltip="{{'Asset.Add'|translate}}" placement="auto">
          <i class="flaticon2-add-1"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="kt-portlet__body p-2 pb-0">
    <div class="row align-items-center m-1 mb-2">
      <div class="col-md-3">
        <label>{{'Asset.Name'|translate}}</label>
        <div class="kt-input-icon kt-input-icon--left">
          <input [(ngModel)]="searchModel.name" type="text" class="form-control"
            placeholder="{{'Asset.Name'|translate}}" (blur)="getAll()">
          <span class="kt-input-icon__icon kt-input-icon__icon--left">
            <span><i class="la la-search"></i></span>
          </span>
        </div>
      </div>
      <div class="col-md-3">
        <label>{{'AssetType.Name'|translate}}</label>
        <app-asset-type [selectedValue]="null"
          (selectedValueChanges)="searchModel.assetTypeId = ($event == null)? null : $event;getAll()">
        </app-asset-type>
      </div>
      <div class="col-md-6">
        <label>{{'Tree.ModuleTree'|translate}}</label>
        <app-module-arbor [treeView]="false" [filterType]="'childNode'"
          [fliterValue]="[fixed.accounting.AccountingSetting.assetModuleTreeId]" [bindLabel]="'code-name'"
          (selectedValueChanges)="searchModel.moduleTreeId = ($event == null)? null : $event.moduleTreeId;getAll()">
        </app-module-arbor>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table table-striped table-sm mb-0">
        <thead class="thead-light">
          <tr>
            <th scope="col">{{'Asset.Code'|translate}}</th>
            <th scope="col">{{'Asset.Name'|translate}}</th>
            <th scope="col">{{'AssetType.Title'|translate}}</th>
            <th scope="col">{{'Tree.ModuleTree'|translate}}</th>
            <th scope="col">{{'Common.Tools'|translate}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of assets;let i=index">
            <td>{{item.code}}</td>
            <td>{{item.name}}</td>
            <td>{{item.assetTypeName}}</td>
            <td>{{item.moduleTreeName}}</td>
            <td>
              <a class="grid-tool" (click)="openModal(template,item)" tooltip="{{'Asset.Edit'|translate}}">
                <i class="flaticon-edit-1"></i></a>
              <a class="grid-tool" [swal]="DeleteMessage" (confirm)="deleteAsset(item.bankId)"
                tooltip="{{'Common.Delete'|translate}}"><i class="flaticon-delete"></i></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <app-pagination [total]="total" [scroll]="'asset-page'" (changePagination)="changePagination($event)">
    </app-pagination>
  </div>
</div>
<ng-template #template>
  <div class="modal-header pb-1 pt-2">
    <h4 class="modal-title pull-left" *ngIf="model.assetId == null">{{'Asset.Add'|translate}}</h4>
    <h4 class="modal-title pull-left" *ngIf="model.assetId > 0">{{'Asset.Edit'|translate}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #assetForm="ngForm">
      <div class="row">
        <div class="form-group col-md-6">
          <label>{{'Asset.Code'|translate}}</label>
          <input type="text" class="form-control" name="code" [(ngModel)]="model.code" #code="ngModel" required
            (blur)="checkAssetCode(model.code)"
            [ngClass]="{'parsley-error': (code.invalid && code.touched) || checkCode, 'parsley-success': code.valid && !checkCode}">
          <ul class="parsley-errors-list filled">
            <li class="parsley-required" *ngIf="code.errors?.required && code.touched">
              {{'Asset.Code'|translate}} {{'Common.IsRequired'|translate}}</li>
            <li class="parsley-required" *ngIf="checkCode">
              {{'Asset.CheckCode'|translate}}</li>
          </ul>
        </div>
        <div class="form-group col-md-6">
          <label>{{'Asset.Name'|translate}}</label>
          <input type="text" class="form-control" name="name" [(ngModel)]="model.name" #name="ngModel" required
            [ngClass]="{'parsley-error': name.invalid && name.touched, 'parsley-success': name.valid }">
          <ul class="parsley-errors-list filled">
            <li class="parsley-required" *ngIf="name.errors?.required && name.touched">
              {{'Asset.Name'|translate}} {{'Common.IsRequired'|translate}}</li>
          </ul>
        </div>
        <div class="form-group col-md-6">
          <label>{{'Tree.ModuleTree'|translate}}</label>
          <app-module-arbor [treeView]="false" [filterType]="'childNode'" [bindLabel]="'code-name'"
            [fliterValue]="[fixed.accounting.AccountingSetting.assetModuleTreeId]" [selectedValue]="model.moduleTreeId"
            (selectedValueChanges)="model.moduleTreeId = ($event == null)? null : $event.moduleTreeId;getAll()">
          </app-module-arbor>
          <ul class="parsley-errors-list filled">
            <li class="parsley-required" *ngIf="model.moduleTreeId == null">
              {{'Tree.ModuleTree'|translate}} {{'Common.IsRequired'|translate}}</li>
          </ul>
        </div>
        <div class="form-group col-md-6">
          <label>{{'AssetType.Name'|translate}}</label>
          <app-asset-type [selectedValue]="model.assetTypeId"
            (selectedValueChanges)="model.assetTypeId = ($event == null) ? null : $event">
          </app-asset-type>
        </div>
        <div class="form-group col-md-3">
          <label>{{'Asset.PurchaseDate'|translate}}</label>
          <input type="text" class="form-control" name="purchaseDate" [(ngModel)]="model.purchaseDate"
            #purchaseDate="ngModel" bsDatepicker [bsConfig]="fixed.datePickerConfig" autocomplete="off"
            [ngClass]="{'parsley-error': (model.purchaseDate == null || model.purchaseDate == 'Invalid Date') && purchaseDate.touched}">
          <ul class="parsley-errors-list filled">
            <li class="parsley-required" *ngIf="model.purchaseDate == null && purchaseDate.touched">
              {{'Asset.PurchaseDate'|translate}} {{'Common.IsRequired'|translate}}</li>
            <li class="parsley-required" *ngIf="model.purchaseDate == 'Invalid Date' && purchaseDate.touched">
              {{'Asset.PurchaseDate'|translate}} {{'Common.Error'|translate}}</li>
          </ul>
        </div>
        <div class="form-group col-md-9">
          <label>{{'Common.Notes'|translate}}</label>
          <input type="text" class="form-control" name="notes" [(ngModel)]="model.notes" #notes="ngModel">
        </div>
      </div>
      <div class="form-action">
        <button type="submit" class="btn btn-success" [disabled]="assetForm.invalid" (click)="saveAsset()">
          <i class="la la-save"></i> {{'Common.Save' | translate}}
        </button>
        <button (click)="modalRef.hide()" class="btn btn-warning"><i class="la la-close"></i>
          {{'Common.Close' | translate}}
        </button>
        <button class="btn btn-danger" [swal]="DeleteMessage" (confirm)="deleteAsset(model.assetId)"
          title="{{'Common.Delete'| translate}}" *ngIf="model.assetId > 0">
          <i class="la la-trash-o"></i> {{'Common.Delete' | translate}}
        </button>
      </div>
    </form>
  </div>
</ng-template>
<swal #DeleteMessage title="{{'Common.DeleteConfirmMessage'|translate}}" type="error"
  confirmButtonText="{{'Common.Confirm'|translate}}" cancelButtonText="{{'Common.Cancel'|translate}}"
  [confirmButtonColor]="'#d33'" [focusCancel]="true" [focusConfirm]="false" [showCloseButton]="false"
  [showCancelButton]="true" [showConfirmButton]="true">
</swal>