<div class="kt-portlet mb-0" id="vendor-page">
      <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
          <h4 class="kt-portlet__head-title">
               {{'Users.List'|translate}} 
          </h4>
        </div>
        <div class="kt-portlet__head-toolbar">
          <div class="kt-portlet__head-actions">
            <a (click)="openOperation(openOperationDiv,null)" class="btn btn-default btn-pill btn-sm btn-icon btn-icon-md custom-sm"
              tooltip="{{'Users.Add'|translate}}" placement="auto">
              <i class="flaticon2-add-1"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="kt-portlet__body p-2 pb-0">
        <div class="row align-items-center m-1 mb-2">
          <div class="col-md-3">
             <label >{{'Users.UserName'|translate}}</label> 
            <div class="kt-input-icon kt-input-icon--left">
              <input [(ngModel)]="model.userName" type="text" class="form-control" name="userName"
              placeholder="{{'Users.UserName'|translate}}" (input)="filterUser()" #userName="ngModel">
              <span class="kt-input-icon__icon kt-input-icon__icon--left">
                <span><i class="la la-search"></i></span>
              </span>
            </div>
          </div>
          <div class="col-md-3">
                <label>{{'Users.Email'|translate}}</label>
                <div class="kt-input-icon kt-input-icon--left">
                     <input [(ngModel)]="model.email" name="email" type="text" class="form-control"
                     placeholder="{{'Users.Email'|translate}}" (input)="filterUser()" #email="ngModel">
                     <span class="kt-input-icon__icon kt-input-icon__icon--left">
                       <span><i class="la la-search"></i></span>
                     </span>
                   </div>
          </div>
          <div class="col-md-3">
               <label>{{'Users.Name'|translate}}</label>
               <div class="kt-input-icon kt-input-icon--left">
                    <input  type="text" class="form-control"
                    placeholder="{{'Users.Name'|translate}}" [(ngModel)]="model.name" name="name" 
                    (input)="filterUser()" #name="ngModel">
                    <span class="kt-input-icon__icon kt-input-icon__icon--left">
                      <span><i class="la la-search"></i></span>
                    </span>
                  </div>
          </div>
          <div class="col-md-3">
               <label>{{'Users.PhoneNumber'|translate}}</label>
               <div class="kt-input-icon kt-input-icon--left">
                    <input  type="text" class="form-control"
                    placeholder="+00 (000) 000-00-00" autocomplete="false" [(ngModel)]="model.phoneNumber"  
                    #phoneNumber="ngModel" name="phoneNumber" (input)="filterUser()" pattern="^\+[1-9]{1}[0-9]{3,14}$">
                    <span class="kt-input-icon__icon kt-input-icon__icon--left">
                      <span><i class="la la-search"></i></span>
                    </span>
                  </div>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table table-striped table-sm mb-0">
            <thead class="thead-light">
              <tr>
                <th scope="col">{{'Users.UserName'|translate}}</th>
                <th scope="col">{{'Users.Email'|translate}}</th>
                <th scope="col">{{'Users.Name'|translate}}</th>
                <th scope="col">{{'Users.PhoneNumber'|translate}}</th>
                <th scope="col">{{'Common.Tools'|translate}}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of list;let isOdd=odd;let isEven=even;"
              [class.odd]="isOdd" [class.m-datatable__row--even]="isEven">
                <td>{{item.userName}}</td>
                <td>{{item.email}}</td>
                <td>{{item.name}}</td>
                <td>{{item.phoneNumber}}</td>
                <td>
                     <a class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill"
                     tooltip="{{'Common.Edit'|translate}}" (click)="openOperation(openOperationDiv,item)"> <i class="la la-edit"></i>
                  </a>
                  <a class="m-portlet__nav-link btn m-btn m-btn--hover-danger m-btn--icon m-btn--icon-only m-btn--pill"
                     tooltip="{{'Common.Delete'|translate}}" [swal]="DeleteMessage" (confirm)="deleteUser(item)"> <i
                      class="la la-trash"></i> </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <app-pagination [(total)]="total" [scroll]="'UserTable'" (changePagination)="changePagination($event)">
         </app-pagination>
      </div>
    </div>
<ng-template #openOperationDiv>
  <app-user-operation [model]="userOperation" (closeModal)="closeUserOperation($event)"></app-user-operation>
</ng-template>

<swal #DeleteMessage title="{{'Common.DeleteConfirmMessage'|translate}}" type="error"
  confirmButtonText="{{'Common.Confirm'|translate}}" cancelButtonText="{{'Common.Cancel'|translate}}"
  [confirmButtonColor]="'#d33'" [focusCancel]="true" [focusConfirm]="false" [showCloseButton]="false"
  [showCancelButton]="true" [showConfirmButton]="true">
</swal>
