<div class="input-group">
  <ng-select [items]="roles" bindLabel="name" placeholder="{{'Common.Select'|translate}}" bindValue="id"
    [(ngModel)]="selectedValue" (change)="selectedValueChanges.emit(selectedValue)"
    (clear)="selectedValueChanges.emit(null)" [clearable]="true" notFoundText="{{'Common.notFoundText'|translate}}">
  </ng-select>
  <div class="input-group-append" (click)="openModal(roleModel)">
    <span class="input-group-text btn btn-primary"><i class="fa fa-search-plus white"></i></span>
  </div>
</div>
<ng-template #roleModel>
  <div class="modal-header pb-1 pt-2">
    <a class="btn btn-default btn-pill btn-sm btn-icon btn-icon-md custom-sm m-010" (click)="operation()"
      tooltip="{{'Common.Add'|translate}}" placement="auto">
      <i class="flaticon2-add-1"></i></a>
    <h4 class="modal-title pull-left">{{'Role.Title'|translate}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="input-group justify-content-center" *ngIf="!roleOperation">
      <div class="kt-input-icon kt-input-icon--right">
        <input type="text" class="form-control" name="search" [(ngModel)]="search"
          placeholder="{{'Common.Search'|translate}}">
        <span class="kt-input-icon__icon kt-input-icon__icon--right"><span><i class="flaticon-search"></i></span></span>
      </div>
    </div>
    <div *ngIf="roleOperation">
      <form #roleForm="ngForm">
        <div class="row">
          <div class="form-group col-md-12">
            <label>{{'Role.Name'|translate}}</label>
            <input type="text" class="form-control" name="name" [(ngModel)]="model.name" #name="ngModel" required
              [ngClass]="{'parsley-error': name.invalid && name.touched, 'parsley-success': name.valid }">
            <ul class="parsley-errors-list filled">
              <li class="parsley-required" *ngIf="name.errors?.required && name.touched">
                {{'Role.Name'|translate}} {{'Common.IsRequired'|translate}}</li>
            </ul>
          </div>
        </div>
        <div class="form-action mt-2">
          <button type="submit" class="btn btn-success" [disabled]="roleForm.invalid" (click)="saveRole()">
            <i class="la la-save"></i> {{'Common.Save' | translate}}
          </button>
          <button (click)="roleOperation = false" class="btn btn-warning"><i class="la la-close"></i>
            {{'Common.Close' | translate}}</button>
          <button class="btn btn-danger" [swal]="DeleteMessage" (confirm)="delete(model.id)"
            title="{{'Common.Delete'| translate}}" *ngIf="model.id > 0">
            <i class="la la-trash-o"></i> {{'Common.Delete' | translate}}</button>
        </div>
      </form>
    </div>
    <div class="table-responsive mt-3">
      <table class="table table-striped table-sm">
        <thead class="thead-light">
          <tr>
            <th scope="col">#</th>
            <th scope="col">{{'Role.name'|translate}}</th>
            <th scope="col">{{'Common.Tools'|translate}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of roles | filter: {name: search};let i=index">
            <td scope="row">{{i+1}}</td>
            <td>{{item.name}}</td>
            <td>
              <a class="grid-tool" tooltip="{{'Common.Select'| translate}}"
                (click)="selectedValue=item.id ;selectedValueChanges.emit(item.id);modalRef.hide()">
                <i class="la la-magnet"></i></a>
              <a class="grid-tool" (click)="operation(item)" tooltip="{{'Common.Edit'| translate}}"
                *ngIf="item.companyId > 0">
                <i class="flaticon-edit-1"></i></a>
              <a class="grid-tool" [swal]="DeleteMessage" (confirm)="delete(item.id)" *ngIf="item.companyId > 0"
                tooltip="{{'Common.Delete'|translate}}"><i class="flaticon-delete"></i></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</ng-template>
<swal #DeleteMessage title="{{'Common.DeleteConfirmMessage'|translate}}" type="error"
  confirmButtonText="{{'Common.Confirm'|translate}}" cancelButtonText="{{'Common.Cancel'|translate}}"
  [confirmButtonColor]="'#d33'" [focusCancel]="true" [focusConfirm]="false" [showCloseButton]="false"
  [showCancelButton]="true" [showConfirmButton]="true">
</swal>