<div class="kt-portlet mb-0">
  <div class="kt-portlet__head">
    <div class="kt-portlet__head-label">
      <h4 class="kt-portlet__head-title">
        {{'StockInDocument.List'|translate}}
      </h4>
    </div>
    <div class="kt-portlet__head-toolbar">
      <div class="kt-portlet__head-actions">
        <a [routerLink]="['/store/stock-in-document/operation']"
          class="btn btn-default btn-pill btn-sm btn-icon btn-icon-md custom-sm"
          tooltip="{{'StockInDocument.Add'|translate}}" placement="auto">
          <i class="flaticon2-add-1"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="kt-portlet__body p-2 pb-0" id="stock-in-list">
    <div class="row col-md-12">
      <div class="form-group col-md-6">
        <label>{{'StockInDocument.Date'|translate}}</label>
        <br>
        <div class="input-group width-48 float-left">
          <div class="input-group-append"><span class="input-group-text">{{'Common.From'|translate}}</span>
          </div>
          <input type="text" class="form-control" placeholder="{{'Common.From'|translate}}" bsDatepicker
            [bsConfig]="fixed.datePickerConfig" [(ngModel)]="searchModel.fromDate" autocomplete="off">
        </div>
        <div class="input-group width-48">
          <div class="input-group-append"><span class="input-group-text">{{'Common.To'|translate}}</span>
          </div>
          <input type="text" class="form-control" placeholder="{{'Common.To'|translate}}" bsDatepicker
            [bsConfig]="fixed.datePickerConfig" [(ngModel)]="searchModel.toDate" autocomplete="off">
        </div>
      </div>
      <div class="form-group col-md-6">
        <label>{{'StockInDocument.Stock'|translate}}</label>
        <div class="kt-input-icon kt-input-icon--left">
          <app-stock-shared [selectedValue]="searchModel.stockId" (selectedValueChanges)="searchModel.stockId = $event">
          </app-stock-shared>
        </div>
      </div>
      <div class="form-group col-md-4">
        <label>{{'StockInDocument.TransactionNo'|translate}}</label>
        <div class="kt-input-icon kt-input-icon--left">
          <div class="kt-input-icon kt-input-icon--left">
            <input [(ngModel)]="searchModel.transactionNo" type="text" class="form-control"
              placeholder="{{'StockInDocument.TransactionNo'|translate}}">
            <span class="kt-input-icon__icon kt-input-icon__icon--left">
              <span><i class="la la-search"></i></span>
            </span>
          </div>
        </div>
      </div>
      <div class="form-group col-md-4">
        <label>{{'StockInDocument.DepartmentModule'|translate}}</label>
        <div class="kt-input-icon kt-input-icon--left">
          <app-module-arbor [treeView]="false" [filterType]="'childNode'" [bindLabel]="'code-name'"
            [fliterValue]="[fixed.accounting.AccountingSetting.departmentModuleTreeId]"
            [selectedValue]="searchModel.departmentModule"
            (selectedValueChanges)="searchModel.departmentModule = ($event == null) ? null : $event.moduleTreeId">
          </app-module-arbor>
        </div>
      </div>
      <div class="form-group col-md-4">
        <label>{{'StockInDocument.DepartmentInvoiceNumber'|translate}}</label>
        <div class="kt-input-icon kt-input-icon--left">
          <div class="kt-input-icon kt-input-icon--left">
            <input [(ngModel)]="searchModel.departmentInvoiceNumber" type="text" class="form-control"
              placeholder="{{'StockInDocument.DepartmentInvoiceNumber'|translate}}">
            <span class="kt-input-icon__icon kt-input-icon__icon--left">
              <span><i class="la la-search"></i></span>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center mt-2">
      <button type="button" class="btn btn-success round mr-1" (click)="searchModel.page=1;getAll()">
        <i class="ft-search"></i> {{'Common.Search' | translate}}
      </button>
      <button type="button" class="btn btn-secondary round" (click)="resetSearch()">
        <i class="ft-file"></i> {{'Common.NewSearch' | translate}}
      </button>
    </div>
    <div class="table-responsive mt-2">
      <table class="table table-striped table-sm mb-0">
        <thead class="thead-light">
          <tr>
            <th scope="col">{{'StockInDocument.Date'|translate}}</th>
            <th scope="col">{{'StockInDocument.TransactionNo'|translate}}</th>
            <th scope="col">{{'StockInDocument.Stock'|translate}}</th>
            <th scope="col">{{'StockInDocument.DepartmentModule'|translate}}</th>
            <th scope="col">{{'StockInDocument.DepartmentInvoiceNumber'|translate}}</th>
            <th scope="col">{{'StockInDocument.Total'|translate}}</th>
            <th scope="col">{{'StockInDocument.Void'|translate}}</th>
            <th scope="col">{{'Common.Tools'|translate}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of stocks;let i=index">
            <td *ngIf="fixed.activeLang.code == 'en'">{{item.date | date:'dd MMM y':null:'en-US'}}</td>
            <td *ngIf="fixed.activeLang.code == 'ar'">{{item.date | date:'dd MMM y':null:'ar-SA'}}</td>
            <td>{{item.transactionNo}}</td>
            <td>{{item.stock}}</td>
            <td>{{item.departmentModuleName}}</td>
            <td>{{item.departmentInvoiceNumber}}</td>
            <td>{{item.total | number : '1.2-2'}}</td>
            <td>
              <span *ngIf="item.isVoided"><i class="la la-check-circle"></i></span>
            </td>
            <td>
              <a class="grid-tool" [routerLink]="[ '/store/stock-in-document/operation/'+item.stockInDocumentId]"
                tooltip="{{'Common.Edit'|translate}}">
                <i class="flaticon-edit-1"></i></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <app-pagination [total]="total" [scroll]="'stock-in-list'" (changePagination)="changePagination($event)">
    </app-pagination>
  </div>
</div>