<div class="kt-portlet">
  <div class="kt-portlet__head">
    <div class="kt-portlet__head-label">
      <h4 class="kt-portlet__head-title" *ngIf="model.stockId == null">
        {{'Stock.Add'|translate}}
      </h4>
      <h4 class="kt-portlet__head-title" *ngIf="model.stockId > 0">
        {{'Stock.Edit'|translate}}
      </h4>
    </div>
    <div class="kt-portlet__head-toolbar">
      <div class="kt-portlet__head-actions">

      </div>
    </div>
  </div>
  <div class="kt-portlet__body">
    <form #stockForm="ngForm">
      <div class="row">
        <div class="form-group col-md-3">
          <label>{{'Stock.Code'|translate}}</label>
          <input type="text" class="form-control" name="code" [(ngModel)]="model.code" #code="ngModel" required
            (blur)="checkStockCode(model.code)"
            [ngClass]="{'parsley-error': (code.invalid && code.touched) || checkCode, 'parsley-success': code.valid && !checkCode}">
          <ul class="parsley-errors-list filled">
            <li class="parsley-required" *ngIf="code.errors?.required && code.touched">
              {{'Stock.Code'|translate}} {{'Common.IsRequired'|translate}}</li>
            <li class="parsley-required" *ngIf="checkCode">
              {{'Stock.CheckCode'|translate}}</li>
          </ul>
        </div>
        <div class="form-group col-md-9">
          <label>{{'Stock.Name'|translate}}</label>
          <input type="text" class="form-control" name="name" [(ngModel)]="model.name" #name="ngModel">
        </div>
        <div class="form-group col-md-2"><br>
          <label>{{'Stock.StockAccount'|translate}}</label>
        </div>
        <div class="form-group col-md-5">
          <label>{{'Stock.ModuleTree'|translate}}</label>
          <app-module-arbor [treeView]="false" [filterType]="'child'" [selectedValue]="model.stockModuleId"
            (selectedValueChanges)="moduleTreeChange($event,'stock','html')" [bindLabel]="'code-name'">
          </app-module-arbor>
        </div>
        <div class="form-group col-md-5">
          <label>{{'Stock.AccountTree'|translate}}</label>
          <app-account-arbor [treeView]="false" [filterType]="'master'" *ngIf="model.stockModuleId == null"
            [selectedValue]="model.stockAccountId" [bindLabel]="'code-name'"
            (selectedValueChanges)="model.stockAccountId = ($event == null) ? null : $event.accountTreeId">
          </app-account-arbor>
          <app-account-arbor [treeView]="false" [filterType]="'list'" [fliterValue]="model.stockTreeList"
            *ngIf="model.stockModuleId > 0" [selectedValue]="model.stockAccountId" [bindLabel]="'code-name'"
            (selectedValueChanges)="model.stockAccountId = ($event == null) ? null : $event.accountTreeId">
          </app-account-arbor>
        </div>
        <div class="form-group col-md-2"><br>
          <label>{{'Stock.CostAccount'|translate}}</label>
        </div>
        <div class="form-group col-md-5">
          <label>{{'Stock.ModuleTree'|translate}}</label>
          <app-module-arbor [treeView]="false" [filterType]="'child'" [selectedValue]="model.costModuleId"
            (selectedValueChanges)="moduleTreeChange($event,'cost','html')" [bindLabel]="'code-name'">
          </app-module-arbor>
        </div>
        <div class="form-group col-md-5">
          <label>{{'Stock.AccountTree'|translate}}</label>
          <app-account-arbor [treeView]="false" [filterType]="'master'" *ngIf="model.costModuleId == null"
            [selectedValue]="model.costAccountId" [bindLabel]="'code-name'"
            (selectedValueChanges)="model.costAccountId = ($event == null) ? null : $event.accountTreeId">
          </app-account-arbor>
          <app-account-arbor [treeView]="false" [filterType]="'list'" [fliterValue]="model.costTreeList"
            *ngIf="model.costModuleId > 0" [selectedValue]="model.costAccountId" [bindLabel]="'code-name'"
            (selectedValueChanges)="model.costAccountId = ($event == null) ? null : $event.accountTreeId">
          </app-account-arbor>
        </div>
        <div class="form-group col-md-2"><br>
          <label>{{'Stock.SalesAccount'|translate}}</label>
        </div>
        <div class="form-group col-md-5">
          <label>{{'Stock.ModuleTree'|translate}}</label>
          <app-module-arbor [treeView]="false" [filterType]="'child'" [selectedValue]="model.salesModuleId"
            (selectedValueChanges)="moduleTreeChange($event,'sales','html')" [bindLabel]="'code-name'">
          </app-module-arbor>
        </div>
        <div class="form-group col-md-5">
          <label>{{'Stock.AccountTree'|translate}}</label>
          <app-account-arbor [treeView]="false" [filterType]="'master'" *ngIf="model.salesModuleId == null"
            [selectedValue]="model.salesAccountId" [bindLabel]="'code-name'"
            (selectedValueChanges)="model.salesAccountId = ($event == null) ? null : $event.accountTreeId">
          </app-account-arbor>
          <app-account-arbor [treeView]="false" [filterType]="'list'" [fliterValue]="model.salesTreeList"
            *ngIf="model.salesModuleId > 0" [selectedValue]="model.salesAccountId" [bindLabel]="'code-name'"
            (selectedValueChanges)="model.salesAccountId = ($event == null) ? null : $event.accountTreeId">
          </app-account-arbor>
        </div>
        <div class="form-group col-md-2"><br>
          <label>{{'Stock.ReturnSalesAccount'|translate}}</label>
        </div>
        <div class="form-group col-md-5">
          <label>{{'Stock.ModuleTree'|translate}}</label>
          <app-module-arbor [treeView]="false" [filterType]="'child'" [selectedValue]="model.returnSalesModuleId"
            (selectedValueChanges)="moduleTreeChange($event,'returnSales','html')" [bindLabel]="'code-name'">
          </app-module-arbor>
        </div>
        <div class="form-group col-md-5">
          <label>{{'Stock.AccountTree'|translate}}</label>
          <app-account-arbor [treeView]="false" [filterType]="'master'" *ngIf="model.returnSalesModuleId == null"
            [selectedValue]="model.returnSalesAccountId" [bindLabel]="'code-name'"
            (selectedValueChanges)="model.returnSalesAccountId = ($event == null) ? null : $event.accountTreeId">
          </app-account-arbor>
          <app-account-arbor [treeView]="false" [filterType]="'list'" [fliterValue]="model.returnSalesTreeList"
            *ngIf="model.returnSalesModuleId > 0" [selectedValue]="model.returnSalesAccountId" [bindLabel]="'code-name'"
            (selectedValueChanges)="model.returnSalesAccountId = ($event == null) ? null : $event.accountTreeId">
          </app-account-arbor>
        </div>
        <div class="form-group col-md-2"><br>
          <label>{{'Stock.PurchasesAccount'|translate}}</label>
        </div>
        <div class="form-group col-md-5">
          <label>{{'Stock.ModuleTree'|translate}}</label>
          <app-module-arbor [treeView]="false" [filterType]="'child'" [selectedValue]="model.purchasesModuleId"
            (selectedValueChanges)="moduleTreeChange($event,'purchases','html')" [bindLabel]="'code-name'">
          </app-module-arbor>
        </div>
        <div class="form-group col-md-5">
          <label>{{'Stock.AccountTree'|translate}}</label>
          <app-account-arbor [treeView]="false" [filterType]="'master'" *ngIf="model.purchasesModuleId == null"
            [selectedValue]="model.purchasesAccountId" [bindLabel]="'code-name'"
            (selectedValueChanges)="model.purchasesAccountId = ($event == null) ? null : $event.accountTreeId">
          </app-account-arbor>
          <app-account-arbor [treeView]="false" [filterType]="'list'" [fliterValue]="model.purchasesTreeList"
            *ngIf="model.purchasesModuleId > 0" [selectedValue]="model.purchasesAccountId" [bindLabel]="'code-name'"
            (selectedValueChanges)="model.purchasesAccountId = ($event == null) ? null : $event.accountTreeId">
          </app-account-arbor>
        </div>
        <div class="form-group col-md-2"><br>
          <label>{{'Stock.ReturnPurchasesAccount'|translate}}</label>
        </div>
        <div class="form-group col-md-5">
          <label>{{'Stock.ModuleTree'|translate}}</label>
          <app-module-arbor [treeView]="false" [filterType]="'child'" [selectedValue]="model.returnPurchasesModuleId"
            (selectedValueChanges)="moduleTreeChange($event,'returnPurchases','html')" [bindLabel]="'code-name'">
          </app-module-arbor>
        </div>
        <div class="form-group col-md-5">
          <label>{{'Stock.AccountTree'|translate}}</label>
          <app-account-arbor [treeView]="false" [filterType]="'master'" *ngIf="model.returnPurchasesModuleId == null"
            [selectedValue]="model.returnPurchasesAccountId" [bindLabel]="'code-name'"
            (selectedValueChanges)="model.returnPurchasesAccountId = ($event == null) ? null : $event.accountTreeId">
          </app-account-arbor>
          <app-account-arbor [treeView]="false" [filterType]="'list'" [fliterValue]="model.returnPurchasesTreeList"
            *ngIf="model.returnPurchasesModuleId > 0" [selectedValue]="model.returnPurchasesAccountId"
            [bindLabel]="'code-name'"
            (selectedValueChanges)="model.returnPurchasesAccountId = ($event == null) ? null : $event.accountTreeId">
          </app-account-arbor>
        </div>
        <div class="form-group col-md-2"><br>
          <label>{{'Stock.ReceptionAccount'|translate}}</label>
        </div>
        <div class="form-group col-md-5">
          <label>{{'Stock.ModuleTree'|translate}}</label>
          <app-module-arbor [treeView]="false" [filterType]="'child'" [selectedValue]="model.receptionModuleId"
            (selectedValueChanges)="moduleTreeChange($event,'reception','html')" [bindLabel]="'code-name'">
          </app-module-arbor>
        </div>
        <div class="form-group col-md-5">
          <label>{{'Stock.AccountTree'|translate}}</label>
          <app-account-arbor [treeView]="false" [filterType]="'master'" *ngIf="model.receptionModuleId == null"
            [selectedValue]="model.receptionAccountId" [bindLabel]="'code-name'"
            (selectedValueChanges)="model.receptionAccountId = ($event == null) ? null : $event.accountTreeId">
          </app-account-arbor>
          <app-account-arbor [treeView]="false" [filterType]="'list'" [fliterValue]="model.receptionTreeList"
            *ngIf="model.receptionModuleId > 0" [selectedValue]="model.receptionAccountId" [bindLabel]="'code-name'"
            (selectedValueChanges)="model.receptionAccountId = ($event == null) ? null : $event.accountTreeId">
          </app-account-arbor>
        </div>
        <div class="form-group col-md-2"><br>
          <label>{{'Stock.ExitAccount'|translate}}</label>
        </div>
        <div class="form-group col-md-5">
          <label>{{'Stock.ModuleTree'|translate}}</label>
          <app-module-arbor [treeView]="false" [filterType]="'child'" [selectedValue]="model.exitModuleId"
            (selectedValueChanges)="moduleTreeChange($event,'exit','html')" [bindLabel]="'code-name'">
          </app-module-arbor>
        </div>
        <div class="form-group col-md-5">
          <label>{{'Stock.AccountTree'|translate}}</label>
          <app-account-arbor [treeView]="false" [filterType]="'master'" *ngIf="model.exitModuleId == null"
            [selectedValue]="model.exitAccountId" [bindLabel]="'code-name'"
            (selectedValueChanges)="model.exitAccountId = ($event == null) ? null : $event.accountTreeId">
          </app-account-arbor>
          <app-account-arbor [treeView]="false" [filterType]="'list'" [fliterValue]="model.exitTreeList"
            *ngIf="model.exitModuleId > 0" [selectedValue]="model.exitAccountId" [bindLabel]="'code-name'"
            (selectedValueChanges)="model.exitAccountId = ($event == null) ? null : $event.accountTreeId">
          </app-account-arbor>
        </div>
        <div class="form-group col-md-2"><br>
          <label>{{'Stock.VATAccount'|translate}}</label>
        </div>
        <div class="form-group col-md-5">
          <label>{{'Stock.ModuleTree'|translate}}</label>
          <app-module-arbor [treeView]="false" [filterType]="'child'" [selectedValue]="model.vatModuleId"
            (selectedValueChanges)="moduleTreeChange($event,'vat','html')" [bindLabel]="'code-name'">
          </app-module-arbor>
        </div>
        <div class="form-group col-md-5">
          <label>{{'Stock.AccountTree'|translate}}</label>
          <app-account-arbor [treeView]="false" [filterType]="'master'" *ngIf="model.vatModuleId == null"
            [selectedValue]="model.vatAccountId" [bindLabel]="'code-name'"
            (selectedValueChanges)="model.vatAccountId = ($event == null) ? null : $event.accountTreeId">
          </app-account-arbor>
          <app-account-arbor [treeView]="false" [filterType]="'list'" [fliterValue]="model.vatTreeList"
            *ngIf="model.vatModuleId > 0" [selectedValue]="model.vatAccountId" [bindLabel]="'code-name'"
            (selectedValueChanges)="model.vatAccountId = ($event == null) ? null : $event.accountTreeId">
          </app-account-arbor>
        </div>
      </div>
      <div class="form-action">
        <button type="submit" class="btn btn-success" [disabled]="stockForm.invalid || checkCode" (click)="saveStock()">
          <i class="la la-save"></i> {{'Common.Save' | translate}}
        </button>
        <a [routerLink]="[ '/store/stock/list']" class="btn btn-warning"><i class="la la-close"></i>
          {{'Common.Close' | translate}}
        </a>
        <button class="btn btn-danger" [swal]="DeleteMessage" (confirm)="deleteStock(model.stockId)"
          title="{{'Common.Delete'| translate}}" *ngIf="model.stockId > 0">
          <i class="la la-trash-o"></i> {{'Common.Delete' | translate}}
        </button>
      </div>
    </form>
  </div>
</div>
<swal #DeleteMessage title="{{'Common.DeleteConfirmMessage'|translate}}" type="error"
  confirmButtonText="{{'Common.Confirm'|translate}}" cancelButtonText="{{'Common.Cancel'|translate}}"
  [confirmButtonColor]="'#d33'" [focusCancel]="true" [focusConfirm]="false" [showCloseButton]="false"
  [showCancelButton]="true" [showConfirmButton]="true">
</swal>