<div class="input-group">
  <ng-select [items]="governments" bindLabel="name" bindValue="governmentId" [(ngModel)]="selectedValue"
    (change)="selectedValueChanges.emit(selectedValue)" (clear)="selectedValueChanges.emit(null)" [clearable]="true"
    placeholder="{{'Common.Select'|translate}}"
    notFoundText="{{'Common.notFoundText'|translate}}">
  </ng-select>
  <div class="input-group-append" (click)="openModal(governmentModal)">
    <span class="input-group-text btn btn-primary"><i class="fa fa-search-plus white"></i></span>
  </div>
</div>
<ng-template #governmentModal>
  <div class="modal-header pb-1 pt-2">
    <a class="btn btn-default btn-pill btn-sm btn-icon btn-icon-md custom-sm" (click)="operation()"
      tooltip="{{'Common.Add'|translate}}" placement="auto">
      <i class="flaticon2-add-1"></i></a>
    <h4 class="modal-title pull-left m-010">{{'Government.Title'|translate}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="input-group justify-content-center" *ngIf="!GovernmentOperation">
      <div class="kt-input-icon kt-input-icon--right">
        <input type="text" class="form-control" name="search" [(ngModel)]="search"
          placeholder="{{'Common.Search'|translate}}">
        <span class="kt-input-icon__icon kt-input-icon__icon--right"><span><i class="flaticon-search"></i></span></span>
      </div>
    </div>
    <div *ngIf="GovernmentOperation">
      <form #ProductForm="ngForm">
        <div class="row">
          <div class="form-group col-md-12">
               <label>{{'Government.NameEn'| translate}}</label>
               <input type="text" class="form-control" name="nameen" [(ngModel)]="model.nameen" #nameen="ngModel" required
               [ngClass]="{'parsley-error': (nameen.invalid && nameen.touched), 'parsley-success': nameen.valid }">
               <ul class="parsley-errors-list filled">
               <li class="parsley-required" *ngIf="nameen.errors?.required && nameen.touched">
               {{'Government.NameEn'| translate}} {{'Common.IsRequired'| translate}}</li>
               </ul>
          </div>
          <div class="form-group col-md-12">
            <label>{{'Government.NameAr'| translate}}</label>
            <input type="text" class="form-control" name="namear" [(ngModel)]="model.namear" #namear="ngModel" required
              [ngClass]="{'parsley-error': namear.invalid && namear.touched, 'parsley-success': namear.valid }">
            <ul class="parsley-errors-list filled">
              <li class="parsley-required" *ngIf="namear.errors?.required && namear.touched">
                {{'Government.NameAr'| translate}} {{'Common.IsRequired'| translate}}</li>
            </ul>
          </div>
        </div>
        <div class="form-action mt-2">
          <button type="submit" class="btn btn-success" [disabled]="ProductForm.invalid" (click)="saveUnit()">
            <i class="la la-save"></i> {{'Common.Save' | translate}}
          </button>
          <button (click)="GovernmentOperation = false" class="btn btn-warning"><i class="la la-close"></i>
            {{'Common.Close' | translate}}</button>
          <button class="btn btn-danger" [swal]="DeleteMessage" (confirm)="delete(model.governmentId)"
            title="{{'Common.Delete'| translate}}" *ngIf="model.governmentId > 0">
            <i class="la la-trash-o"></i> {{'Common.Delete' | translate}}</button>
        </div>
      </form>
    </div>
    <div class="table-responsive mt-3">
      <table class="table table-striped table-sm">
        <thead class="thead-light">
          <tr>
            <th scope="col">#</th>
            <th scope="col">{{'Government.NameAr'|translate}}</th>
            <th scope="col">{{'Government.NameEn'|translate}}</th>
            <th scope="col">{{'Common.Tools'|translate}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of governments | filter: {NameAr: search,NameEn :search};let i=index">
            <td scope="row">{{i+1}}</td>
            <td>{{item.namear}}</td>
            <td>{{item.nameen}}</td>
            <td>
              <a class="grid-tool" tooltip="{{'Common.Select'| translate}}"
                (click)="selectedValue=item.governmentId ;selectedValueChanges.emit(item.governmentId);modalRef.hide()">
                <i class="la la-magnet"></i></a>
              <a class="grid-tool" (click)="operation(item)" tooltip="{{'Common.Edit'| translate}}">
                <i class="flaticon-edit-1"></i></a>
              <a class="grid-tool" [swal]="DeleteMessage" (confirm)="delete(item.governmentId)"
                tooltip="{{'Common.Delete'|translate}}"><i class="flaticon-delete"></i></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</ng-template>
<swal #DeleteMessage title="{{'Common.DeleteConfirmMessage'|translate}}" type="error"
  confirmButtonText="{{'Common.Confirm'|translate}}" cancelButtonText="{{'Common.Cancel'|translate}}"
  [confirmButtonColor]="'#d33'" [focusCancel]="true" [focusConfirm]="false" [showCloseButton]="false"
  [showCancelButton]="true" [showConfirmButton]="true">
</swal>