<div class="kt-portlet">
  <div class="kt-portlet__head">
    <div class="kt-portlet__head-label">
      <h4 class="kt-portlet__head-title" *ngIf="model.centerId == null">
        {{'Center.Add'|translate}}
      </h4>
      <h4 class="kt-portlet__head-title" *ngIf="model.centerId > 0">
        {{'Center.Edit'|translate}}
      </h4>
    </div>
    <div class="kt-portlet__head-toolbar">
      <div class="kt-portlet__head-actions">

      </div>
    </div>
  </div>
  <div class="kt-portlet__body">
    <form #stockForm="ngForm">
      <div class="row">
        <div class="form-group col-md-3">
          <label>{{'Center.Code'|translate}}</label>
          <input type="text" class="form-control" name="code" [(ngModel)]="model.code" #code="ngModel" required
            (blur)="checkStockCode(model.code)"
            [ngClass]="{'parsley-error': (code.invalid && code.touched) || checkCode, 'parsley-success': code.valid && !checkCode}">
          <ul class="parsley-errors-list filled">
            <li class="parsley-required" *ngIf="code.errors?.required && code.touched">
              {{'Center.Code'|translate}} {{'Common.IsRequired'|translate}}</li>
            <li class="parsley-required" *ngIf="checkCode">
              {{'Center.CheckCode'|translate}}</li>
          </ul>
        </div>
        <div class="form-group col-md-9">
          <label>{{'Center.Name'|translate}}</label>
          <input type="text" class="form-control" name="name" [(ngModel)]="model.name" #name="ngModel">
        </div>
        <div class="form-group col-md-2"><br>
          <label>{{'Center.BillAccount'|translate}}</label>
        </div>
        <div class="form-group col-md-5">
          <label>{{'Center.ModuleTree'|translate}}</label>
          <app-module-arbor [treeView]="false" [filterType]="'child'" [selectedValue]="model.billModuleId"
            (selectedValueChanges)="moduleTreeChange($event,'bill','html')" [bindLabel]="'code-name'">
          </app-module-arbor>
        </div>
        <div class="form-group col-md-5">
          <label>{{'BillAccount.AccountTree'|translate}}</label>
          <app-account-arbor [treeView]="false" [filterType]="'master'" *ngIf="model.billModuleId == null"
            [selectedValue]="model.billAccountId" [bindLabel]="'code-name'"
            (selectedValueChanges)="model.billAccountId = ($event == null) ? null : $event.accountTreeId">
          </app-account-arbor>
          <app-account-arbor [treeView]="false" [filterType]="'list'" [fliterValue]="model.stockTreeList"
            *ngIf="model.billModuleId > 0" [selectedValue]="model.billAccountId" [bindLabel]="'code-name'"
            (selectedValueChanges)="model.billAccountId = ($event == null) ? null : $event.accountTreeId">
          </app-account-arbor>
        </div>
      </div>
      <div class="form-action">
        <button type="submit" class="btn btn-success" [disabled]="stockForm.invalid" (click)="saveStock()">
          <i class="la la-save"></i> {{'Common.Save' | translate}}
        </button>
        <a [routerLink]="[ '/maintenance/center/list']" class="btn btn-warning"><i class="la la-close"></i>
          {{'Common.Close' | translate}}
        </a>
        <button class="btn btn-danger" [swal]="DeleteMessage" (confirm)="deleteStock(model.centerId)"
          title="{{'Common.Delete'| translate}}" *ngIf="model.centerId > 0">
          <i class="la la-trash-o"></i> {{'Common.Delete' | translate}}
        </button>
      </div>
    </form>
  </div>
</div>

<swal #DeleteMessage title="{{'Common.DeleteConfirmMessage'|translate}}" type="error"
  confirmButtonText="{{'Common.Confirm'|translate}}" cancelButtonText="{{'Common.Cancel'|translate}}"
  [confirmButtonColor]="'#d33'" [focusCancel]="true" [focusConfirm]="false" [showCloseButton]="false"
  [showCancelButton]="true" [showConfirmButton]="true">
</swal>