<div class="kt-portlet">
  <div class="kt-portlet__head" [ngClass]="{'alert alert-danger mb-0': model?.isVoided}">
    <div class="kt-portlet__head-label">
      <h4 class="kt-portlet__head-title" *ngIf="model.stockTransferDocumentId == null">
        {{'StockTransferDocument.Add'|translate}}
      </h4>
      <h4 class="kt-portlet__head-title" *ngIf="model.stockTransferDocumentId > 0"
        [ngClass]="{'white': model?.isVoided}">
        {{'StockTransferDocument.Show'|translate}}
      </h4>
    </div>
    <div class="kt-portlet__head-toolbar">
      <div class="kt-portlet__head-actions" *ngIf="model?.isVoided">
        <i class="flaticon2-trash"></i>
        {{'StockTransferDocument.Void'| translate}}
      </div>
    </div>
  </div>
  <div class="kt-portlet__body">
    <form #StockTransferDocumentForm="ngForm">
      <div class="row">
        <div class="form-group col-md-4">
          <label>{{'StockTransferDocument.Date'|translate}}</label>
          <input type="text" class="form-control" name="date" [(ngModel)]="model.date" #date="ngModel" bsDatepicker
            [bsConfig]="fixed.datePickerConfig" autocomplete="off" (bsValueChange)="getTransactionNo($event)"
            [ngClass]="{'parsley-error': (model.date == null || model.date == 'Invalid Date') && date.touched}"
            [disabled]="model.stockTransferDocumentId > 0" required >
          <ul class="parsley-errors-list filled">
            <li class="parsley-required" *ngIf="model.date == null && date.touched">
              {{'StockTransferDocument.Date'|translate}} {{'Common.IsRequired'|translate}}</li>
            <li class="parsley-required" *ngIf="model.date == 'Invalid Date' && date.touched">
              {{'StockTransferDocument.Date'|translate}} {{'Common.Error'|translate}}</li>
            <li class="parsley-required" *ngIf="checkDate == false && date.touched">
              {{'StockOutDocument.Date'|translate}} {{'Common.DateNotVaild'|translate}}</li>
          </ul>
        </div>
        <div class="form-group col-md-4">
          <label>{{'StockTransferDocument.TransactionNo'|translate}}</label>
          <input type="text" class="form-control" name="transactionNo" [(ngModel)]="model.transactionNo"
            #transactionNo="ngModel" disabled>
        </div>
        <div class="form-group col-md-4">
          <label>{{'StockTransferDocument.FromStock'|translate}}</label>
          <app-stock-shared [selectedValue]="model.fromStockId" [filterStock]="model.toStockId"
            (selectedValueChanges)="model.fromStockId = $event"
            [disable]="model.stockTransferDocumentId > 0 || model.stO_StockTransferDocumentItem.length >0">
          </app-stock-shared>
          <ul class="parsley-errors-list filled">
            <li class="parsley-required" *ngIf="model.fromStockId == null">
              {{'StockTransferDocument.FromStock'|translate}} {{'Common.IsRequired'|translate}}</li>
          </ul>
        </div>
        <div class="form-group col-md-4">
          <label>{{'StockTransferDocument.ToStock'|translate}}</label>
          <app-stock-shared [selectedValue]="model.toStockId" [filterStock]="model.fromStockId"
            (selectedValueChanges)="model.toStockId = $event" [disable]="model.stockTransferDocumentId > 0">
          </app-stock-shared>
          <ul class="parsley-errors-list filled">
            <li class="parsley-required" *ngIf="model.toStockId == null">
              {{'StockTransferDocument.ToStock'|translate}} {{'Common.IsRequired'|translate}}</li>
          </ul>
        </div>
        <div class="form-group col-md-4">
          <label>{{'StockTransferDocument.InvoiceNumber'|translate}}</label>
          <input type="text" class="form-control" name="invoiceNumber" [(ngModel)]="model.invoiceNumber"
            #invoiceNumber="ngModel" [disabled]="model.stockTransferDocumentId >0">
          <ul class="parsley-errors-list filled">
            <li class="parsley-required" *ngIf="model.invoiceNumber == null">
              {{'StockTransferDocument.InvoiceNumber'|translate}} {{'Common.IsRequired'|translate}}</li>
          </ul>
        </div>
        <div class="form-group col-md-4">
          <label>{{'StockTransferDocument.Total'|translate}}</label>
          <input type="text" class="form-control" name="total" [(ngModel)]="model.total" #total="ngModel" disabled>
        </div>
        <div class="form-group col-md-12">
          <label>{{'StockTransferDocument.Description'|translate}}</label>
          <input type="text" class="form-control" name="description" [(ngModel)]="model.description" #total="ngModel">
        </div>
      </div>
      <div class="kt-section mb-0 mt-2">
        <h3 class="kt-section__title mb-0">
          <a class="btn btn-default btn-pill btn-sm btn-icon btn-icon-md custom-sm" (click)="itemOperation()"
            tooltip="{{'Common.Add'|translate}}" placement="auto"
            *ngIf="!model?.isVoided && model.stockTransferDocumentId == null">
            <i class="flaticon2-add-1"></i></a>
          <span class="m-010">{{'StockTransferDocument.Details'|translate}}</span>
        </h3>
      </div>
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead class="thead-light">
            <tr>
              <th scope="col" *ngIf="false">#</th>
              <th scope="col" class="width-10">{{'StockOpening.Barcode'|translate}}</th>
              <th scope="col" class="width-25">{{'StockOpening.Product'|translate}}</th>
              <th scope="col" class="width-10">{{'StockOpening.Unit'|translate}}</th>
              <th scope="col">{{'Invoice.BatchNumber'|translate}} -- {{'Invoice.ExpiryDate'|translate}}</th>
              <th scope="col" class="width-10">{{'StockOpening.QtyInUom'|translate}}</th>
              <th scope="col" class="width-10">{{'StockOpening.UomPrice'|translate}}</th>
              <th scope="col" class="width-10">{{'StockOpening.TotalPrice'|translate}}</th>
              <th scope="col" *ngIf="!model?.isVoided && model.stockTransferDocumentId == null">
                {{'Common.Tools'|translate}}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of model.stO_StockTransferDocumentItem | orderBy: 'itemId'; let i=index"
              [hidden]="item.isDeleted">
              <th scope="row" *ngIf="false">
                <input type="text" class="form-control" name="itemId{{i}}" [(ngModel)]="item.itemId"
                  *ngIf="item.operation == 'e'">
                <span *ngIf="item.operation == 's'">{{item.itemId}}</span>
              </th>
              <td class="width-10">
                <input type="number" class="form-control" name="uomBarCode{{i}}" [(ngModel)]="item.uomBarCode"
                  *ngIf="item.operation == 'e'" disabled>
                <span *ngIf="item.operation == 's'">{{item.uomBarCode}}</span>
              </td>
              <td class="width-25">
                <app-product-shared [(stockId)]="model.fromStockId" [hidden]="item.operation == 's'"
                  [(selectedValue)]="item.product" (selectedValueChanges)="selectProduct($event,item)">
                </app-product-shared>
                <span [hidden]="item.operation == 'e'">
                  {{item.product?.code}}
                  -{{(fixed.activeLang.code == 'ar')? item.product?.nameAr : item.product?.nameEn}}</span>
              </td>
              <td class="width-10">
                <ng-select notFoundText="{{'Common.notFoundText'|translate}}" [items]="item.units" name="units{{i}}"
                  bindLabel="name" bindValue="unitId" [(ngModel)]="item.unitId" [clearable]="false"
                  (change)="unitChange(item)" placeholder="{{'Common.Select'|translate}}" *ngIf="item.operation == 'e'">
                </ng-select>
                <span *ngIf="item.operation == 's'">{{(item.units | filterById: 'unitId': item.unitId)[0]?.name}}</span>
              </td>
              <td>
                <ng-select notFoundText="{{'Common.notFoundText'|translate}}" *ngIf="item.operation == 'e'"
                  [items]="item.batchExpireList" name="batchExpireList{{i}}" [(ngModel)]="item.batchExpire"
                  (change)="batchExpireChange(item)" [clearable]="false" placeholder="{{'Common.Select'|translate}}">
                  <ng-template ng-label-tmp let-item="item">
                    <span *ngIf="fixed.activeLang.code == 'en'">
                      {{item.batchNumber}} -- {{item.expiryDate | date:'dd MMM y':null:'en-US'}}
                    </span>
                    <span *ngIf="fixed.activeLang.code == 'ar'">
                      {{item.batchNumber}} -- {{item.expiryDate | date:'dd MMM y':null:'ar-SA'}}
                    </span>
                  </ng-template>
                  <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                    <span *ngIf="fixed.activeLang.code == 'en'">
                      {{item.batchNumber}} -- {{item.expiryDate | date:'dd MMM y':null:'en-US'}}
                    </span>
                    <span *ngIf="fixed.activeLang.code == 'ar'">
                      {{item.batchNumber}} -- {{item.expiryDate | date:'dd MMM y':null:'ar-SA'}}
                    </span>
                  </ng-template>
                </ng-select>
                <span *ngIf="item.operation == 's' && fixed.activeLang.code == 'en'">
                  {{item.batchNumber}} -- {{item.expiryDate | date:'dd MMM y':null:'en-US'}}
                </span>
                <span *ngIf="item.operation == 's' && fixed.activeLang.code == 'ar'">
                  {{item.batchNumber}} -- {{item.expiryDate | date:'dd MMM y':null:'ar-SA'}}
                </span>
              </td>
              <td class="width-10">
                <input type="number" class="form-control" name="qtyInUom{{i}}" [(ngModel)]="item.qtyInUom" min="1"
                  *ngIf="item.operation == 'e'" (input)="item.totalPrice = item.uomPrice * item.qtyInUom"
                  [max]="item.maxQty">
                <span *ngIf="item.operation == 's'">{{item.qtyInUom}}</span>
              </td>
              <td class="width-10">
                <input type="number" class="form-control" name="uomPrice{{i}}" [(ngModel)]="item.uomPrice" min="0"
                  *ngIf="item.operation == 'e'" disabled>
                <span *ngIf="item.operation == 's'">{{item.uomPrice | number : '1.2-2'}}</span>
              </td>
              <td class="width-10">
                <input type="number" class="form-control" name="totalPrice{{i}}" [(ngModel)]="item.totalPrice"
                  *ngIf="item.operation == 'e'" disabled>
                <span *ngIf="item.operation == 's'">{{item.totalPrice | number : '1.2-2'}}</span>
              </td>
              <td *ngIf="model.stockTransferDocumentId == null">
                <a class="grid-tool" (click)="itemOperation(item)" tooltip="{{'Common.Edit'| translate}}"
                  *ngIf="item.operation == 's'">
                  <i class="flaticon-edit-1"></i></a>
                <a class="grid-tool" (click)="itemFinish('save', item, i)" tooltip="{{'Common.Save'| translate}}"
                  *ngIf="item.operation == 'e'">
                  <i class="la la-save"></i></a>
                <a class="grid-tool" [swal]="DeleteMessage" (confirm)="itemDelete(item,i)"
                  tooltip="{{'Common.Delete'|translate}}" *ngIf="item.operation == 's'"><i
                    class="flaticon-delete"></i></a>
                <a class="grid-tool" (click)="itemFinish('close', item, i)" tooltip="{{'Common.Close'|translate}}"
                  *ngIf="item.operation == 'e'"><i class="la la-close"></i></a>
              </td>
            </tr>
            <tr><a class="btn btn-success white mt-2" (click)="itemOperation()"
                *ngIf="!model?.isVoided && model.stockTransferDocumentId  == null">{{'Common.Add'| translate}}</a></tr>
          </tbody>
        </table>
      </div>
      <div class="form-action">
        <button type="submit" class="btn btn-success" [disabled]="StockTransferDocumentForm.invalid || lockGridEdit || model.fromStockId == model.toStockId 
               || model.fromStockId == null || model.toStockId == null || model.invoiceNumber == null"
          (click)="saveStockTransferDocument()" *ngIf="!model?.isVoided && model.stockTransferDocumentId == null">
          <i class="la la-save"></i> {{'Common.Save' | translate}}
        </button>
        <a [routerLink]="[ '/store/stock-transfer-document/list' ]" class="btn btn-warning"><i class="la la-close"></i>
          {{'Common.Close' | translate}}
        </a>
        <button class="btn btn-danger" [swal]="DeleteMessage"
          (confirm)="voidedTransaction(model.stockTransferDocumentId)" title="{{'Common.Delete'| translate}}"
          *ngIf="model?.stockTransferDocumentId > 0 && !model?.isVoided">
          <i class="la la-trash-o"></i> {{'Common.Delete' | translate}}</button>
        <button class="btn btn-primary" (click)="PrintReport()" title="{{'Common.Print'| translate}}"
          *ngIf="model?.stockTransferDocumentId > 0 && !model?.isVoided">
          <i class="la la-print"></i> {{'Common.Print' | translate}}</button>
      </div>
    </form>
  </div>
</div>
<swal #DeleteMessage title="{{'Common.DeleteConfirmMessage'|translate}}" type="error"
  confirmButtonText="{{'Common.Confirm'|translate}}" cancelButtonText="{{'Common.Cancel'|translate}}"
  [confirmButtonColor]="'#d33'" [focusCancel]="true" [focusConfirm]="false" [showCloseButton]="false"
  [showCancelButton]="true" [showConfirmButton]="true">
</swal>
<swal #operationError title="{{'Message.Warning'|translate}}"
  html="<span class='red-custom text-bold'>{{'Message.OperationError'|translate}}</span>" type="error"
  [showCloseButton]="false" [showCancelButton]="false" [showConfirmButton]="false">
</swal>