<div class="row">
    <div class="col-md-4">
      loading tree
    </div>
    <div class="col-md-8">
      <div class="kt-portlet">
        <div class="kt-portlet__head">
          <div class="kt-portlet__head-label">
            <h4 class="kt-portlet__head-title" *ngIf="model.caseId == null">
              {{'Case.Add'|translate}}
            </h4>
            <h4 class="kt-portlet__head-title" *ngIf="model.caseId > 0">
              {{'Case.Edit'|translate}}
            </h4>
          </div>
          <div class="kt-portlet__head-toolbar">
            <div class="kt-portlet__head-actions">
              <a (click)="treeChanges()" class="btn btn-default btn-pill btn-sm btn-icon btn-icon-md custom-sm"
                tooltip="{{'Case.Add'|translate}}" placement="auto">
                <i class="flaticon2-add-1"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="kt-portlet__body">
          <form #Case="ngForm">
            <div class="row">
              <div class="form-group col-md-4">
                <label>{{'Case.NameAr'|translate}}</label>
                <input type="text" class="form-control" name="nameAr" [(ngModel)]="model.nameAr" #nameAr="ngModel" required
                  [ngClass]="{'parsley-error': (nameAr.invalid && nameAr.touched), 'parsley-success': nameAr.valid }">
                <ul class="parsley-errors-list filled">
                  <li class="parsley-required" *ngIf="nameAr.errors?.required && nameAr.touched">
                    {{'Case.NameAr'|translate}} {{'Common.IsRequired'|translate}}</li>
                </ul>
              </div>
              <div class="form-group col-md-4">
                  <label>{{'Case.NameEn'|translate}}</label>
                  <input type="text" class="form-control" name="nameEn" [(ngModel)]="model.nameEn" #nameEn="ngModel" required
                    [ngClass]="{'parsley-error': (nameEn.invalid && nameEn.touched), 'parsley-success': nameEn.valid }">
                  <ul class="parsley-errors-list filled">
                    <li class="parsley-required" *ngIf="nameEn.errors?.required && nameEn.touched">
                      {{'Case.NameEn'|translate}} {{'Common.IsRequired'|translate}}</li>
                  </ul>
              </div>
              <div class="form-group col-md-4">
                  <label>{{'Case.Date'|translate}}</label>
                  <input type="text" class="form-control" name="date" [(ngModel)]="model.date" #date="ngModel" required
                    bsDatepicker
                    [bsConfig]="fixed.datePickerConfig"
                    [ngClass]="{'parsley-error': (date.invalid && date.touched), 'parsley-success': date.valid }">
                  <ul class="parsley-errors-list filled">
                    <li class="parsley-required" *ngIf="date.errors?.required && date.touched">
                      {{'Case.date'|translate}} {{'Common.IsRequired'|translate}}</li>
                  </ul>
              </div>
              <div class="form-group col-md-3">
                  <label>{{'Case.CaseStage'|translate}}</label>
                  <app-case-stage (selectedValueChanges)="model.CaseStageId = $event"
                  ></app-case-stage>
              </div>
              <div class="form-group col-md-3">
                  <label>{{'Case.DomesticIndustry'|translate}}</label>
                  <app-domesticindustry (selectedValueChanges)="model.DomesticIndustryId = $event"></app-domesticindustry>
              </div>
              <div class="form-group col-md-3">
                <label>{{'Case.ActionTaken'|translate}}</label>
                <app-actiontaken (selectedValueChanges)="model.ActionTakenId = $event"></app-actiontaken>
              </div>
              <div class="form-group col-md-3">
                <label>{{'Case.Government'|translate}}</label>
                <app-government (selectedValueChanges)="model.GovernmentId = $event"></app-government>
              </div>
              <div class="form-group col-md-3">
                  <label>{{'Case.CaseType'|translate}}</label>
                  <ng-select [items]="CaseTypes" bindValue="caseTypeId"
                      placeholder="{{'Common.Select'|translate}}"
                      name="CaseTypes" [(ngModel)]="model.caseTypeId" #caseTypes="ngModel"
                      notFoundText="{{'Common.notFoundText'|translate}}"
                      >
                      <ng-template ng-label-tmp let-item="item">
                      <div>{{(fixed.activeLang.code == 'ar')? item.nameAr : item.nameEn}}</div>
                      </ng-template>
                      <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                      <div>{{(fixed.activeLang.code == 'ar')? item.nameAr : item.nameEn}}</div>
                      </ng-template>
                  </ng-select>
              </div>
              <div class="form-group col-md-4">
                  <br>
                  <label class="fancy-radio">
                      <input type="radio" name="CaseStatus" [value]="true" [(ngModel)]="model.CaseStatus">
                      <span><i></i>{{'Case.CaseOpen'|translate}}</span>
                  </label>
                  <label class="fancy-radio">
                      <input type="radio" name="CaseStatus" [value]="false" [(ngModel)]="model.CaseStatus">
                      <span><i></i>{{'Case.CaseClosed'|translate}}</span>
                  </label>
              </div>
            </div>
            <div class="form-action">
              <button type="submit" class="btn btn-success" [disabled]="Case.invalid" (click)="saveCategoryTree()">
                <i class="la la-save"></i> {{'Common.Save' | translate}}
              </button>
              <button (click)="treeChanges()" class="btn btn-warning"><i class="la la-close"></i>
                {{'Common.Close' | translate}}</button>
              <button class="btn btn-danger" [swal]="DeleteMessage" (confirm)="deleteCategoryTree()"
                title="{{'Common.Delete'| translate}}" *ngIf="model.caseId > 0">
                <i class="la la-trash-o"></i> {{'Common.Delete' | translate}}</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <swal #confirmChanges title="{{'Message.Warning'|translate}}"
    html="<span class='red-custom'>{{'Category.ChangesNotSaved'|translate}}</span>" type="warning"
    [showCloseButton]="true" [showCancelButton]="true" [showConfirmButton]="true" (confirm)="treeChanges(tempData, true)"
    confirmButtonText="{{'Category.IgnoreChanges'|translate}}" cancelButtonText="{{'Common.Cancel'|translate}}">
  </swal>
  <swal #DeleteMessage title="{{'Common.DeleteConfirmMessage'|translate}}" type="error"
    confirmButtonText="{{'Common.Confirm'|translate}}" cancelButtonText="{{'Common.Cancel'|translate}}"
    [confirmButtonColor]="'#d33'" [focusCancel]="true" [focusConfirm]="false" [showCloseButton]="false"
    [showCancelButton]="true" [showConfirmButton]="true">
  </swal>