<div class="kt-portlet">
  <div class="kt-portlet__head">
    <div class="kt-portlet__head-label">
      <h4 class="kt-portlet__head-title" *ngIf="model.productId == null">
        {{'Product.Add'|translate}}
      </h4>
      <h4 class="kt-portlet__head-title" *ngIf="model.productId > 0">
        {{'Product.Edit'|translate}}
      </h4>
    </div>
    <div class="kt-portlet__head-toolbar">
      <div class="kt-portlet__head-actions">

      </div>
    </div>
  </div>
  <div class="kt-portlet__body">
    <form #productForm="ngForm">
      <div class="row">
        <div class="form-group col-md-4">
          <label>{{'Product.Code'|translate}}</label>
          <input type="text" class="form-control" name="code" [(ngModel)]="model.code" #code="ngModel" required
            [ngClass]="{'parsley-error': (code.invalid && code.touched) || checkCode, 'parsley-success': code.valid || !checkCode}"
            (blur)="checkCodeOperation()">
          <ul class="parsley-errors-list filled">
            <li class="parsley-required" *ngIf="code.errors?.required && code.touched">
              {{'Product.Code'|translate}} {{'Common.IsRequired'|translate}}</li>
            <li class="parsley-required" *ngIf="checkCode">
              {{'Product.CheckCode'|translate}}</li>
          </ul>
        </div>
        <div class="form-group col-md-4">
          <label>{{'Product.NameAr'|translate}}</label>
          <input type="text" class="form-control" name="nameAr" [(ngModel)]="model.nameAr" #nameAr="ngModel" required
            [ngClass]="{'parsley-error': nameAr.invalid && nameAr.touched, 'parsley-success': nameAr.valid }">
          <ul class="parsley-errors-list filled">
            <li class="parsley-required" *ngIf="nameAr.errors?.required && nameAr.touched">
              {{'Product.NameAr'|translate}} {{'Common.IsRequired'|translate}}</li>
          </ul>
        </div>
        <div class="form-group col-md-4">
          <label>{{'Product.NameEn'|translate}}</label>
          <input type="text" class="form-control" name="nameEn" [(ngModel)]="model.nameEn" #nameEn="ngModel" required
            [ngClass]="{'parsley-error': nameEn.invalid && nameEn.touched, 'parsley-success': nameEn.valid }">
          <ul class="parsley-errors-list filled">
            <li class="parsley-required" *ngIf="nameEn.errors?.required && nameEn.touched">
              {{'Product.NameEn'|translate}} {{'Common.IsRequired'|translate}}</li>
          </ul>
        </div>
        <div class="form-group col-md-4">
          <label>{{'Product.Category'|translate}}</label>
          <app-category-arbor [treeView]="false" [selectedValue]="model.categoryId" [bindLabel]="'code-name'"
            (selectedValueChanges)="model.categoryId = $event.categoryId"></app-category-arbor>
        </div>
        <div class="form-group col-md-4">
          <label>{{'Product.Country'|translate}}</label>
          <app-country [selectedValue]="model.countryId" (selectedValueChanges)="model.countryId = $event">
          </app-country>
        </div>
        <div class="form-group col-md-4">
          <label>{{'Product.MaxDiscountValue'|translate}}</label>
          <input type="number" class="form-control" name="maxDiscountValue" [(ngModel)]="model.maxDiscountValue"
            #maxDiscountValue="ngModel">
        </div>
        <div class="form-group col-md-4">
          <label>{{'Category.VAT'|translate}}</label>
          <input type="number" class="form-control" name="vat" [(ngModel)]="model.vat"
          #vat="ngModel">
        </div>
      </div>
      <div class="split-form"></div>
      <div class="row">
        <div class="form-group col-md-4">
          <label>{{'Product.SmallUomName'|translate}}</label>
          <app-unit [selectedValue]="model.smallUomName" (selectedValueChanges)="model.smallUomName =$event;checkPrice('small')">
          </app-unit>
        </div>
        <div class="form-group col-md-4">
          <label>{{'Product.SmallUomBarCode'|translate}}</label>
          <input type="text" class="form-control" name="smallUomBarCode" (blur)="checkUnitBarCode(model.smallUomBarCode,'small')"
            [(ngModel)]="model.smallUomBarCode" #smallUomBarCode="ngModel"
            [ngClass]="{'parsley-error': flag=='small'&& (checkBarCode || !validBar), 'parsley-success': !checkBarCode || validBar }">
            <ul class="parsley-errors-list filled">
                <li class="parsley-required" *ngIf="flag=='small'&& !validBar">
                {{'Product.UnvalidBarCode'|translate}}</li>
              <li class="parsley-required" *ngIf="flag=='small'&& checkBarCode">
                {{'Product.SmallUomBarCodeExistsBefore'|translate}}</li>
            </ul>
        </div>
        <div class="col-md-4"></div>
        <div class="form-group col-md-4">
          <label>{{'Product.MediumUomName'|translate}}</label>
          <app-unit [selectedValue]="model.mediumUomName" (selectedValueChanges)="model.mediumUomName  = $event;checkPrice('medium')">
          </app-unit>
        </div>
        <div class="form-group col-md-4">
          <label>{{'Product.MediumUomBarCode'|translate}}</label>
          <input type="text" class="form-control" name="mediumUomBarCode" (blur)="checkUnitBarCode(model.mediumUomBarCode,'medium')"
            [(ngModel)]="model.mediumUomBarCode" #mediumUomBarCode="ngModel"
            [ngClass]="{'parsley-error': flag=='medium'&& (checkBarCode || !validBar), 'parsley-success': flag=='medium'&&(!checkBarCode || validBar) }">
            <ul class="parsley-errors-list filled">
                <li class="parsley-required" *ngIf="flag=='medium'&& !validBar">
                {{'Product.UnvalidBarCode'|translate}}</li>
              <li class="parsley-required" *ngIf="flag=='mediu'&& checkBarCode">
                {{'Product.MediumUomBarCodeExistsBefore'|translate}}</li>
            </ul>
        </div>
        <div class="form-group col-md-4">
          <label>{{'Product.MediumUomFactor'|translate}}</label>
          <input type="number" class="form-control" name="mediumUomFactor" [(ngModel)]="model.mediumUomFactor"
            #mediumUomFactor="ngModel">
        </div>
        <div class="form-group col-md-4">
          <label>{{'Product.LargeUomName'|translate}}</label>
          <app-unit [selectedValue]="model.largeUomName" (selectedValueChanges)="model.largeUomName = $event;checkPrice('large')">
          </app-unit>
        </div>
        <div class="form-group col-md-4">
          <label>{{'Product.LargeUomBarCode'|translate}}</label>
          <input type="text" class="form-control" name="largeUomBarCode" (blur)="checkUnitBarCode(model.largeUomBarCode,'large')"
            [(ngModel)]="model.largeUomBarCode" #largeUomBarCode="ngModel"
            [ngClass]="{'parsley-error': flag=='large'&& (checkBarCode || !validBar), 'parsley-success': flag=='large'&&(!checkBarCode || validBar) }">
            <ul class="parsley-errors-list filled">
                <li class="parsley-required" *ngIf="flag=='large'&& !validBar">
                {{'Product.UnvalidBarCode'|translate}}</li>
              <li class="parsley-required" *ngIf="flag=='large'&& checkBarCode">
                {{'Product.LargeUomBarCodeExistsBefore'|translate}}</li>
            </ul>
        </div>
        <div class="form-group col-md-4">
          <label>{{'Product.LargeUomFactor'|translate}}</label>
          <input type="number" class="form-control" name="largeUomFactor" [(ngModel)]="model.largeUomFactor"
            #largeUomFactor="ngModel">
        </div>
        <div class="form-group col-md-4 mt-2">
          <br>
          <label class="fancy-checkbox">
            <input type="checkbox" name="hasBatchNumber" [(ngModel)]="model.hasBatchNumber" #hasBatchNumber="ngModel">
            <span>{{'Product.HasBatchNumber'|translate}}</span>
          </label>
        </div>
        <div class="form-group col-md-4 mt-2">
          <br>
          <label class="fancy-checkbox">
            <input type="checkbox" class="form-control" name="hasDateValidity" [(ngModel)]="model.hasDateValidity"
              #hasDateValidity="ngModel">
            <span>{{'Product.HasDateValidity'|translate}}</span>
          </label>
        </div>
      </div>
      <div class="kt-section mb-0 mt-2">
        <h3 class="kt-section__title mb-0">
          <a class="btn btn-default btn-pill btn-sm btn-icon btn-icon-md custom-sm" (click)="priceListOperation()"
            tooltip="{{'Common.Add'|translate}}" placement="auto">
            <i class="flaticon2-add-1"></i></a>
          <span class="m-010">{{'Product.PriceLists'|translate}}</span>
        </h3>
      </div>
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead class="thead-light">
            <tr>
              <th scope="col">#</th>
              <th scope="col">{{'Product.PriceList'|translate}}</th>
              <th scope="col">{{'Product.SmallUomPrice'|translate}}</th>
              <th scope="col">{{'Product.MediumUomPrice'|translate}}</th>
              <th scope="col">{{'Product.LargeUomPrice'|translate}}</th>
              <th scope="col">{{'Common.Tools'|translate}}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of model.stO_ProductPrice; let i=index" [hidden]="item.isDeleted">
              <th scope="row">{{(i+1)}}</th>
              <td>
                <app-price-list [selectedValue]="item.priceListId" *ngIf="item.operation == 'e'"
                  (selectedValueChanges)="item.priceListId = $event">
                </app-price-list>
                <span *ngIf="item.operation == 's'">
                  {{(fixed.store.PriceList | filterById: 'priceListId': item.priceListId)[0]?.name}}</span>
              </td>
              <td>
                <input type="number" class="form-control" name="smallUomPrice{{i}}" [(ngModel)]="item.smallUomPrice"
                  *ngIf="item.operation == 'e'">
                <span *ngIf="item.operation == 's'">{{item.smallUomPrice | number : '1.2-2'}}</span>
              </td>
              <td>
                <input type="number" class="form-control" name="mediumUomPrice{{i}}" [(ngModel)]="item.mediumUomPrice"
                  *ngIf="item.operation == 'e'">
                <span *ngIf="item.operation == 's'">{{item.mediumUomPrice | number : '1.2-2'}}</span>
              </td>
              <td>
                <input type="number" class="form-control" name="largeUomPrice{{i}}" [(ngModel)]="item.largeUomPrice"
                  *ngIf="item.operation == 'e'">
                <span *ngIf="item.operation == 's'">{{item.largeUomPrice | number : '1.2-2'}}</span>
              </td>
              <td>
                <a class="grid-tool" (click)="priceListOperation(item)" tooltip="{{'Common.Edit'| translate}}"
                  *ngIf="item.operation == 's'">
                  <i class="flaticon-edit-1"></i></a>
                <a class="grid-tool" (click)="priceListFinish('save', item)" tooltip="{{'Common.Save'| translate}}"
                  *ngIf="item.operation == 'e'">
                  <i class="la la-save"></i></a>
                <a class="grid-tool" [swal]="DeleteMessage" (confirm)="deletePriceList(item,i)"
                  tooltip="{{'Common.Delete'|translate}}" *ngIf="item.operation == 's'"><i
                    class="flaticon-delete"></i></a>
                <a class="grid-tool" (click)="priceListFinish('close', item, i)" tooltip="{{'Common.Close'|translate}}"
                  *ngIf="item.operation == 'e'"><i class="la la-close"></i></a>
              </td>
            </tr>
            <tr><a class="btn btn-success white mt-2" (click)="priceListOperation()">{{'Common.Add'| translate}}</a>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="form-action">
        <button type="submit" class="btn btn-success" [disabled]="productForm.invalid || lockGridEdit || !validBar || checkBarCode"
          (click)="saveProduct()">
          <i class="la la-save"></i> {{'Common.Save' | translate}}
        </button>
        <button [routerLink]="['/store/product-list']" class="btn btn-warning"><i class="la la-close"></i>
          {{'Common.Close' | translate}}</button>
        <button class="btn btn-danger" [swal]="DeleteMessage" (confirm)="deleteProduct(model.productId)"
          title="{{'Common.Delete'| translate}}" *ngIf="model.productId > 0">
          <i class="la la-trash-o"></i> {{'Common.Delete' | translate}}</button>
      </div>
    </form>
  </div>
</div>
<swal #DeleteMessage title="{{'Common.DeleteConfirmMessage'|translate}}" type="error"
  confirmButtonText="{{'Common.Confirm'|translate}}" cancelButtonText="{{'Common.Cancel'|translate}}"
  [confirmButtonColor]="'#d33'" [focusCancel]="true" [focusConfirm]="false" [showCloseButton]="false"
  [showCancelButton]="true" [showConfirmButton]="true">
</swal>