<div class="kt-portlet mb-0">
    <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
            <h4 class="portlet__head-title">
                {{'MaintenanceOrder.List'|translate}}
            </h4>
        </div>
        <div class="kt-portlet__head-toolbar">
            <div class="kt-portlet__head-actions">
                <a [routerLink]="['/maintenance/order/operation']"
                    class="btn btn-default btn-pill btn-sm btn-icon btn-icon-md custom-sm"
                    tooltip="{{'MaintenanceOrder.Add'|translate}}" placement="auto">
                    <i class="flaticon2-add-1"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="kt-portlet__body p-2 pb-0" id="transaction-page">
        <div class="row col-md-12">
            <div class="form-group col-md-3">
                <label>{{'MaintenanceOrder.TransactionNo'|translate}}</label>
                <input type="text" class="form-control" name="transactionNo" [(ngModel)]="searchModel.transactionNo">
            </div>
            <div class="form-group col-md-3">
                <label>{{'MaintenanceOrder.Center'|translate}}</label>
                <app-center-shared (selectedValueChanges)="searchModel.centerId = $event"></app-center-shared>
            </div>
            <div class="form-group col-md-6">
                <label>{{'MaintenanceOrder.Date'|translate}}</label>
                <br>
                <div class="input-group width-48 float-left">
                    <div class="input-group-append"><span class="input-group-text">{{'Common.From'|translate}}</span>
                    </div>
                    <input type="text" class="form-control" placeholder="{{'Common.From'|translate}}" bsDatepicker
                        [bsConfig]="fixed.datePickerConfig" [(ngModel)]="searchModel.fromDate" autocomplete="off">
                </div>
                <div class="input-group width-48">
                    <div class="input-group-append"><span class="input-group-text">{{'Common.To'|translate}}</span>
                    </div>
                    <input type="text" class="form-control" placeholder="{{'Common.To'|translate}}" bsDatepicker
                        [bsConfig]="fixed.datePickerConfig" [(ngModel)]="searchModel.toDate" autocomplete="off">
                </div>
            </div>
            <div class="form-group col-md-4">
                <label>{{'MaintenanceOrder.Client'|translate}}</label>
                <app-client-shared (selectedValueChanges)="searchModel.clientId = $event?.clientId">
                </app-client-shared>
            </div>
            <div class="form-group col-md-4">
                <label>{{'MaintenanceOrder.Product'|translate}}</label>
                <app-maintenance-product (selectedValueChanges)="searchModel.maiProductId = $event">
                </app-maintenance-product>
            </div>
            <div class="form-group col-md-4">
                <br>
                <label class="fancy-radio">
                    <input type="radio" name="isClosed" [value]="null" [(ngModel)]="searchModel.isClosed">
                    <span><i></i>{{'Common.All'|translate}}</span>
                </label>
                <label class="fancy-radio">
                    <input type="radio" name="isClosed" [value]="true" [(ngModel)]="searchModel.isClosed">
                    <span><i></i>{{'MaintenanceOrder.isClosed'|translate}}</span>
                </label>
                <label class="fancy-radio">
                    <input type="radio" name="isClosed" [value]="false" [(ngModel)]="searchModel.isClosed">
                    <span><i></i>{{'MaintenanceOrder.isNotClosed'|translate}}</span>
                </label>
            </div>
            <div class="text-center mt-2">
                <button type="button" class="btn btn-success round mr-1" (click)="searchModel.page=1;getAll()">
                    <i class="ft-search"></i> {{'Common.Search' | translate}}
                </button>
                <button type="button" class="btn btn-secondary round" (click)="resetSearch()">
                    <i class="ft-file"></i> {{'Common.NewSearch' | translate}}
                </button>
            </div>
        </div>
        <div class="table-responsive mt-2">
            <table class="table table-striped table-sm mb-0">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">{{'MaintenanceOrder.TransactionNo'|translate}}</th>
                        <th scope="col">{{'MaintenanceOrder.Client'|translate}}</th>
                        <th scope="col">{{'MaintenanceOrder.Product'|translate}}</th>
                        <th scope="col">{{'MaintenanceOrder.Center'|translate}}</th>
                        <th scope="col">{{'MaintenanceOrder.Date'|translate}}</th>
                        <th scope="col">{{'MaintenanceOrder.Total'|translate}}</th>
                        <th scope="col">{{'MaintenanceOrder.isClosed'|translate}}</th>
                        <th scope="col">{{'Common.Tools'|translate}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of data;let i = index">
                        <td>{{item.transactionNo}}</td>
                        <td>{{item.expr2}}</td>
                        <td>{{item.expr1}}</td>
                        <td>{{item.name}}</td>
                        <td *ngIf="fixed.activeLang.code == 'en'">{{item.date | date:'dd MMM y':null:'en-US'}}</td>
                        <td *ngIf="fixed.activeLang.code == 'ar'">{{item.date | date:'dd MMM y':null:'ar-SA'}}</td>
                        <td>{{item.total}}</td>
                        <td>
                            <span *ngIf="item.isClosed"><i class="la la-check-circle"></i></span>
                        </td>
                        <td>
                            <a class="grid-tool"
                                [routerLink]="[ '/maintenance/order/operation/'+ item.maintenanceOrderId]"
                                tooltip="{{'Common.Edit'|translate}}">
                                <i class="flaticon-edit-1"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <app-pagination [total]="total" [scroll]="'return-voucher-page'" (changePagination)="changePagination($event)">
        </app-pagination>
    </div>
</div>