<div class="row">
  <div class="col-md-4">
    <app-cost-center-arbor [treeView]="true" (selectedValueChanges)="treeChanges($event)"
      [selectedValue]="model.costCenterId" [(refresh)]="refreshTree"></app-cost-center-arbor>
  </div>
  <div class="col-md-8">
    <div class="kt-portlet">
      <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
          <h4 class="kt-portlet__head-title" *ngIf="model.costCenterId == null">
            {{'CostCenterTree.Add'|translate}}
          </h4>
          <h4 class="kt-portlet__head-title" *ngIf="model.costCenterId > 0">
            {{'CostCenterTree.Edit'|translate}}
          </h4>
        </div>
        <div class="kt-portlet__head-toolbar">
          <div class="kt-portlet__head-actions">
            <a (click)="treeChanges()" class="btn btn-default btn-pill btn-sm btn-icon btn-icon-md custom-sm"
              tooltip="{{'CostCenterTree.Add'|translate}}" placement="auto">
              <i class="flaticon2-add-1"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="kt-portlet__body">
        <form #costCenterTree="ngForm">
          <div class="row">
            <div class="form-group col-md-6">
              <label>{{'CostCenterTree.Code'|translate}}</label>
              <input type="text" class="form-control" name="code" [(ngModel)]="model.code" #code="ngModel" required
                (blur)="checkCostCenterCode(model.code)"
                [ngClass]="{'parsley-error': (code.invalid && code.touched) || checkCode, 'parsley-success': code.valid && !checkCode}">
              <ul class="parsley-errors-list filled">
                <li class="parsley-required" *ngIf="code.errors?.required && code.touched">
                  {{'CostCenterTree.Code'|translate}} {{'Common.IsRequired'|translate}}</li>
                <li class="parsley-required" *ngIf="checkCode">
                  {{'CostCenterTree.CheckCode'|translate}}</li>
              </ul>
            </div>
            <div class="form-group col-md-6">
              <label>{{'CostCenterTree.Name'|translate}}</label>
              <input type="text" class="form-control" name="name" [(ngModel)]="model.name" #name="ngModel" required
                [ngClass]="{'parsley-error': name.invalid && name.touched, 'parsley-success': name.valid }">
              <ul class="parsley-errors-list filled">
                <li class="parsley-required" *ngIf="name.errors?.required && name.touched">
                  {{'CostCenterTree.Name'|translate}} {{'Common.IsRequired'|translate}}</li>
              </ul>
            </div>
            <div class="form-group col-md-12">
              <label>{{'CostCenterTree.Parent'|translate}}</label>
              <app-cost-center-arbor [treeView]="false" (selectedValueChanges)="centerParentChange($event)"
                [bindLabel]="'fullName'" [selectedValue]="model.costCenterParentId" [(refresh)]="refreshTree">
              </app-cost-center-arbor>
            </div>
            <div class="form-group col-md-12">
              <label>{{'CostCenterTree.Notes'|translate}}</label>
              <input type="text" class="form-control" name="notes" [(ngModel)]="model.notes" #name="ngModel">
            </div>
          </div>
          <div class="form-action">
            <button type="submit" class="btn btn-success" [disabled]="costCenterTree.invalid"
              (click)="saveCostCenterTree()">
              <i class="la la-save"></i> {{'Common.Save' | translate}}
            </button>
            <button (click)="treeChanges()" class="btn btn-warning"><i class="la la-close"></i>
              {{'Common.Close' | translate}}</button>
            <button class="btn btn-danger" [swal]="DeleteMessage" (confirm)="deleteCostCenterTree()"
              title="{{'Common.Delete'| translate}}" *ngIf="model.costCenterId > 0">
              <i class="la la-trash-o"></i> {{'Common.Delete' | translate}}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<swal #confirmChanges title="{{'Message.Warning'|translate}}"
  html="<span class='red-custom'>{{'AccountTree.ChangesNotSaved'|translate}}</span>" type="warning"
  [showCloseButton]="true" [showCancelButton]="true" [showConfirmButton]="true" (confirm)="treeChanges(tempData, true)"
  confirmButtonText="{{'AccountTree.IgnoreChanges'|translate}}" cancelButtonText="{{'Common.Cancel'|translate}}">
</swal>
<swal #DeleteMessage title="{{'Common.DeleteConfirmMessage'|translate}}" type="error"
  confirmButtonText="{{'Common.Confirm'|translate}}" cancelButtonText="{{'Common.Cancel'|translate}}"
  [confirmButtonColor]="'#d33'" [focusCancel]="true" [focusConfirm]="false" [showCloseButton]="false"
  [showCancelButton]="true" [showConfirmButton]="true">
</swal>