<div class="row">
  <div class="col-md-4">
    <app-account-arbor [treeView]="true" (selectedValueChanges)="treeChanges($event)"
      [selectedValue]="model.accountTreeId" [(refresh)]="refreshTree"></app-account-arbor>
  </div>
  <div class="col-md-8">
    <div class="kt-portlet">
      <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
          <h4 class="kt-portlet__head-title" *ngIf="model.accountTreeId == null">
            {{'AccountTree.Add'|translate}}
          </h4>
          <h4 class="kt-portlet__head-title" *ngIf="model.accountTreeId > 0">
            {{'AccountTree.Edit'|translate}}
          </h4>
        </div>
        <div class="kt-portlet__head-toolbar">
          <div class="kt-portlet__head-actions">
            <a (click)="treeChanges()" class="btn btn-default btn-pill btn-sm btn-icon btn-icon-md custom-sm"
              tooltip="{{'AccountTree.Add'|translate}}" placement="auto">
              <i class="flaticon2-add-1"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="kt-portlet__body">
        <form #accountTree="ngForm">
          <div class="row">
            <div class="form-group col-md-6">
              <label>{{'AccountTree.Code'|translate}}</label>
              <input type="text" class="form-control" name="code" [(ngModel)]="model.code" #code="ngModel" required
                (blur)="checkAccountCode(model.code)"
                [ngClass]="{'parsley-error': (code.invalid && code.touched) || checkCode, 'parsley-success': code.valid && !checkCode}">
              <ul class="parsley-errors-list filled">
                <li class="parsley-required" *ngIf="code.errors?.required && code.touched">
                  {{'AccountTree.Code'|translate}} {{'Common.IsRequired'|translate}}</li>
                <li class="parsley-required" *ngIf="checkCode">
                  {{'AccountTree.CheckCode'|translate}}</li>
              </ul>
            </div>
            <div class="form-group col-md-6">
              <label>{{'AccountTree.Name'|translate}}</label>
              <input type="text" class="form-control" name="name" [(ngModel)]="model.name" #name="ngModel" required
                [ngClass]="{'parsley-error': name.invalid && name.touched, 'parsley-success': name.valid }">
              <ul class="parsley-errors-list filled">
                <li class="parsley-required" *ngIf="name.errors?.required && name.touched">
                  {{'AccountTree.Name'|translate}} {{'Common.IsRequired'|translate}}</li>
              </ul>
            </div>
            <div class="form-group col-md-12">
              <label>{{'AccountTree.Parent'|translate}}</label>
              <app-account-arbor [treeView]="false" (selectedValueChanges)="accountParentChange($event)" [bindLabel]="'fullName'"
                [selectedValue]="model.accountTreeParentId" [(refresh)]="refreshTree" [filterType]="'parent'">
              </app-account-arbor>
            </div>
            <div class="form-group col-md-6">
              <label>{{'AccountTree.Type'|translate}}</label>
              <ng-select [items]="fixed.accounting.AccountTreeType" bindValue="accountTreeTypeId"
                [disabled]="!(model.accountTreeParentId == null)" placeholder="{{'Common.Select'|translate}}"
                name="accountTreeType" [(ngModel)]="model.accountTreeTypeId" #accountTreeTypeId="ngModel"
                notFoundText="{{'Common.notFoundText'|translate}}">
                <ng-template ng-label-tmp let-item="item">
                  <div>{{(fixed.activeLang.code == 'ar')? item.nameAr : item.nameEn}}</div>
                </ng-template>
                <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                  <div>{{(fixed.activeLang.code == 'ar')? item.nameAr : item.nameEn}}</div>
                </ng-template>
              </ng-select>
              <ul class="parsley-errors-list filled">
                <li class="parsley-required" *ngIf="model.accountTreeTypeId == null && accountTreeTypeId.touched">
                  {{'AccountTree.Type'|translate}} {{'Common.IsRequired'|translate}}</li>
              </ul>
            </div>
            <div class="form-group col-md-6">
              <label>{{'AccountTree.LevelNo'|translate}}</label>
              <input type="text" class="form-control" name="levelNo" [(ngModel)]="model.levelNo" #levelNo="ngModel"
                disabled>
            </div>
            <div class="form-group col-md-3 mt-2">
              <br>
              <label class="fancy-checkbox">
                <input type="checkbox" name="finish" [(ngModel)]="model.finish" (input)="checkIfHaveChild()">
                <span>{{'AccountTree.Finish'|translate}}</span>
              </label>
            </div>
            <div class="form-group col-md-3 mt-2">
              <br>
              <label class="fancy-checkbox">
                <input type="checkbox" name="hasAssistant" [(ngModel)]="model.hasAssistant"
                  (input)="checkIfHaveChild()">
                <span>{{'AccountTree.HasAssistant'|translate}}</span>
              </label>
            </div>
            <div class="form-group col-md-3 mt-2">
              <br>
              <label class="fancy-checkbox">
                <input type="checkbox" name="hasCostCenter" [(ngModel)]="model.hasCostCenter"
                  (input)="checkIfHaveChild()">
                <span>{{'AccountTree.HasCostCenter'|translate}}</span>
              </label>
            </div>
            <div class="form-group col-md-3 mt-2">
              <br>
              <label class="fancy-checkbox">
                <input type="checkbox" name="cash" [(ngModel)]="model.cash" (input)="checkIfHaveChild()">
                <span>{{'AccountTree.Cash'|translate}}</span>
              </label>
            </div>
          </div>
          <div class="form-action">
            <button type="submit" class="btn btn-success"
              [disabled]="accountTree.invalid || model.accountTreeTypeId == null" (click)="saveAccountTree()">
              <i class="la la-save"></i> {{'Common.Save' | translate}}
            </button>
            <button (click)="treeChanges()" class="btn btn-warning"><i class="la la-close"></i>
              {{'Common.Close' | translate}}</button>
            <button class="btn btn-danger" [swal]="DeleteMessage" (confirm)="deleteAccountTree()"
              title="{{'Common.Delete'| translate}}" *ngIf="model.accountTreeId > 0">
              <i class="la la-trash-o"></i> {{'Common.Delete' | translate}}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<swal #confirmChanges title="{{'Message.Warning'|translate}}"
  html="<span class='red-custom'>{{'AccountTree.ChangesNotSaved'|translate}}</span>" type="warning"
  [showCloseButton]="true" [showCancelButton]="true" [showConfirmButton]="true" (confirm)="treeChanges(tempData, true)"
  confirmButtonText="{{'AccountTree.IgnoreChanges'|translate}}" cancelButtonText="{{'Common.Cancel'|translate}}">
</swal>
<swal #DeleteMessage title="{{'Common.DeleteConfirmMessage'|translate}}" type="error"
  confirmButtonText="{{'Common.Confirm'|translate}}" cancelButtonText="{{'Common.Cancel'|translate}}"
  [confirmButtonColor]="'#d33'" [focusCancel]="true" [focusConfirm]="false" [showCloseButton]="false"
  [showCancelButton]="true" [showConfirmButton]="true">
</swal>