<div class="kt-portlet">
  <div class="kt-portlet__head" [ngClass]="{'alert alert-danger mb-0': model?.isVoided}">
    <div class="kt-portlet__head-label">
      <h4 class="kt-portlet__head-title" *ngIf="model?.stockOpeningId == null">
        {{'StockOpening.Add'|translate}}
      </h4>
      <h4 class="kt-portlet__head-title" *ngIf="model?.stockOpeningId > 0" [ngClass]="{'white': model?.isVoided}">
        {{'StockOpening.Edit'|translate}}
      </h4>
    </div>
    <div class="kt-portlet__head-toolbar">
      <div class="kt-portlet__head-actions" *ngIf="model?.isVoided">
        <i class="flaticon2-trash"></i>
        {{'StockOpening.Cancel'| translate}}
      </div>
    </div>
  </div>
  <div class="kt-portlet__body">
    <form #stockOpeningForm="ngForm">
      <div class="row">
        <div class="form-group col-md-3">
          <label>{{'StockOpening.Date'|translate}}</label>
          <input type="text" class="form-control" name="date" [(ngModel)]="model.date" #date="ngModel" bsDatepicker
            [bsConfig]="fixed.datePickerConfig" autocomplete="off" (bsValueChange)="getTransactionNo($event)"
            [maxDate]="fixed.today" [ngClass]="{'parsley-error': (model.date == null || model.date == 'Invalid Date' || checkDate == false) 
            && date.touched}" required>

          <ul class="parsley-errors-list filled">
            <li class="parsley-required" *ngIf="model.date == null && date.touched">
              {{'StockOpening.Date'|translate}} {{'Common.IsRequired'|translate}}</li>
            <li class="parsley-required" *ngIf="model.date == 'Invalid Date' && date.touched">
              {{'StockOpening.Date'|translate}} {{'Common.Error'|translate}}</li>
            <li class="parsley-required" *ngIf="checkDate == false && date.touched">
              {{'StockOpening.Date'|translate}} {{'Common.DateNotVaild'|translate}}</li>
          </ul>
        </div>
        <div class="form-group col-md-3">
          <label>{{'StockOpening.TransactionNo'|translate}}</label>
          <input type="text" class="form-control" name="transactionNo" [(ngModel)]="model.transactionNo"
            #transactionNo="ngModel" disabled>
        </div>
        <div class="form-group col-md-3">
          <label>{{'StockOpening.Stock'|translate}}</label>
          <app-stock-shared [selectedValue]="model.stockId" (selectedValueChanges)="model.stockId = $event" #stockShared
            name="stockShared"></app-stock-shared>
          <ul class="parsley-errors-list filled">
            <li class="parsley-required" *ngIf="model.stockId == null">
              {{'StockOpening.Stock'|translate}} {{'Common.IsRequired'|translate}}</li>
          </ul>
        </div>
        <div class="form-group col-md-3">
          <label>{{'StockOpening.Total'|translate}}</label>
          <input type="text" class="form-control" name="total" [(ngModel)]="model.total" #total="ngModel" disabled>
        </div>
      </div>
      <div class="kt-section mb-0 mt-2">
        <h3 class="kt-section__title mb-0">
          <a class="btn btn-default btn-pill btn-sm btn-icon btn-icon-md custom-sm" (click)="itemOperation()"
            tooltip="{{'Common.Add'|translate}}" placement="auto" *ngIf="!model?.isVoided">
            <i class="flaticon2-add-1"></i></a>
          <span class="m-010">{{'StockOpening.Details'|translate}}</span>
        </h3>
      </div>
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead class="thead-light">
            <tr>
              <th scope="col" *ngIf="false">#</th>
              <th scope="col" class="width-10">{{'StockOpening.Barcode'|translate}}</th>
              <th scope="col" class="width-25">{{'StockOpening.Product'|translate}}</th>
              <th scope="col" class="width-10">{{'StockOpening.Unit'|translate}}</th>
              <th scope="col">{{'StockOpening.BatchNumber'|translate}}</th>
              <th scope="col">{{'StockOpening.ExpiryDate'|translate}}</th>
              <th scope="col" class="width-10">{{'StockOpening.QtyInUom'|translate}}</th>
              <th scope="col" class="width-10">{{'StockOpening.UomPrice'|translate}}</th>
              <th scope="col" class="width-10">{{'StockOpening.TotalPrice'|translate}}</th>
              <th scope="col" *ngIf="!model?.isVoided">{{'Common.Tools'|translate}}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of model.stO_StockOpeningItem | orderBy: 'itemId'; let i=index"
              [hidden]="item.isDeleted">
              <th scope="row" *ngIf="false">
                <input type="text" class="form-control" name="itemId{{i}}" [(ngModel)]="item.itemId"
                  *ngIf="item.operation == 'e'">
                <span *ngIf="item.operation == 's'">{{item.itemId}}</span>
              </th>
              <td class="width-10">
                <input type="number" class="form-control" name="uomBarCode{{i}}" [(ngModel)]="item.uomBarCode"
                  *ngIf="item.operation == 'e'" disabled>
                <span *ngIf="item.operation == 's'">{{item.uomBarCode}}</span>
              </td>
              <td class="width-25">
                <app-product-shared [hidden]="item.operation == 's'" [(selectedValue)]="item.product"
                  (selectedValueChanges)="selectProduct($event,item)"></app-product-shared>
                <span [hidden]="item.operation == 'e'">
                  {{item.product?.code}} -
                  {{(fixed.activeLang.code == 'ar')? item.product?.nameAr : item.product?.nameEn}}</span>
              </td>
              <td class="width-10">
                <ng-select [items]="item.units" bindValue="unitId" bindLabel="name" *ngIf="item.operation == 'e'"
                  placeholder="{{'Common.Select'|translate}}" name="unit{{i}}" [(ngModel)]="item.unitId"
                  notFoundText="{{'Common.notFoundText'|translate}}" (change)="unitChange(item)">
                </ng-select>
                <span *ngIf="item.operation == 's'">{{(item.units | filterById: 'unitId': item.unitId)[0]?.name}}</span>
              </td>
              <td>
                <input type="text" class="form-control" name="batchNumber{{i}}" [(ngModel)]="item.batchNumber"
                  *ngIf="item.operation == 'e'" [disabled]="!item.product?.hasBatchNumber">
                <span *ngIf="item.operation == 's'">{{item.batchNumber}}</span>
              </td>
              <td>
                <input type="text" class="form-control" name="expiryDate{{i}}" [(ngModel)]="item.expiryDate" [minDate]="fixed.today"
                  [disabled]="!item.product?.hasDateValidity" *ngIf="item.operation == 'e'" bsDatepicker
                  [bsConfig]="fixed.datePickerConfig" autocomplete="off">
                <span *ngIf="item.operation == 's' && fixed.activeLang.code == 'en'">
                  {{item.expiryDate | date:'dd MMM y':null:'en-US'}}
                </span>
                <span *ngIf="item.operation == 's' && fixed.activeLang.code == 'ar'">
                  {{item.expiryDate | date:'dd MMM y':null:'ar-SA'}}
                </span>
              </td>
              <td class="width-10">
                <input type="number" class="form-control" name="qtyInUom{{i}}" [(ngModel)]="item.qtyInUom" min="1"
                  *ngIf="item.operation == 'e'" (input)="calTotal();item.totalPrice = item.uomPrice * item.qtyInUom">
                <span *ngIf="item.operation == 's'">{{item.qtyInUom}}</span>
              </td>
              <td class="width-10">
                <input type="number" class="form-control" name="uomPrice{{i}}" [(ngModel)]="item.uomPrice" min="1"
                  *ngIf="item.operation == 'e'" (input)="calTotal();item.totalPrice = item.uomPrice * item.qtyInUom">
                <span *ngIf="item.operation == 's'">{{item.uomPrice | number : '1.2-2'}}</span>
              </td>
              <td class="width-10">
                <input type="number" class="form-control" name="totalPrice{{i}}" [(ngModel)]="item.totalPrice"
                  *ngIf="item.operation == 'e'" disabled>
                <span *ngIf="item.operation == 's'">{{item.totalPrice | number : '1.2-2'}}</span>
              </td>
              <td *ngIf="!model?.isVoided">
                <a class="grid-tool" (click)="itemOperation(item)" tooltip="{{'Common.Edit'| translate}}"
                  *ngIf="item.operation == 's'">
                  <i class="flaticon-edit-1"></i></a>
                <a class="grid-tool" (click)="itemFinish('save', item, i)" tooltip="{{'Common.Save'| translate}}"
                  *ngIf="item.operation == 'e'">
                  <i class="la la-save"></i></a>
                <a class="grid-tool" [swal]="DeleteMessage" (confirm)="itemDelete(item,i)"
                  tooltip="{{'Common.Delete'|translate}}" *ngIf="item.operation == 's'"><i
                    class="flaticon-delete"></i></a>
                <a class="grid-tool" (click)="itemFinish('close', item, i)" tooltip="{{'Common.Close'|translate}}"
                  *ngIf="item.operation == 'e'"><i class="la la-close"></i></a>
              </td>
            </tr>
            <tr><a class="btn btn-success white mt-2" (click)="itemOperation()"
                *ngIf="!model?.isVoided">{{'Common.Add'| translate}}</a></tr>
          </tbody>
        </table>
      </div>
      <div class="form-action">
        <button type="submit" class="btn btn-success" [disabled]="!checkDate || stockOpeningForm.invalid || lockGridEdit || 
        emptyList || model.stockId == null " (click)="saveStockOpening()" *ngIf="!model?.isVoided">
          <i class="la la-save"></i> {{'Common.Save' | translate}}
        </button>
        <a [routerLink]="[listPage]" class="btn btn-warning"><i class="la la-close"></i>
          {{'Common.Close' | translate}}
        </a>
        <button class="btn btn-danger" [swal]="DeleteMessage" (confirm)="voidedTransaction(model.stockOpeningId)"
          title="{{'Common.Delete'| translate}}" *ngIf="model?.stockOpeningId > 0 && !model?.isVoided">
          <i class="la la-trash-o"></i> {{'Common.Delete' | translate}}</button>
        <button class="btn btn-primary" (click)="PrintReport()" title="{{'Common.Print'| translate}}"
          *ngIf="model?.stockOpeningId> 0 && !model?.isVoided">
          <i class="la la-print"></i> {{'Common.Print' | translate}}</button>
      </div>
    </form>
  </div>
</div>

<swal #DeleteMessage title="{{'Common.DeleteConfirmMessage'|translate}}" type="error"
  confirmButtonText="{{'Common.Confirm'|translate}}" cancelButtonText="{{'Common.Cancel'|translate}}"
  [confirmButtonColor]="'#d33'" [focusCancel]="true" [focusConfirm]="false" [showCloseButton]="false"
  [showCancelButton]="true" [showConfirmButton]="true">
</swal>
<swal #operationError title="{{'Message.Warning'|translate}}"
  html="<span class='red-custom text-bold'>{{'Message.OperationError'|translate}}</span>" type="error"
  [showCloseButton]="false" [showCancelButton]="false" [showConfirmButton]="false">
</swal>