<div class="kt-portlet">
  <div class="kt-portlet__head" [ngClass]="{'alert alert-danger mb-0': model?.isVoided}">
    <div class="kt-portlet__head-label">
      <h4 class="kt-portlet__head-title" *ngIf="model?.invoiceId == null || model?.invoiceId == 0">
        <span *ngIf="pageType === 'invoice'">{{'Invoice.Add'|translate}}</span>
        <span *ngIf="pageType === 'order'">{{'Order.Add'|translate}}</span>
      </h4>
      <h4 class="kt-portlet__head-title" *ngIf="model?.invoiceId > 0" [ngClass]="{'white': model?.isVoided}">
        <span *ngIf="pageType === 'invoice'">{{'Invoice.Edit'|translate}}</span>
        <span *ngIf="pageType === 'order'">{{'Order.Edit'|translate}}</span>
      </h4>
    </div>
    <div class="kt-portlet__head-toolbar">
      <div class="kt-portlet__head-actions" *ngIf="model?.isVoided">
        <i class="flaticon2-trash"></i>
        <span *ngIf="pageType === 'invoice'">{{'Invoice.Cancel'| translate}}</span>
        <span *ngIf="pageType === 'order'">{{'Order.Cancel'| translate}}</span>
      </div>
    </div>
  </div>
  <div class="kt-portlet__body">
    <form #stockOpeningForm="ngForm">
      <div class="row">
        <div class="form-group col-md-3">
          <label class="label-head">{{'Common.Date'|translate}}</label>
          <label *ngIf="fixed.activeLang.code == 'en'">{{model?.date | date:'dd MMM y':null:'en-US'}}</label>
          <label *ngIf="fixed.activeLang.code == 'ar'">{{model?.date | date:'dd MMM y':null:'ar-SA'}}</label>
        </div>
        <div class="form-group col-md-3">
          <label class="label-head" *ngIf="pageType === 'invoice'">{{'Invoice.TransactionNo'|translate}}</label>
          <label class="label-head" *ngIf="pageType === 'order'">{{'Order.TransactionNo'|translate}}</label>
          <label>{{model?.transactionNo}}</label>
        </div>
        <div class="form-group col-md-3">
          <label class="label-head">{{'Invoice.Stock'|translate}}</label>
          <label>{{model?.stockName}}</label>
        </div>
        <div class="form-group col-md-3">
          <label class="label-head">{{'Invoice.Employee'|translate}}</label>
          <label>{{model?.salesRep?.name}}</label>
        </div>
        <div class="form-group col-md-3">
          <label class="label-head">{{'Invoice.Client'|translate}}</label>
          <label>{{model?.client?.name}}</label>
        </div>
        <div class="form-group col-md-3">
          <label class="label-head">{{'Invoice.ManualInvoiceNumber'|translate}}</label>
          <label>{{model?.manualInvoiceNumber}}</label>
        </div>
        <div class="form-group col-md-4">
          <label class="label-head">{{'StockReceiveVoucher.Description'|translate}}</label>
          <label>{{model?.description}}</label>
        </div>
        <div class="form-group col-md-2">
          <label class="label-head">{{'PaymentMethod.PaymentMethodType'|translate}}</label>
          <label *ngIf="model?.isCash">{{'Invoice.Cash'|translate}}</label>
          <label *ngIf="!model?.isCash">{{'Invoice.Credit'|translate}}</label>
        </div>
      </div>
      <div class="kt-section mb-2 mt-2">
        <h3 class="kt-section__title mb-2">
          <span class="m-010" *ngIf="pageType === 'invoice'">{{'Invoice.Details'|translate}}</span>
          <span class="m-010" *ngIf="pageType === 'order'">{{'Order.Details'|translate}}</span>
        </h3>
      </div>
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead class="thead-light text-center">
            <tr>
              <th scope="col" *ngIf="false">#</th>
              <th scope="col">{{'StockReceiveVoucher.Barcode'|translate}}</th>
              <th scope="col" class="width-15">{{'StockReceiveVoucher.Product'|translate}}</th>
              <th scope="col">{{'StockReceiveVoucher.BatchNumber'|translate}}</th>
              <th scope="col">{{'StockReceiveVoucher.ExpiryDate'|translate}}</th>
              <th scope="col">{{'StockReceiveVoucher.Unit'|translate}}</th>
              <th scope="col">{{'StockReceiveVoucher.QtyInUom'|translate}}</th>
              <th scope="col">{{'StockReceiveVoucher.UomPrice'|translate}}</th>
              <th scope="col">{{'StockReceiveVoucher.DiscountPercentage'|translate}}</th>
              <th scope="col">{{'StockReceiveVoucher.DiscountValue'|translate}}</th>
              <th scope="col">{{'StockReceiveVoucher.TotalPrice'|translate}}</th>
              <th scope="col">{{'StockReceiveVoucher.VATPercentage'|translate}}%</th>
              <th scope="col">{{'StockReceiveVoucher.TotalVATValue'|translate}}</th>
            </tr>
          </thead>
          <tbody class="text-center">
            <tr *ngFor="let item of model?.stO_InvoiceItem | orderBy: 'itemId'">
              <th scope="row" *ngIf="false">{{item.itemId}}</th>
              <td>{{item.uomBarCode}}</td>
              <td class="width-15">
                {{item.product?.code}} -
                {{(fixed.activeLang.code == 'ar')? item.product?.nameAr : item.product?.nameEn}}
              </td>
              <td>{{item.batchNumber}}</td>
              <td>
                <span *ngIf="fixed.activeLang.code == 'en'">{{item.expiryDate | date:'dd MMM y':null:'en-US'}}</span>
                <span *ngIf="fixed.activeLang.code == 'ar'">{{item.expiryDate | date:'dd MMM y':null:'ar-SA'}} </span>
              </td>
              <td>{{(item.units | filterById: 'unitId': item.unitId)[0]?.name}}</td>
              <td>{{item.qtyInUom}}</td>
              <td>{{item.uomPrice | number : '1.2-2'}}</td>
              <td>{{item.uomDiscountPercentage}} % </td>
              <td>{{item.uomDiscountValue | number : '1.2-2'}}</td>
              <td>{{item.totalAfterDiscount | number : '1.2-2'}}</td>
              <td>{{item.vatPercentage}} %</td>
              <td>{{item.totalVatValue | number : '1.2-2'}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="kt-section mb-2 mt-2">
        <h3 class="kt-section__title mb-2">
          <span class="m-010">{{'Incentive.List'|translate}}</span>
        </h3>
      </div>
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead class="thead-light text-center">
            <tr>
              <th scope="col">#</th>
              <th scope="col">{{'Incentive.Incentive'|translate}}</th>
              <th scope="col">{{'Incentive.Quantity'|translate}}</th>
              <th scope="col">{{'Incentive.Amount'|translate}}</th>
            </tr>
          </thead>
          <tbody class="text-center">
            <tr *ngFor="let item of discountList; let i = index">
              <th scope="row">{{i+1}}</th>
              <td>{{item.incentiveName}}</td>
              <td>{{item.qtyUsedInDiscount}} </td>
              <td>{{item.incentiveValue | number : '1.2-2'}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="row mt-4 mb-4">
        <div class="col-md-1"></div>
        <div class="col-md-2 text-right">
          <label class="label-head">{{'StockReceiveVoucher.TotalPrice'|translate}} </label>
          <label>{{model.totalAfterDiscount | number : '1.2-2'}}</label>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-2 text-right mt-2">
          <label class="label-head">{{'StockReceiveVoucher.TotalVATValue'|translate}} </label>
          <label>{{model.totalVAT | number : '1.2-2'}}</label>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-2 text-right mt-2">
          <label class="label-head">{{'StockReceiveVoucher.TotalInvoice'|translate}} </label>
          <label>{{model.total | number : '1.2-2'}}</label>
        </div>
      </div>
      <div class="form-action">
        <a type="submit" class="btn btn-primary" [routerLink]="['/store/i/'+ pageType +'/amount/null']"
          *ngIf="model?.invoiceId == null || model?.invoiceId == 0 || !justInfo">
          <i class="la la-ellipsis-h"></i> {{'Common.Previous' | translate}} </a>
        <button class="btn btn-success" title="{{'Common.Save'| translate}}" (click)="save()"
          *ngIf="(model?.invoiceId == null || model?.invoiceId == 0 || !justInfo) && !model?.isVoided">
          <i class="la la-save"></i> {{'Common.Save' | translate}}</button>
        <a [routerLink]="[listPage]" class="btn btn-warning"><i class="la la-close"></i>
          {{'Common.Close' | translate}} </a>
        <button class="btn btn-danger" [swal]="DeleteMessage" (confirm)="voidedTransaction()"
          title="{{'Common.Delete'| translate}}"
          *ngIf="(model?.invoiceId == null || model?.invoiceId == 0 || !justInfo) && !model?.isVoided">
          <i class="la la-trash-o"></i> {{'Common.Delete' | translate}}</button>
        <button class="btn btn-primary" (click)="Print()" title="{{'Common.Print'| translate}}"
          *ngIf="model?.invoiceId > 0 && !model?.isVoided">
          <i class="la la-print"></i> {{'Common.Print' | translate}}</button>
      </div>
    </form>
  </div>
</div>

<swal #DeleteMessage title="{{'Common.DeleteConfirmMessage'|translate}}" type="error"
  confirmButtonText="{{'Common.Confirm'|translate}}" cancelButtonText="{{'Common.Cancel'|translate}}"
  [confirmButtonColor]="'#d33'" [focusCancel]="true" [focusConfirm]="false" [showCloseButton]="false"
  [showCancelButton]="true" [showConfirmButton]="true">
</swal>
<swal #operationError title="{{'Message.Warning'|translate}}"
  html="<span class='red-custom text-bold'>{{'Message.OperationError'|translate}}</span>" type="error"
  [showCloseButton]="false" [showCancelButton]="false" [showConfirmButton]="false">
</swal>