<div class="input-group">
  <ng-select [items]="list" [(ngModel)]="selectedValue" [virtualScroll]="true"
    (change)="outputFunction(selectedValue)" (clear)="searchFunction(null);outputFunction(null)" [clearable]="true"
    placeholder="{{'Common.SearchByCodeOrName'|translate}}" (search)="searchFunction($event.term)"
    [searchFn]="customSearchFn" (scrollToEnd)="model.page = model.page + 1;getAll();"
    notFoundText="{{'Common.notFoundText'|translate}}">
    <ng-template ng-label-tmp let-item="item">
      {{item.code}} - {{item.name}}
    </ng-template>
    <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
      {{item.code}} - {{item.name}}
    </ng-template>
  </ng-select>
  <div class="input-group-append" (click)="openModal(listModal)">
    <span class="input-group-text btn btn-primary"><i class="fa fa-search-plus white"></i></span>
  </div>
</div>
<ng-template #listModal>
  <div class="modal-header pb-1 pt-2">
    <a class="btn btn-default btn-pill btn-sm btn-icon btn-icon-md custom-sm" (click)="operation()"
    tooltip="{{'Common.Add'|translate}}" placement="auto">
    <i class="flaticon2-add-1"></i></a>
    <h4 class="modal-title pull-left m-010">{{'Client.PageHeader'|translate}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="input-group justify-content-center">
      <div class="kt-input-icon kt-input-icon--right">
        <input type="text" class="form-control" name="search" [(ngModel)]="model.code"
          placeholder="{{'Common.Search'|translate}}" (input)="searchFunction(model.code)">
        <span class="kt-input-icon__icon kt-input-icon__icon--right"><span><i class="flaticon-search"></i></span></span>
      </div>
    </div>
    <div *ngIf="clientOperation">
        <form #clientForm="ngForm">
          <div class="row">
              <div class="form-group col-md-12">
                 <label>{{'Client.Code'|translate}}</label>
                 <input type="text" class="form-control" name="code" [(ngModel)]="myModel.code" #code="ngModel" required
                   (input)="checkClientCode(myModel.code)"
                   [ngClass]="{'parsley-error': (code.invalid && code.touched) || checkCode, 'parsley-success': code.valid && !checkCode}">
                 <ul class="parsley-errors-list filled">
                   <li class="parsley-required" *ngIf="code.errors?.required && code.touched">
                     {{'Client.Code'|translate}} {{'Common.IsRequired'|translate}}</li>
                   <li class="parsley-required" *ngIf="checkCode">
                     {{'Client.CheckCode'|translate}}</li>
                 </ul>
              </div>
              <div class="form-group col-md-12">
                  <label>{{'Client.Name'|translate}}</label>
                  <input type="text" class="form-control" name="name" [(ngModel)]="myModel.name" #name="ngModel" required
                    [ngClass]="{'parsley-error': name.invalid && name.touched, 'parsley-success': name.valid }">
                  <ul class="parsley-errors-list filled">
                    <li class="parsley-required" *ngIf="name.errors?.required && name.touched">
                      {{'Client.Name'|translate}} {{'Common.IsRequired'|translate}}</li>
                  </ul>
              </div>
              <div class="form-group col-md-6">
                  <label>{{'Tree.ModuleTree'|translate}}</label>
                  <app-module-arbor [treeView]="false" [filterType]="'childNode'" [selectedValue]="myModel.moduleTreeId"
                    [fliterValue]="[fixed.accounting.AccountingSetting.clientModuleTreeId]" [bindLabel]="'code-name'"
                    (selectedValueChanges)="myModel.moduleTreeId = ($event == null) ? null : $event.moduleTreeId;">
                  </app-module-arbor>
                  <ul class="parsley-errors-list filled">
                    <li class="parsley-required" *ngIf="myModel.moduleTreeId == null">
                      {{'Tree.ModuleTree'|translate}} {{'Common.IsRequired'|translate}}</li>
                  </ul>
              </div>
              <div class="form-group col-md-6">
                  <label>{{'clientType.Name'|translate}}</label>
                  <app-client-type [selectedValue]="myModel.clientTypeId"
                    (selectedValueChanges)="myModel.clientTypeId = ($event == null) ? null : $event">
                  </app-client-type>
              </div>
              <div class="col-md-6">
                  <label>{{'PriceList.Title'|translate}}</label>
                  <app-price-list [selectedValue]="myModel.priceListId" (selectedValueChanges)="myModel.priceListId = $event">
                  </app-price-list> 
              </div> 
              <div class="form-group col-md-12">
                  <label>{{'Common.Notes'|translate}}</label>
                  <input type="text" class="form-control" name="notes" [(ngModel)]="myModel.notes" #notes="ngModel">
              </div>
          </div>
          <div class="form-action mt-2">
            <button type="submit" class="btn btn-success" [disabled]="clientForm.invalid || myModel.moduleTreeId == null" (click)="save()">
              <i class="la la-save"></i> {{'Common.Save' | translate}}
            </button>
            <button (click)="clientOperation = false" class="btn btn-warning"><i class="la la-close"></i>
              {{'Common.Close' | translate}}</button>
            <button class="btn btn-danger" [swal]="DeleteMessage" (confirm)="delete(myModel.clientId)"
              title="{{'Common.Delete'| translate}}" *ngIf="myModel.clientId > 0">
              <i class="la la-trash-o"></i> {{'Common.Delete' | translate}}</button>
          </div>
        </form>
    </div>
    <div class="table-responsive mt-3">
      <table class="table table-striped table-sm">
        <thead class="thead-light">
          <tr>
            <th scope="col">#</th>
            <th scope="col">{{'Client.Code'|translate}}</th>
            <th scope="col">{{'Client.Name'|translate}}</th>
            <th scope="col">{{'Common.Tools'|translate}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of list ;let i=index">
            <td scope="row">{{i+1}}</td>
            <td>{{item.code}}</td>
            <td>{{item.name}}</td>
            <td>
                <a class="grid-tool" tooltip="{{'Common.Select'| translate}}"
                (click)="selectedValue = item; outputFunction(item); modalRef.hide()">
                <i class="la la-magnet"></i></a>
                <a class="grid-tool" (click)="operation(item)" tooltip="{{'Common.Edit'| translate}}">
                <i class="flaticon-edit-1"></i></a>
                <a class="grid-tool" [swal]="DeleteMessage" (confirm)="delete(item.clientId)"
                tooltip="{{'Common.Delete'|translate}}"><i class="flaticon-delete"></i></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</ng-template>
<swal #DeleteMessage title="{{'Common.DeleteConfirmMessage'|translate}}" type="error"
  confirmButtonText="{{'Common.Confirm'|translate}}" cancelButtonText="{{'Common.Cancel'|translate}}"
  [confirmButtonColor]="'#d33'" [focusCancel]="true" [focusConfirm]="false" [showCloseButton]="false"
  [showCancelButton]="true" [showConfirmButton]="true">
</swal>