<ng-select [items]="currency" bindValue="currencyId"
  [(ngModel)]="selectedValue" (change)="selectedValueChanges.emit(selectedValue)" [clearable]="false"
  placeholder="{{'Common.Select'|translate}}" notFoundText="{{'Common.notFoundText'|translate}}">
  <ng-template ng-label-tmp let-item="item">
    <div>{{(fixed.activeLang.code == 'ar')? item.nameAr : item.nameEn}}</div>
  </ng-template>
  <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
    <div>{{(fixed.activeLang.code == 'ar')? item.nameAr : item.nameEn}}</div>
  </ng-template>
</ng-select>