<!-- selectedValueChanges(selectedValue) -->
<div class="input-group">
  <ng-select [items]="Utilities" bindLabel="name" bindValue="utilitiyId" [(ngModel)]="selectedValue"
    (change)="emitObject(selectedValue)" (clear)="emitObject(null)" [clearable]="true"
    placeholder="{{'Common.Select'|translate}}" notFoundText="{{'Common.notFoundText'|translate}}">
  </ng-select>
  <div class="input-group-append" (click)="openModal(UtilitiyModal)">
    <span class="input-group-text btn btn-primary"><i class="fa fa-search-plus white"></i></span>
  </div>
</div>
<ng-template #UtilitiyModal>
  <div class="modal-header pb-1 pt-2">
    <a class="btn btn-default btn-pill btn-sm btn-icon btn-icon-md custom-sm" (click)="operation()"
      tooltip="{{'Common.Add'|translate}}" placement="auto">
      <i class="flaticon2-add-1"></i></a>
    <h4 class="modal-title pull-left m-010">{{'Utilitiy.Title'|translate}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="input-group justify-content-center" *ngIf="!UtilitiyOperation">
      <div class="kt-input-icon kt-input-icon--right">
        <input type="text" class="form-control" name="search" [(ngModel)]="search"
          placeholder="{{'Common.Search'|translate}}">
        <span class="kt-input-icon__icon kt-input-icon__icon--right"><span><i class="flaticon-search"></i></span></span>
      </div>
    </div>
    <div *ngIf="UtilitiyOperation">
      <form #UtilitiyForm="ngForm">
        <div class="row">
          <div class="form-group col-md-12">
               <label>{{'Utilitiy.Code'|translate}}</label>
               <input type="text" class="form-control" name="code" [(ngModel)]="model.code" #code="ngModel" required
               [ngClass]="{'parsley-error': (code.invalid && code.touched) || checkcode, 'parsley-success': code.valid || !checkcode}"
               (blur)="checkCode()">
               <ul class="parsley-errors-list filled">
               <li class="parsley-required" *ngIf="code.errors?.required && code.touched">
               {{'Utilitiy.Code'|translate}} {{'Common.IsRequired'|translate}}</li>
               <li class="parsley-required" *ngIf="checkcode">
               {{'Utilitiy.CheckCode'|translate}}</li>
               </ul>
          </div>
          <div class="form-group col-md-12">
            <label>{{'Utilitiy.Name'|translate}}</label>
            <input type="text" class="form-control" name="name" [(ngModel)]="model.name" #name="ngModel" required
              [ngClass]="{'parsley-error': name.invalid && name.touched, 'parsley-success': name.valid }">
            <ul class="parsley-errors-list filled">
              <li class="parsley-required" *ngIf="name.errors?.required && name.touched">
                {{'Utilitiy.Name'|translate}} {{'Common.IsRequired'|translate}}</li>
            </ul>
          </div>
          <div class="form-group col-md-12">
            <label>{{'Utilitiy.Price'|translate}}</label>
            <input type="number" class="form-control" name="price" [(ngModel)]="model.price" #price="ngModel" required
              [ngClass]="{'parsley-error': price.invalid && price.touched, 'parsley-success': price.valid }">
            <ul class="parsley-errors-list filled">
              <li class="parsley-required" *ngIf="price.errors?.required && price.touched">
                {{'Utilitiy.Price'|translate}} {{'Common.IsRequired'|translate}}</li>
            </ul>
          </div>
          <div class="form-group col-md-12">
            <label>{{'Utilitiy.VAT'|translate}}</label>
            <input type="number" class="form-control" name="vat" [(ngModel)]="model.vat" #vat="ngModel" required
              [ngClass]="{'parsley-error': vat.invalid && vat.touched, 'parsley-success': vat.valid }">
            <ul class="parsley-errors-list filled">
              <li class="parsley-required" *ngIf="vat.errors?.required && vat.touched">
                {{'Utilitiy.VAT'|translate}} {{'Common.IsRequired'|translate}}</li>
            </ul>
          </div>
        </div>
        <div class="form-action mt-2">
          <button type="submit" class="btn btn-success" [disabled]="UtilitiyForm.invalid" (click)="saveUnit()">
            <i class="la la-save"></i> {{'Common.Save' | translate}}
          </button>
          <button (click)="UtilitiyOperation = false" class="btn btn-warning"><i class="la la-close"></i>
            {{'Common.Close' | translate}}</button>
          <button class="btn btn-danger" [swal]="DeleteMessage" (confirm)="delete(model.utilitiyId)"
            title="{{'Common.Delete'| translate}}" *ngIf="model.utilitiyId > 0">
            <i class="la la-trash-o"></i> {{'Common.Delete' | translate}}</button>
        </div>
      </form>
    </div>
    <div class="table-responsive mt-3">
      <table class="table table-striped table-sm">
        <thead class="thead-light">
          <tr>
            <th scope="col">#</th>
            <th scope="col">{{'Utilitiy.Code'|translate}}</th>
            <th scope="col">{{'Utilitiy.Price'|translate}}</th>
            <th scope="col">{{'Utilitiy.VAT'|translate}}</th>
            <th scope="col">{{'Utilitiy.Name'|translate}}</th>
            <th scope="col">{{'Common.Tools'|translate}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of Utilities | filter: {name: search,code :search};let i=index">
            <td scope="row">{{i+1}}</td>
            <td>{{item.code}}</td>
            <td>{{item.price}}</td>
            <td>{{item.vat}}</td>
            <td>{{item.name}}</td>
            <td>
              <a class="grid-tool" tooltip="{{'Common.Select'| translate}}"
                (click)="selectedValue=item.utilitiyId ;emitObject(item.utilitiyId);modalRef.hide()">
                <i class="la la-magnet"></i></a>
              <a class="grid-tool" (click)="operation(item)" tooltip="{{'Common.Edit'| translate}}">
                <i class="flaticon-edit-1"></i></a>
              <a class="grid-tool" [swal]="DeleteMessage" (confirm)="delete(item.utilitiyId)"
                tooltip="{{'Common.Delete'|translate}}"><i class="flaticon-delete"></i></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</ng-template>
<swal #DeleteMessage title="{{'Common.DeleteConfirmMessage'|translate}}" type="error"
  confirmButtonText="{{'Common.Confirm'|translate}}" cancelButtonText="{{'Common.Cancel'|translate}}"
  [confirmButtonColor]="'#d33'" [focusCancel]="true" [focusConfirm]="false" [showCloseButton]="false"
  [showCancelButton]="true" [showConfirmButton]="true">
</swal>