<div class="input-group">
    <ng-select [items]="list" bindValue="paymentMethodId" bindLabel="name" [(ngModel)]="selectedValue" 
      (change)="selectedValueChanges.emit(selectedValue)" (clear)="selectedValueChanges.emit(null)" [clearable]="true"
      placeholder="{{'Common.Select'|translate}}"
      notFoundText="{{'Common.notFoundText'|translate}}">
    </ng-select>
</div>