<div class="kt-portlet mb-0">
  <div class="kt-portlet__head">
    <div class="kt-portlet__head-label">
      <h4 class="kt-portlet__head-title">
        {{'StockProduct.List'|translate}}
      </h4>
    </div>
    <div class="kt-portlet__head-toolbar">
      <div class="kt-portlet__head-actions">
        <a [routerLink]="['/store/stock/list']" class="btn btn-default btn-pill btn-sm btn-icon btn-icon-md custom-sm"
          tooltip="{{'Stock.List'|translate}}" placement="auto">
          <i class="flaticon2-list-3"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="kt-portlet__body p-2 pb-0" id="stock-product-list">
    <div class="row col-md-12">
      <div class="form-group col-md-6">
        <label>{{'StockProduct.Date'|translate}}</label>
        <br>
        <div class="input-group width-48 float-left">
          <div class="input-group-append"><span class="input-group-text">{{'Common.From'|translate}}</span>
          </div>
          <input type="text" class="form-control" placeholder="{{'Common.From'|translate}}" bsDatepicker
            [bsConfig]="fixed.datePickerConfig" [(ngModel)]="searchModel.fromDate" autocomplete="off">
        </div>
        <div class="input-group width-48">
          <div class="input-group-append"><span class="input-group-text">{{'Common.To'|translate}}</span>
          </div>
          <input type="text" class="form-control" placeholder="{{'Common.To'|translate}}" bsDatepicker
            [bsConfig]="fixed.datePickerConfig" [(ngModel)]="searchModel.toDate" autocomplete="off">
        </div>
      </div>
      
      <div class="form-group col-md-3">
        <label>{{'StockProduct.Stock'|translate}}</label>
        <div class="kt-input-icon kt-input-icon--left">
          <app-stock-shared [selectedValue]="searchModel.stockId" (selectedValueChanges)="searchModel.stockId = $event"
            [disable]="onlyStock">
          </app-stock-shared>
        </div>
      </div>
      <div class="form-group col-md-3">
        <label>{{'StockProduct.Product'|translate}}</label>
        <app-product-shared [(stockId)]="searchModel.stockId"
          (selectedValueChanges)="searchModel.productId  = ($event == null) ? null : $event.element.productId">
        </app-product-shared>
      </div>
      <div class="form-group col-md-4">
        <label>{{'StockProduct.BarcodeBatchNumber'|translate}}</label>
        <div class="kt-input-icon kt-input-icon--left">
          <div class="kt-input-icon kt-input-icon--left">
            <input [(ngModel)]="searchModel.barcodeBatchNumber" type="text" class="form-control"
              placeholder="{{'StockProduct.BarcodeBatchNumber'|translate}}">
            <span class="kt-input-icon__icon kt-input-icon__icon--left">
              <span><i class="la la-search"></i></span>
            </span>
          </div>
        </div>
      </div>
      <div class="form-group col-md-4">
        <label>{{'StockProduct.Barcode'|translate}}</label>
        <div class="kt-input-icon kt-input-icon--left">
          <div class="kt-input-icon kt-input-icon--left">
            <input [(ngModel)]="searchModel.barcode" type="text" class="form-control"
              placeholder="{{'StockProduct.Barcode'|translate}}">
            <span class="kt-input-icon__icon kt-input-icon__icon--left">
              <span><i class="la la-search"></i></span>
            </span>
          </div>
        </div>
      </div>
      <div class="form-group col-md-4">
        <label>{{'StockProduct.BatchNumber'|translate}}</label>
        <div class="kt-input-icon kt-input-icon--left">
          <div class="kt-input-icon kt-input-icon--left">
            <input [(ngModel)]="searchModel.batchNumber" type="text" class="form-control"
              placeholder="{{'StockProduct.BatchNumber'|translate}}">
            <span class="kt-input-icon__icon kt-input-icon__icon--left">
              <span><i class="la la-search"></i></span>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center mt-2">
      <button class="btn btn-primary mr-1" (click)="PrintReport()" title="{{'Common.Print'| translate}}">
        <i class="la la-print"></i> {{'Common.Print' | translate}} </button>
      <button type="button" class="btn btn-success round mr-1" (click)="searchModel.page=1;getAll()">
        <i class="ft-search"></i> {{'Common.Search' | translate}}
      </button>
      <button type="button" class="btn btn-secondary round mr-1" (click)="resetSearch()">
        <i class="ft-file"></i> {{'Common.NewSearch' | translate}}
      </button>
    </div>
    <div class="table-responsive mt-2">
      <table class="table table-striped table-sm mb-0">
        <thead class="thead-light">
          <tr>
            <th scope="col">{{'StockProduct.Stock'|translate}}</th>
            <th scope="col">{{'StockProduct.Product'|translate}}</th>
            <th scope="col">{{'StockProduct.BarcodeBatchNumber'|translate}}</th>
            <th scope="col">{{'StockProduct.Barcode'|translate}}</th>
            <th scope="col">{{'StockProduct.BatchNumber'|translate}}</th>
            <th scope="col">{{'StockProduct.Date'|translate}}</th>
            <th scope="col">{{'StockProduct.QtyInUom'|translate}}</th>
            <th scope="col">{{'StockProduct.PriceCost'|translate}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of stocks;let i=index">
            <td>{{item.stock}}</td>
            <td>{{item.product}}</td>
            <td>{{item.barcodeBatchNumber}}</td>
            <td>{{item.barcode}}</td>
            <td>{{item.batchNumber}}</td>
            <td *ngIf="fixed.activeLang.code == 'en'">{{item.expiryDate | date:'dd MMM y':null:'en-US'}}</td>
            <td *ngIf="fixed.activeLang.code == 'ar'">{{item.expiryDate | date:'dd MMM y':null:'ar-SA'}}</td>
            <td>{{item.qtyInUom}}</td>
            <td>{{(item.qtyInUom == 0)? 0 : item.priceCost | number : '1.2-2'}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <app-pagination [total]="total" [scroll]="'stock-product-list'" (changePagination)="changePagination($event)">
    </app-pagination>
  </div>
</div>