<div class="input-group">
  <ng-select [items]="Employees" bindLabel="name" bindValue="maintenanceEmployeeId" [(ngModel)]="selectedValue"
    (change)="selectedValueChanges.emit(selectedValue)" (clear)="selectedValueChanges.emit(null)" [clearable]="true"
    placeholder="{{'Common.Select'|translate}}" notFoundText="{{'Common.notFoundText'|translate}}">
  </ng-select>
  <div class="input-group-append" (click)="openModal(MaintenanceEmployeeModal)">
    <span class="input-group-text btn btn-primary"><i class="fa fa-search-plus white"></i></span>
  </div>
</div>

<ng-template #MaintenanceEmployeeModal>
  <div class="modal-header pb-1 pt-2">
    <h4 class="modal-title pull-left m-010">{{'MaintenanceEmployee.List'|translate}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="input-group justify-content-center">
      <div class="kt-input-icon kt-input-icon--right">
        <input type="text" class="form-control" name="search" [(ngModel)]="search"
          placeholder="{{'Common.Select'|translate}}">
        <span class="kt-input-icon__icon kt-input-icon__icon--right"><span><i class="flaticon-search"></i></span></span>
      </div>
    </div>

    <div class="table-responsive mt-4">
      <table class="table table-striped table-sm">
        <thead class="thead-light">
          <tr>

            <th scope="col">#</th>
            <th scope="col">{{'MaintenanceEmployee.Code'|translate}}</th>
            <th scope="col">{{'MaintenanceEmployee.Name'|translate}}</th>
            <th scope="col">{{'MaintenanceEmployee.JobTitle'|translate}}</th>
            <th scope="col">{{'Common.Tools'|translate}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of Employees | filter:{name:search,code :search,jobTitle :search};let i = index">
            <td>{{i+1}}</td>
            <td>{{item.code}}</td>
            <td>{{item.name}}</td>
            <td>{{item.jobTitle}}</td>
            <td>
              <a class="grid-tool" tooltip="{{'Common.Select'| translate}}"
                (click)="selectedValue=item.maintenanceEmployeeId ;selectedValueChanges.emit(item.maintenanceEmployeeId);modalRef.hide()">
                <i class="la la-magnet"></i></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</ng-template>