<div class="kt-portlet mb-0">
  <div class="kt-portlet__head">
    <div class="kt-portlet__head-label">
      <h4 class="kt-portlet__head-title">
        {{'Incentive.List'|translate}}
      </h4>
    </div>
    <div class="kt-portlet__head-toolbar">
      <div class="kt-portlet__head-actions">
        <a [routerLink]="['/store/incentive']" class="btn btn-default btn-pill btn-sm btn-icon btn-icon-md custom-sm"
          tooltip="{{'Incentive.Add'|translate}}" placement="auto">
          <i class="flaticon2-add-1"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="kt-portlet__body p-2 pb-0" id="incentive-list">
    <div class="row col-md-12">
      <div class="form-group col-md-4">
        <label>{{'Incentive.IncentiveName'|translate}}</label>
        <div class="kt-input-icon kt-input-icon--left">
          <input [(ngModel)]="searchModel.incentiveName" type="text" class="form-control"
            placeholder="{{'Incentive.IncentiveName'|translate}}">
          <span class="kt-input-icon__icon kt-input-icon__icon--left">
            <span><i class="la la-search"></i></span>
          </span>
        </div>
      </div>
      <div class="form-group col-md-4">
        <label>{{'Incentive.Category'|translate}}</label>
        <app-category-arbor [treeView]="false" [selectedValue]="searchModel.categoryId"
          (selectedValueChanges)="searchModel.categoryId = ($event == null) ? null : $event.categoryId"
          [bindLabel]="'code-name'">
        </app-category-arbor>
      </div>
      <div class="form-group col-md-4">
        <label>{{'Incentive.Product'|translate}}</label>
        <app-product-shared
          (selectedValueChanges)="searchModel.productId  = ($event == null) ? null : $event.element.productId">
        </app-product-shared>
      </div>
      <div class="form-group col-md-6">
        <label>{{'Incentive.Date'|translate}}</label>
        <br>
        <div class="input-group width-48 float-left">
          <div class="input-group-append"><span class="input-group-text">{{'Common.From'|translate}}</span>
          </div>
          <input type="text" class="form-control" placeholder="{{'Common.From'|translate}}" bsDatepicker
            [bsConfig]="fixed.datePickerConfig" [(ngModel)]="searchModel.fromDate" autocomplete="off">
        </div>
        <div class="input-group width-48">
          <div class="input-group-append"><span class="input-group-text">{{'Common.To'|translate}}</span>
          </div>
          <input type="text" class="form-control" placeholder="{{'Common.To'|translate}}" bsDatepicker
            [bsConfig]="fixed.datePickerConfig" [(ngModel)]="searchModel.toDate" autocomplete="off">
        </div>
      </div>


    </div>
    <div class="text-center mt-2">
      <button type="button" class="btn btn-success round mr-1" (click)="searchModel.page=1;getAll()">
        <i class="ft-search"></i> {{'Common.Search' | translate}}
      </button>
      <button type="button" class="btn btn-secondary round" (click)="resetSearch()">
        <i class="ft-file"></i> {{'Common.NewSearch' | translate}}
      </button>
    </div>
    <div class="table-responsive mt-2">
      <table class="table table-striped table-sm mb-0 text-center">
        <thead class="thead-light">
          <tr>
            <th scope="col">#</th>
            <th scope="col">{{'Incentive.IncentiveName'|translate}}</th>
            <th scope="col">{{'Incentive.StartDate'|translate}}</th>
            <th scope="col">{{'Incentive.EndDate'|translate}}</th>
            <th scope="col">{{'Incentive.Category'|translate}}</th>
            <th scope="col">{{'Incentive.Product'|translate}}</th>
            <th scope="col">{{'Incentive.OnQty'|translate}}</th>
            <th scope="col">{{'Incentive.IsPercentage'|translate}}</th>
            <th scope="col">{{'Common.Tools'|translate}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of list;let i=index">
            <td>{{i+1}}</td>
            <td>{{item.incentiveName}}</td>
            <td *ngIf="fixed.activeLang.code == 'en'">{{item.startDate | date:'dd MMM y':null:'en-US'}}</td>
            <td *ngIf="fixed.activeLang.code == 'ar'">{{item.startDate | date:'dd MMM y':null:'ar-SA'}}</td>
            <td *ngIf="fixed.activeLang.code == 'en'">{{item.endDate   | date:'dd MMM y':null:'en-US'}}</td>
            <td *ngIf="fixed.activeLang.code == 'ar'">{{item.endDate   | date:'dd MMM y':null:'ar-SA'}}</td>
            <td>{{item.category}}</td>
            <td>{{item.product}}</td>
            <td>
              <span *ngIf="item.onQty"><i class="la la-check-circle"></i></span>
              <span *ngIf="!item.onQty"><i class="la la-close"></i></span>
            </td>
            <td>
              <span *ngIf="item.isPercentage"><i class="la la-check-circle"></i></span>
              <span *ngIf="!item.isPercentage"><i class="la la-close"></i></span>
            </td>
            <td>
              <a class="grid-tool" [routerLink]="[ '/store/incentive/'+item.incentiveId]"
                tooltip="{{'Common.Edit'|translate}}">
                <i class="flaticon-edit-1"></i></a>
              <a class="grid-tool" [swal]="DeleteMessage" (confirm)="delete(item.incentiveId)"
                tooltip="{{'Common.Delete'|translate}}"><i class="flaticon-delete red"></i></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <app-pagination [total]="total" [scroll]="'incentive-list'" (changePagination)="changePagination($event)">
    </app-pagination>
  </div>
</div>