<div class="kt-portlet mb-0">
  <div class="kt-portlet__head">
    <div class="kt-portlet__head-label">
      <h4 class="kt-portlet__head-title">
        {{'FinantialYear.PageHeader'|translate}}
      </h4>
    </div>
    <div class="kt-portlet__head-toolbar">
      <div class="kt-portlet__head-actions">
        <a (click)="openModal(template, null)" class="btn btn-default btn-pill btn-sm btn-icon btn-icon-md custom-sm"
          tooltip="{{'FinantialYear.Add'|translate}}" placement="auto">
          <i class="flaticon2-add-1"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="kt-portlet__body p-2 pb-0">
    <div class="table-responsive">
      <table class="table table-striped table-sm mb-0">
        <thead class="thead-light">
          <tr>
            <th scope="col">#</th>
            <th scope="col">{{'FinantialYear.Year'|translate}}</th>
            <th scope="col">{{'FinantialYear.StartDate'|translate}}</th>
            <th scope="col">{{'FinantialYear.EndDate'|translate}}</th>
            <th scope="col">{{'FinantialYear.Status'|translate}}</th>
            <th scope="col">{{'Common.Tools'|translate}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of finantialYears;let i=index">
            <th scope="row">{{i+1}}</th>
            <td>{{item.year}}</td>
            <td *ngIf="fixed.activeLang.code == 'en'">{{item.startDate | date:'dd MMM y':null:'en-US'}}</td>
            <td *ngIf="fixed.activeLang.code == 'ar'">{{item.startDate | date:'dd MMM y':null:'ar-SA'}}</td>
            <td *ngIf="fixed.activeLang.code == 'en'">{{item.endDate | date:'dd MMM y':null:'en-US'}}</td>
            <td *ngIf="fixed.activeLang.code == 'ar'">{{item.endDate | date:'dd MMM y':null:'ar-SA'}}</td>
            <td>
              <span class="kt-badge kt-badge--danger kt-badge--inline kt-badge--pill" *ngIf="!item.status">
                {{'FinantialYear.Opened'|translate}} </span>
              <span class="kt-badge  kt-badge--success kt-badge--inline kt-badge--pill" *ngIf="item.status">
                {{'FinantialYear.Closed'|translate}} </span>
            </td>
            <td>
              <a class="grid-tool" (click)="openModal(template,item)" tooltip="{{'FinantialYear.Edit'|translate}}">
                <i class="flaticon-edit-1"></i></a>
              <a class="grid-tool" [swal]="DeleteMessage" (confirm)="deleteFinantialYear(item.finantialYearId)"
                tooltip="{{'Common.Delete'|translate}}"><i class="flaticon-delete"></i></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<ng-template #template>
  <div class="modal-header pb-1 pt-2">
    <h4 class="modal-title pull-left" *ngIf="model.finantialYearId == null">{{'FinantialYear.Add'|translate}}</h4>
    <h4 class="modal-title pull-left" *ngIf="model.finantialYearId > 0">{{'FinantialYear.Edit'|translate}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #finantialYearForm="ngForm">
      <div class="row">
        <div class="form-group col-md-2">
          <label>{{'FinantialYear.Year'|translate}}</label>
          <input type="number" class="form-control" min="0" name="year" [(ngModel)]="model.year" #year="ngModel" required
            [ngClass]="{'parsley-error': (year.invalid && year.touched),'parsley-success': year.valid }">
          <ul class="parsley-errors-list filled">
            <li class="parsley-required" *ngIf="year.errors?.required && year.touched">
              {{'FinantialYear.Year'|translate}} {{'Common.IsRequired'|translate}}</li>
          </ul>
        </div>
        <div class="form-group col-md-4">
          <label>{{'FinantialYear.StartDate'|translate}}</label>
          <input type="text" class="form-control" name="startDate" [(ngModel)]="model.startDate" #startDate="ngModel"
            bsDatepicker [bsConfig]="fixed.datePickerConfig" autocomplete="off"
            [ngClass]="{'parsley-error': (model.startDate == null || model.startDate == 'Invalid Date') && startDate.touched}">
          <ul class="parsley-errors-list filled">
            <li class="parsley-required" *ngIf="model.startDate == null && startDate.touched">
              {{'FinantialYear.StartDate'|translate}} {{'Common.IsRequired'|translate}}</li>
            <li class="parsley-required" *ngIf="model.startDate == 'Invalid Date' && startDate.touched">
              {{'FinantialYear.StartDate'|translate}} {{'Common.Error'|translate}}</li>
          </ul>
        </div>
        <div class="form-group col-md-4">
          <label>{{'FinantialYear.EndDate'|translate}}</label>
          <input type="text" class="form-control" name="endDate" [(ngModel)]="model.endDate" #endDate="ngModel"
            bsDatepicker [bsConfig]="fixed.datePickerConfig" autocomplete="off"
            [ngClass]="{'parsley-error': (model.endDate == null || model.endDate == 'Invalid Date') && endDate.touched}">
          <ul class="parsley-errors-list filled">
            <li class="parsley-required" *ngIf="model.endDate == null && endDate.touched">
              {{'FinantialYear.EndDate'|translate}} {{'Common.IsRequired'|translate}}</li>
            <li class="parsley-required" *ngIf="model.endDate == 'Invalid Date' && endDate.touched">
              {{'FinantialYear.EndDate'|translate}} {{'Common.Error'|translate}}</li>
          </ul>
        </div>
        <div class="form-group col-md-2">
          <label>{{'FinantialYear.Status'|translate}}</label>
          <br>
          <label class="fancy-radio custom-color-red">
            <input type="radio" name="status" [value]="false" [(ngModel)]="model.status">
            <span class="red"><i></i>{{'FinantialYear.Opened'|translate}}</span>
          </label>
          <label class="fancy-radio custom-color-green">
            <input type="radio" name="status" [value]="true" [(ngModel)]="model.status">
            <span class="green"><i></i>{{'FinantialYear.Closed'|translate}}</span>
          </label>
        </div>
      </div>
      <div class="kt-section mb-0">
        <h3 class="kt-section__title mb-0">
          <a class="btn btn-default btn-pill btn-sm btn-icon btn-icon-md custom-sm" (click)="periodOperation()"
            tooltip="{{'Common.Add'|translate}}" placement="auto">
            <i class="flaticon2-add-1"></i></a>
          <span class="m-010">{{'FinantialYear.FinancialPeriods'|translate}}</span>
        </h3>
      </div>
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead class="thead-light">
            <tr>
              <th scope="col">#</th>
              <th scope="col">{{'FinantialYear.StartDate'|translate}}</th>
              <th scope="col">{{'FinantialYear.EndDate'|translate}}</th>
              <th scope="col">{{'FinantialYear.PeriodStatus'|translate}}</th>
              <th scope="col">{{'Common.Tools'|translate}}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of model.aCC_AccountingPeriod; let i=index" [hidden]="item.isDeleted">
              <th scope="row">{{(i+1)}}</th>
              <td>
                <input type="text" class="form-control" name="startDate{{i}}" [(ngModel)]="item.startDate" bsDatepicker
                  [bsConfig]="fixed.datePickerConfig" autocomplete="off" *ngIf="item.operation == 'e'"
                  [ngClass]="{'parsley-error': item.startDate == null || item.startDate == 'Invalid Date'}">
                <span *ngIf="item.operation == 's' && fixed.activeLang.code == 'en'">
                  {{item.startDate | date:'dd MMM y':null:'en-US'}}</span>
                <span *ngIf="item.operation == 's' && fixed.activeLang.code == 'ar'">
                  {{item.startDate | date:'dd MMM y':null:'ar-SA'}}</span>
              </td>
              <td>
                <input type="text" class="form-control" name="endDate{{i}}" [(ngModel)]="item.endDate" bsDatepicker
                  [bsConfig]="fixed.datePickerConfig" autocomplete="off" *ngIf="item.operation == 'e'"
                  [ngClass]="{'parsley-error': item.endDate == null || item.endDate == 'Invalid Date'}">
                <span *ngIf="item.operation == 's' && fixed.activeLang.code == 'en'">
                  {{item.endDate | date:'dd MMM y':null:'en-US'}}</span>
                <span *ngIf="item.operation == 's' && fixed.activeLang.code == 'ar'">
                  {{item.endDate | date:'dd MMM y':null:'ar-SA'}}</span>
              </td>
              <td>
                <label class="fancy-radio custom-color-red" *ngIf="item.operation == 'e'">
                  <input type="radio" name="status{{i}}" [value]="false" [(ngModel)]="item.status">
                  <span class="red"><i></i>{{'FinantialYear.Opened'|translate}}</span>
                </label>
                <label class="fancy-radio custom-color-green" *ngIf="item.operation == 'e'">
                  <input type="radio" name="status{{i}}" [value]="true" [(ngModel)]="item.status">
                  <span class="green"><i></i>{{'FinantialYear.Closed'|translate}}</span>
                </label>
                <span class="kt-badge kt-badge--danger kt-badge--inline kt-badge--pill"
                  *ngIf="!item.status && item.operation == 's'">
                  {{'FinantialYear.Opened'|translate}} </span>
                <span class="kt-badge  kt-badge--success kt-badge--inline kt-badge--pill"
                  *ngIf="item.status && item.operation == 's'">
                  {{'FinantialYear.Closed'|translate}} </span>
              </td>
              <td>
                <a class="grid-tool" (click)="periodOperation(item)" tooltip="{{'Common.Edit'| translate}}"
                  *ngIf="item.operation == 's'">
                  <i class="flaticon-edit-1"></i></a>
                <a class="grid-tool" (click)="periodFinish('save', item)" tooltip="{{'Common.Save'| translate}}"
                  *ngIf="item.operation == 'e'">
                  <i class="la la-save"></i></a>
                <a class="grid-tool" [swal]="DeleteMessage" (confirm)="deletePeriod(item,i)"
                  tooltip="{{'Common.Delete'|translate}}" *ngIf="item.operation == 's'"><i
                    class="flaticon-delete"></i></a>
                <a class="grid-tool" (click)="periodFinish('close', item,i)" tooltip="{{'Common.Close'|translate}}"
                  *ngIf="item.operation == 'e'"><i class="la la-close"></i></a>
              </td>
            </tr>
            <tr><a class="btn btn-success white mt-2" (click)="periodOperation()">{{'Common.Add'| translate}}</a></tr>
          </tbody>
        </table>
      </div>
      <div class="form-action">
        <button type="submit" class="btn btn-success" [disabled]="finantialYearForm.invalid || lockGridEdit"
          (click)="saveFinantialYear()">
          <i class="la la-save"></i> {{'Common.Save' | translate}}
        </button>
        <button (click)="modalRef.hide()" class="btn btn-warning"><i class="la la-close"></i>
          {{'Common.Close' | translate}}</button>
        <button class="btn btn-danger" [swal]="DeleteMessage" (confirm)="deleteFinantialYear(model.finantialYearId)"
          title="{{'Common.Delete'| translate}}" *ngIf="model.finantialYearId > 0">
          <i class="la la-trash-o"></i> {{'Common.Delete' | translate}}</button>
      </div>
    </form>
  </div>
</ng-template>
<swal #DeleteMessage title="{{'Common.DeleteConfirmMessage'|translate}}" type="error"
  confirmButtonText="{{'Common.Confirm'|translate}}" cancelButtonText="{{'Common.Cancel'|translate}}"
  [confirmButtonColor]="'#d33'" [focusCancel]="true" [focusConfirm]="false" [showCloseButton]="false"
  [showCancelButton]="true" [showConfirmButton]="true">
</swal>