<div class="kt-subheader   kt-grid__item" id="kt_subheader">
  <div class="kt-subheader__main">
    <h4 class="kt-subheader__title">{{ fixed.subHeader.pageHeader |translate}}</h4>
    <span class="kt-subheader__separator kt-subheader__separator--v"></span>
    <div class="kt-subheader__breadcrumbs">
      <a routerLink="/" class="kt-subheader__breadcrumbs-link">
        <i class="sub-header-home la la-home"></i> {{'Common.Home'|translate}}
      </a>
      <span class="kt-subheader__breadcrumbs-separator"></span>
      <ng-container *ngFor="let item of fixed.subHeader.data;let i = index">
        <a routerLink="{{item.url}}" class="kt-subheader__breadcrumbs-link" *ngIf="item.url != null">
          {{item.name | translate}} </a>
        <a class="kt-subheader__breadcrumbs-link" *ngIf="item.url == null">
          {{item.name | translate}}
        </a>
        <span class="kt-subheader__breadcrumbs-separator" *ngIf="fixed.subHeader.data.length > i+1"></span>
      </ng-container>
    </div>
  </div>
</div>