<div class="kt-portlet mb-0">
  <div class="kt-portlet__head">
    <div class="kt-portlet__head-label">
      <h4 class="kt-portlet__head-title">
       User Profile
      </h4>
    </div>
    <div style="float: right; margin-top: 5px;">
      <button class="btn btn-success">Edit Profile <i class="la la-edit"></i></button>
    </div>
   
   
  </div>
 
  <div class="kt-portlet__body p-2 pb-0" id="transaction-page">
    <div class="row col-md -12">
      <div class="col-md-3">
            <img src="http://thetransformedmale.files.wordpress.com/2011/06/bruce-wayne-armani.jpg"  style="border-radius: 50%;" height="70%"/>
            <form class="md-form" style="margin-left: 30%; margin-top: 5px;">
                <div class="file-field">
                  <div class="btn btn-primary btn-lg ">
                    <span>Change photo</span>
                    <input type="file" hidden>
                  </div>
                  
                </div>
              </form>
          </div>
    <div class="col-md-6">
      <div class="col-md-9">
        <div class="col-md-9">
          <label>User Name</label>
         <input type="text" class="form-control"/>
        </div>
        <div class="col-md-9">
          <label>Email</label>
          <input type="text" class="form-control"/>
        </div>
        <div class="col-md-9">
          <label>Password</label>
          <input type="text" class="form-control"/>
        </div>
        <div class="col-md-9">
            <label>Birth</label>
            <input type="text" class="form-control"/>
          </div>
        <div class="col-md-9">
            <label>Address</label>
            <input type="text" class="form-control"/>
            
          </div>
      <div class="col-md-9">
          <label>Phone</label>
          <input type="text" class="form-control"/>
          
        </div>
      
      </div>
     
    </div> 
  </div>
</div>
