<div class="kt-portlet mb-0">
  <div class="kt-portlet__head">
    <div class="kt-portlet__head-label">
      <h4 class="kt-portlet__head-title">
        {{'Banks.PageHeader'|translate}}
      </h4>
    </div>
    <div class="kt-portlet__head-toolbar">
      <div class="kt-portlet__head-actions">
        <a (click)="openModal(template, null)" class="btn btn-default btn-pill btn-sm btn-icon btn-icon-md custom-sm"
          tooltip="{{'Banks.Add'|translate}}" placement="auto">
          <i class="flaticon2-add-1"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="kt-portlet__body p-2 pb-0">
    <div class="table-responsive">
      <table class="table table-striped table-sm mb-0">
        <thead class="thead-light">
          <tr>
            <th scope="col">{{'Banks.Code'|translate}}</th>
            <th scope="col">{{'Banks.Name'|translate}}</th>
            <th scope="col">{{'Common.Notes'|translate}}</th>
            <th scope="col">{{'Common.Tools'|translate}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of banks;let i=index">
            <td>{{item.code}}</td>
            <td>{{item.name}}</td>
            <td>{{item.notes}}</td>
            <td>
              <a class="grid-tool" (click)="openModal(template,item)" tooltip="{{'Banks.Edit'|translate}}">
                <i class="flaticon-edit-1"></i></a>
              <a class="grid-tool" [swal]="DeleteMessage" (confirm)="deleteBank(item.bankId)"
                tooltip="{{'Common.Delete'|translate}}"><i class="flaticon-delete"></i></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<ng-template #template>
  <div class="modal-header pb-1 pt-2">
    <h4 class="modal-title pull-left" *ngIf="model.bankId == null">{{'Banks.Add'|translate}}</h4>
    <h4 class="modal-title pull-left" *ngIf="model.bankId > 0">{{'Banks.Edit'|translate}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #bankForm="ngForm">
      <div class="row">
        <div class="form-group col-md-6">
          <label>{{'Banks.Code'|translate}}</label>
          <input type="text" class="form-control" name="code" [(ngModel)]="model.code" #code="ngModel" required
            (blur)="checkBankCode(model.code)"
            [ngClass]="{'parsley-error': (code.invalid && code.touched) || checkCode, 'parsley-success': code.valid && !checkCode}">
          <ul class="parsley-errors-list filled">
            <li class="parsley-required" *ngIf="code.errors?.required && code.touched">
              {{'Banks.Code'|translate}} {{'Common.IsRequired'|translate}}</li>
            <li class="parsley-required" *ngIf="checkCode">
              {{'Banks.CheckCode'|translate}}</li>
          </ul>
        </div>
        <div class="form-group col-md-6">
          <label>{{'Banks.Name'|translate}}</label>
          <input type="text" class="form-control" name="name" [(ngModel)]="model.name" #name="ngModel" required
            [ngClass]="{'parsley-error': name.invalid && name.touched, 'parsley-success': name.valid }">
          <ul class="parsley-errors-list filled">
            <li class="parsley-required" *ngIf="name.errors?.required && name.touched">
              {{'AccountTree.Name'|translate}} {{'Common.IsRequired'|translate}}</li>
          </ul>
        </div>
        <div class="form-group col-md-12">
          <label>{{'Common.Notes'|translate}}</label>
          <input type="text" class="form-control" name="notes" [(ngModel)]="model.notes" #notes="ngModel">
        </div>
      </div>
      <div class="kt-section mb-0">
        <h3 class="kt-section__title mb-0">
          <a class="btn btn-default btn-pill btn-sm btn-icon btn-icon-md custom-sm" (click)="accountOperation()"
            tooltip="{{'Common.Add'|translate}}" placement="auto">
            <i class="flaticon2-add-1"></i></a>
          <span class="m-010">{{'Banks.BankAccounts'|translate}}</span>
        </h3>
      </div>
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead class="thead-light">
            <tr>
              <th scope="col">#</th>
              <th scope="col">{{'Banks.Account'|translate}}</th>
              <th scope="col">{{'Banks.AccountName'|translate}}</th>
              <th scope="col">{{'Banks.AccountCode'|translate}}</th>
              <th scope="col">{{'Common.Tools'|translate}}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of model.aCC_BankAccount; let i=index" [hidden]="item.isDeleted">
              <th scope="row">{{(i+1)}}</th>
              <td>
                <app-account-arbor [treeView]="false" [filterType]="'child'" [(selectedValue)]="item.accountTreeId"
                  [hidden]="item.operation == 's'" [bindLabel]="'code-name'"
                  (selectedValueChanges)="item.accountTreeId = ($event == null) ? null : $event.accountTreeId">
                </app-account-arbor>
                <span [hidden]="item.operation == 'e'">
                  {{(fixed.accounting.AccountTree | filterById: 'accountTreeId': item.accountTreeId)[0]?.fullName}}</span>
              </td>
              <td>
                <input type="text" class="form-control" name="accountName{{i}}" [(ngModel)]="item.accountName"
                  *ngIf="item.operation == 'e'"
                  [ngClass]="{'parsley-error': item.accountName == null || item.accountName == ''}">
                <span *ngIf="item.operation == 's'">{{item.accountName}}</span>
              </td>
              <td>
                <input type="text" class="form-control" name="accountCode{{i}}" [(ngModel)]="item.accountCode"
                  *ngIf="item.operation == 'e'"
                  [ngClass]="{'parsley-error': item.accountCode == null || item.accountCode == ''}">
                <span *ngIf="item.operation == 's'">{{item.accountCode}}</span>
              </td>
              <td>
                <a class="grid-tool" (click)="accountOperation(item)" tooltip="{{'Common.Edit'| translate}}"
                  *ngIf="item.operation == 's'">
                  <i class="flaticon-edit-1"></i></a>
                <a class="grid-tool" (click)="accountFinish('save', item)" tooltip="{{'Common.Save'| translate}}"
                  *ngIf="item.operation == 'e'">
                  <i class="la la-save"></i></a>
                <a class="grid-tool" [swal]="DeleteMessage" (confirm)="deleteAccount(item,i)"
                  tooltip="{{'Common.Delete'|translate}}" *ngIf="item.operation == 's'"><i
                    class="flaticon-delete"></i></a>
                <a class="grid-tool" (click)="accountFinish('close', item, i)" tooltip="{{'Common.Close'|translate}}"
                  *ngIf="item.operation == 'e'"><i class="la la-close"></i></a>
              </td>
            </tr>
            <tr><a class="btn btn-success white mt-2" (click)="accountOperation()">{{'Common.Add'| translate}}</a></tr>
          </tbody>
        </table>
      </div>
      <div class="form-action">
        <button type="submit" class="btn btn-success" [disabled]="bankForm.invalid || lockGridEdit"
          (click)="saveBank()">
          <i class="la la-save"></i> {{'Common.Save' | translate}}
        </button>
        <button (click)="modalRef.hide()" class="btn btn-warning"><i class="la la-close"></i>
          {{'Common.Close' | translate}}
        </button>
        <button class="btn btn-danger" [swal]="DeleteMessage" (confirm)="deleteBank(model.bankId)"
          title="{{'Common.Delete'| translate}}" *ngIf="model.bankId > 0">
          <i class="la la-trash-o"></i> {{'Common.Delete' | translate}}
        </button>
      </div>
    </form>
  </div>
</ng-template>
<swal #DeleteMessage title="{{'Common.DeleteConfirmMessage'|translate}}" type="error"
  confirmButtonText="{{'Common.Confirm'|translate}}" cancelButtonText="{{'Common.Cancel'|translate}}"
  [confirmButtonColor]="'#d33'" [focusCancel]="true" [focusConfirm]="false" [showCloseButton]="false"
  [showCancelButton]="true" [showConfirmButton]="true">
</swal>