@font-face {
    font-family: 'Markazi Text';
    src: url('../fonts/Markazi-Text.eot');
    src: url('../fonts/Markazi-Text.woff2') format('woff2'), url('../fonts/Markazi-Text.woff') format('woff'), url('../fonts/Markazi-Text.ttf') format('truetype'), url('../fonts/Markazi-Text.svg#svgFontName') format('svg');
}

[dir="rtl"] .dropdown-menu {
    right: initial;
}

.img-responsive {
    width: 100%;
}

.sub-header-icon {
    font-size: 10px !important;
    margin: 0 5px;
}

.sub-header-home {
    font-size: 15px !important;
    margin: 0 5px;
}

.kt-subheader .kt-subheader__main .kt-subheader__title, .kt-portlet__head-title {
    font-size: 1.5rem !important;
}

[dir="rtl"] .kt-subheader .kt-subheader__main .kt-subheader__title, .kt-portlet__head-title {
    font-size: 1.2rem !important;
}

.table thead th, .table thead td {
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.grid-tool {
    margin: 0 5px;
    display: inline-block;
}

input.parsley-success, select.parsley-success, textarea.parsley-success {
    color: #468847;
    background-color: #DFF0D8;
    border: 1px solid #D6E9C6;
}

input.parsley-error, select.parsley-error, textarea.parsley-error {
    color: #B94A48;
    background-color: #F2DEDE;
    border: 1px solid #EED3D7;
}

.parsley-errors-list {
    margin: 2px 0 3px;
    padding: 0;
    list-style-type: none;
    font-size: 0.9em;
    line-height: 0.9em;
    opacity: 0;
    transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
}

.parsley-errors-list.filled {
    opacity: 1;
}

.parsley-errors-list li {
    color: #de4848;
    font-size: 0.9em;
    margin-top: 3px;
}

.fancy-radio {
    margin-left: 10px
}

.fancy-radio, .fancy-radio label {
    font-weight: 400
}

.fancy-radio input[type="radio"] {
    display: none
}

.fancy-radio input[type="radio"]+span {
    display: block;
    cursor: pointer;
    position: relative
}

.fancy-radio input[type="radio"]+span i {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    position: relative;
    bottom: 1px;
    content: "";
    border: 1px solid #bdbdbd;
    width: 18px;
    height: 18px;
    margin: 0 5px
}

.fancy-radio input[type="radio"]:checked+span i:after {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    display: block;
    position: relative;
    top: 3px;
    right: -3px;
    content: '';
    width: 10px;
    height: 10px;
    background-color: #7b848c
}

[dir="rtl"] .fancy-radio input[type="radio"]:checked+span i:after {
    right: 3px;
}

.fancy-radio.custom-color-green input[type="radio"]:checked+span i:after {
    background-color: #22af46
}

.fancy-radio.custom-color-green input[type="radio"]+span i {
    border: 1px solid #22af46;
}

.fancy-radio.custom-color-red input[type="radio"]:checked+span i:after {
    background-color: #de4848
}

.fancy-radio.custom-color-red input[type="radio"]+span i {
    border: 1px solid #de4848;
}

.red {
    color: #de4848;
}

.green {
    color: #22af46;
}

.fancy-radio.custom-bgcolor-green input[type="radio"]:checked+span i {
    background-color: #22af46
}

.fancy-radio.custom-bgcolor-green input[type="radio"]:checked+span i:after {
    background-color: #fff
}

.input-group-addon .fancy-radio, .input-group-addon .fancy-checkbox {
    margin: 0;
    position: relative;
    top: 1px
}

.input-group-addon .fancy-radio input[type="radio"]+span i, .input-group-addon .fancy-checkbox input[type="checkbox"]+span {
    margin: 0
}

.input-group-addon .fancy-radio input[type="radio"]+span i:before, .input-group-addon .fancy-checkbox input[type="checkbox"]+span:before {
    margin: 0
}

.fancy-checkbox {
    margin-right: 10px;
}

[dir="rtl"] .fancy-checkbox {
    margin-left: 10px;
    margin-right: initial;
}

.fancy-checkbox, .fancy-checkbox label {
    font-weight: normal
}

.fancy-checkbox input[type="checkbox"] {
    display: none
}

.fancy-checkbox input[type="checkbox"]+span {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    cursor: pointer;
    position: relative
}

.fancy-checkbox input[type="checkbox"]+span:before {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    border-radius: .1875rem;
    position: relative;
    bottom: 1px;
    width: 24px;
    height: 24px;
    margin-right: 10px;
    margin-left: initial;
    content: "";
    border: 1px solid #bdbdbd
}

[dir="rtl"] .fancy-checkbox input[type="checkbox"]+span:before {
    margin-left: 10px;
    margin-right: initial;
}

.fancy-checkbox input[type="checkbox"]:checked+span:before {
    color: #000;
    font-family: 'LineAwesome';
    content: '\f17b';
    font-size: 15px;
    text-align: center;
    line-height: 21px
}

.fancy-checkbox.custom-color-green input[type="checkbox"]:checked+span:before {
    color: #22af46;
    background-color: #fff
}

.fancy-checkbox.custom-bgcolor-green input[type="checkbox"]:checked+span:before {
    color: #fff;
    background-color: #22af46;
    border-color: #1b8d38
}

.form-group {
    margin-bottom: .5rem;
}

label {
    margin-bottom: 0;
}

.kt-portlet .kt-portlet__head {
    min-height: 45px;
}

.custom-sm {
    height: 2rem !important;
    width: 2rem !important;
}

.custom-sm i {
    font-size: 1rem !important;
}

.swal2-popup .swal2-title {
    font-size: 1.875em !important;
}

.red-custom {
    color: #de4848;
}

.form-action {
    margin-top: 20px;
    text-align: center;
}

.form-action button {
    margin: 0 5px;
}

.btn {
    padding: .3rem .5rem;
}

.btn i {
    padding: 0;
}

.btn [class*=" la-"] {
    font-size: 1rem;
}

.swal2-popup {
    border-radius: 1.3125em !important;
}

.input-group .ng-select {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
}

.m-010 {
    margin: 0 10px;
}

.white {
    color: white !important;
}

.modal {
    z-index: 950 !important;
}

.modal-backdrop {
    z-index: 940 !important;
}

.table-responsive {
    overflow-x: initial;
}

.page-link {
    border-radius: 50%;
    margin: 0 2px;
}

.page-item:last-child .page-link {
    border-top-right-radius: 50% !important;
    border-bottom-right-radius: 50% !important;
}

.page-item:first-child .page-link {
    border-top-left-radius: 50% !important;
    border-bottom-left-radius: 50% !important;
}

.label-head {
    font-weight: bold;
    margin: 0 5px;
}

.label-head::after {
    content: ' : ';
}

.width-5 {
    width: 5%;
}

.width-10 {
    width: 10%;
}

.width-12 {
    width: 12%;
}

.width-15 {
    width: 15%;
}

.width-20 {
    width: 20%;
}

.width-25 {
    width: 25%;
}

.width-30 {
    width: 30%;
}

.width-40 {
    width: 40%;
}

.width-48 {
    width: 48%;
}

.width-50 {
    width: 50%;
}

.width-100 {
    width: 100%;
}

.input-group-text {
    padding: 0 7px;
}

.bb {
    border-bottom: 1px solid rgba(0, 0, 0, .06);
}

.bc-custom {
    background-color: rgba(245, 247, 250, 1);
}

.mb-5px {
    margin-bottom: 5px !important;
}

.split-form {
    border-bottom: 1px dashed #ebedf2;
    margin: 1.5rem 0;
}

.ltr {
    direction: ltr;
}

.kt-page-loader {
    background-color: rgba(0, 0, 0, .3);
}