<div class="kt-portlet mb-0">
  <div class="kt-portlet__head">
    <div class="kt-portlet__head-label">
      <h4 class="kt-portlet__head-title">
        {{'Stock.List'|translate}}
      </h4>
    </div>
    <div class="kt-portlet__head-toolbar">
      <div class="kt-portlet__head-actions">
        <a [routerLink]="['/store/stock/operation']"
          class="btn btn-default btn-pill btn-sm btn-icon btn-icon-md custom-sm" tooltip="{{'Stock.Add'|translate}}"
          placement="auto">
          <i class="flaticon2-add-1"></i>
        </a>
      </div>
      <div class="kt-portlet__head-actions">
        <a [routerLink]="['/store/stock/product-list']"
          class="btn btn-default btn-pill btn-sm btn-icon btn-icon-md custom-sm"
          tooltip="{{'StockProduct.List'|translate}}" placement="auto">
          <i class="flaticon2-list-3"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="kt-portlet__body p-2 pb-0" id="stock-list-operation">
    <div class="row col-md-12">
      <div class="form-group col-md-6">
        <label>{{'Stock.Code'|translate}}</label>
        <div class="kt-input-icon kt-input-icon--left">
          <input [(ngModel)]="searchModel.code" type="text" class="form-control"
            placeholder="{{'Stock.Code'|translate}}" (blur)="getAll()">
          <span class="kt-input-icon__icon kt-input-icon__icon--left">
            <span><i class="la la-search"></i></span>
          </span>
        </div>
      </div>
      <div class="form-group col-md-6">
        <label>{{'Stock.Name'|translate}}</label>
        <div class="kt-input-icon kt-input-icon--left">
          <input [(ngModel)]="searchModel.name" type="text" class="form-control"
            placeholder="{{'Stock.Name'|translate}}" (blur)="getAll()">
          <span class="kt-input-icon__icon kt-input-icon__icon--left">
            <span><i class="la la-search"></i></span>
          </span>
        </div>
      </div>
    </div>
    <div class="table-responsive mt-2">
      <table class="table table-striped table-sm mb-0">
        <thead class="thead-light">
          <tr>
            <th scope="col">#</th>
            <th scope="col">{{'Stock.Code'|translate}}</th>
            <th scope="col">{{'Stock.Name'|translate}}</th>
            <th scope="col">{{'Common.Tools'|translate}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of stocks;let i=index">
            <td>{{i+1}}</td>
            <td>{{item.code}}</td>
            <td>{{item.name}}</td>
            <td>
              <a class="grid-tool" [routerLink]="[ '/store/stock/operation/'+item.stockId]"
                tooltip="{{'Common.Edit'|translate}}">
                <i class="flaticon-edit-1"></i></a>
              <a class="grid-tool" [swal]="DeleteMessage" (confirm)="delete(item.stockId)"
                tooltip="{{'Common.Delete'|translate}}"><i class="flaticon-delete red"></i></a>
              <a class="grid-tool" [routerLink]="['/store/stock/product-list/'+item.stockId +'/' + item.name]"
                tooltip="{{'Stock.Stocktaking'|translate}}">
                <i class="flaticon2-list-3"></i></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <app-pagination [total]="total" [scroll]="'stock-list-operation'" (changePagination)="changePagination($event)">
    </app-pagination>
  </div>
</div>
<swal #DeleteMessage title="{{'Common.DeleteConfirmMessage'|translate}}" type="error"
  confirmButtonText="{{'Common.Confirm'|translate}}" cancelButtonText="{{'Common.Cancel'|translate}}"
  [confirmButtonColor]="'#d33'" [focusCancel]="true" [focusConfirm]="false" [showCloseButton]="false"
  [showCancelButton]="true" [showConfirmButton]="true">
</swal>