<ng-container *ngIf="!treeView; else treeTemplate">
  <div class="input-group">
    <ng-select notFoundText="{{'Common.notFoundText'|translate}}"
      [items]="list | accountTreeFilter :filterType:fliterValue" bindLabel="{{bindLabel}}"
      bindValue="accountTreeId" placeholder="{{'Common.Select'|translate}}" name="tree" [(ngModel)]="selectedValue"
      [clearable]="true" [disabled]="disable" (change)="onNodeSelect(selectedValue,'drop',null)"
      (clear)="onNodeSelect(null,'drop','delete')" [multiple]="multiple" [closeOnSelect]="!multiple">
      <ng-template ng-label-tmp let-item="item">
        <div *ngIf="bindLabel == 'fullName'">{{item.fullName}}</div>
        <div *ngIf="bindLabel == 'code-name'">{{item.code}} -- {{item.name}}</div>
      </ng-template>
      <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
        <div *ngIf="bindLabel == 'fullName'">{{item.fullName}}</div>
        <div *ngIf="bindLabel == 'code-name'">{{item.code}} -- {{item.name}}</div>
      </ng-template>
    </ng-select>
    <div class="input-group-append" (click)="openModal(popupTemplate)">
      <span class="input-group-text btn btn-primary"><i class="fa fa-search-plus white"></i></span>
    </div>
  </div>
</ng-container>
<ng-template #treeTemplate>
  <div class="tree-header">
    <h5 class="tree-title float-left">
      {{'Tree.AccountTree' | translate}}
    </h5>
    <div class="tree-tools float-right">
      <a tooltip="{{'Tree.Reload'|translate}}" (click)="Reload()">
        <i class="flaticon2-reload"></i></a>
      <a tooltip="{{'Tree.RemoveSelection'|translate}}" (click)="onNodeSelect(nul,'tree','delete')">
        <i class="la la-close"></i></a>
    </div>
  </div>
  <p-tree emptyMessage="{{'Common.NoRecord'|translate}}" [value]="treeList" selectionMode="single"
    [(selection)]="selectedNode" (onNodeSelect)="onNodeSelect($event,'tree',null)" [filter]="true"></p-tree>
</ng-template>
<ng-template #popupTemplate>
  <div class="modal-header pb-1 pt-2">
    <h4 class="modal-title pull-left">{{'Tree.AccountTree' | translate}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="input-group justify-content-center">
      <div class="kt-input-icon kt-input-icon--right">
        <input type="text" class="form-control" name="search" [(ngModel)]="search"
          placeholder="{{'Common.Search'|translate}}">
        <span class="kt-input-icon__icon kt-input-icon__icon--right"><span><i class="flaticon-search"></i></span></span>
      </div>
    </div>
    <div class="table-responsive mt-3">
      <table class="table table-striped table-sm">
        <thead class="thead-light">
          <tr>
            <th scope="col" *ngIf="multiple">#</th>
            <th scope="col">{{'AccountTree.Code'|translate}}</th>
            <th scope="col">{{'AccountTree.Name'|translate}}</th>
            <th scope="col" *ngIf="!multiple">{{'Common.Tools'|translate}}</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let item of (list | accountTreeFilter :filterType:fliterValue) | filter: {code: search,fullName: search};">
            <td *ngIf="multiple">
              <input type="checkbox" name="check{{item.accountTreeId}}" [(ngModel)]="item.check" [disabled]="disable"
                (input)="checkChanged($event, item)">
              <span></span>
            </td>
            <td>{{item.code}}</td>
            <td>
              <i *ngIf="!multiple && item.accountTreeId == selectedValue"
                class="grid-tool la la-check-circle green"></i> {{item.fullName}}
            </td>
            <td *ngIf="!multiple">
              <a class="grid-tool" tooltip="{{'Common.Select'| translate}}"
                (click)="onNodeSelect(item.accountTreeId,'drop',null);modalRef.hide()">
                <i class="la la-magnet"></i></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="form-action" *ngIf="multiple">
      <button type="submit" class="btn btn-success" (click)="modalRef.hide()">
        <i class="la la-power-off"></i> {{'Common.Done' | translate}}
      </button>
    </div>
  </div>
</ng-template>