<div class="kt-portlet mb-0">
  <div class="kt-portlet__head">
    <div class="kt-portlet__head-label">
      <h4 class="kt-portlet__head-title">
        {{'Product.ProductList'|translate}}
      </h4>
    </div>
    <div class="kt-portlet__head-toolbar">
      <div class="kt-portlet__head-actions">
        <a [routerLink]="['/store/product/operation']"
          class="btn btn-default btn-pill btn-sm btn-icon btn-icon-md custom-sm" tooltip="{{'Product.Add'|translate}}"
          placement="auto">
          <i class="flaticon2-add-1"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="kt-portlet__body p-2 pb-0" id="product-page">
    <div class="row col-md-12">
      <div class="form-group col-md-4">
        <label>{{'Product.Code'|translate}}</label>
        <div class="kt-input-icon kt-input-icon--left">
          <input [(ngModel)]="searchModel.code" type="text" class="form-control"
            placeholder="{{'Product.Code'|translate}}" (blur)="getAll()">
          <span class="kt-input-icon__icon kt-input-icon__icon--left">
            <span><i class="la la-search"></i></span>
          </span>
        </div>
      </div>
      <div class="form-group col-md-4">
        <label>{{'Product.NameAr'|translate}}</label>
        <div class="kt-input-icon kt-input-icon--left">
          <input [(ngModel)]="searchModel.nameAr" type="text" class="form-control"
            placeholder="{{'Product.NameAr'|translate}}" (blur)="getAll()">
          <span class="kt-input-icon__icon kt-input-icon__icon--left">
            <span><i class="la la-search"></i></span>
          </span>
        </div>
      </div>
      <div class="form-group col-md-4">
        <label>{{'Product.NameEn'|translate}}</label>
        <div class="kt-input-icon kt-input-icon--left">
          <input [(ngModel)]="searchModel.nameEn" type="text" class="form-control"
            placeholder="{{'Product.NameEn'|translate}}" (blur)="getAll()">
          <span class="kt-input-icon__icon kt-input-icon__icon--left">
            <span><i class="la la-search"></i></span>
          </span>
        </div>
      </div>
      <div class="form-group col-md-6">
        <label>{{'Product.Category'|translate}}</label>
        <app-category-arbor [treeView]="false" [selectedValue]="searchModel.categoryId"
          (selectedValueChanges)="searchModel.categoryId = $event.categoryId;getAll()" [bindLabel]="'code-name'">
        </app-category-arbor>
      </div>
      <div class="form-group col-md-6">
        <label>{{'Product.Country'|translate}}</label>
        <app-country [selectedValue]="searchModel.countryId"
          (selectedValueChanges)="searchModel.countryId = $event;getAll()">
        </app-country>
      </div>
    </div>
    <div class="table-responsive mt-2">
      <table class="table table-striped table-sm mb-0 text-center">
        <thead class="thead-light">
          <tr>
            <th scope="col">{{'Product.Code'|translate}}</th>
            <th scope="col">{{'Product.NameAr'|translate}}</th>
            <th scope="col">{{'Product.NameEn'|translate}}</th>
            <th scope="col">{{'Product.Category'|translate}}</th>
            <th scope="col">{{'Product.Country'|translate}}</th>
            <th scope="col">{{'Product.MaxDiscountValue'|translate}}</th>
            <th scope="col">{{'Product.HasBatchNumber'|translate}}</th>
            <th scope="col">{{'Product.HasDateValidity'|translate}}</th>
            <th scope="col">{{'Category.VAT'|translate}}</th>
            <th scope="col">{{'Common.Tools'|translate}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of products;let i=index">
            <td>{{item.code}}</td>
            <td>{{item.nameAr}}</td>
            <td>{{item.nameEn}}</td>
            <td>{{item.categoryCode}} -- {{item.categoryName}} </td>
            <td>{{item.countryName}} </td>
            <td>{{item.maxDiscountValue}}</td>
            <td>
              <span *ngIf="item.hasBatchNumber"><i class="la la-check-circle"></i></span>
              <span *ngIf="!item.hasBatchNumber"><i class="la la-close"></i></span>
            </td>
            <td>
              <span *ngIf="item.hasDateValidity"><i class="la la-check-circle"></i></span>
              <span *ngIf="!item.hasDateValidity"><i class="la la-close"></i></span>
            </td>
            <td>{{item.vat}}</td>
            <td>
              <a class="grid-tool" [routerLink]="[ '/store/product/operation/'+item.productId]"
                tooltip="{{'Common.Edit'|translate}}">
                <i class="flaticon-edit-1"></i></a>
              <a class="grid-tool" [swal]="DeleteMessage" (confirm)="delete(item.productId)"
                tooltip="{{'Common.Delete'|translate}}"><i class="flaticon-delete red"></i></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <app-pagination [total]="total" [scroll]="'product-page'" (changePagination)="changePagination($event)">
    </app-pagination>
  </div>
</div>
<swal #DeleteMessage title="{{'Common.DeleteConfirmMessage'|translate}}" type="error"
  confirmButtonText="{{'Common.Confirm'|translate}}" cancelButtonText="{{'Common.Cancel'|translate}}"
  [confirmButtonColor]="'#d33'" [focusCancel]="true" [focusConfirm]="false" [showCloseButton]="false"
  [showCancelButton]="true" [showConfirmButton]="true">
</swal>