<div class="input-group">
  <ng-select [items]="empList" [(ngModel)]="selectedValue" [virtualScroll]="true"
    (change)="outputFunction(selectedValue)" (clear)="searchFunction(null);outputFunction(null)" [clearable]="true"
    placeholder="{{'Common.SearchByCodeOrName'|translate}}" (search)="searchFunction($event.term)"
    [searchFn]="customSearchFn" (scrollToEnd)="model.page = model.page + 1;getAll();"
    notFoundText="{{'Common.notFoundText'|translate}}">
    <ng-template ng-label-tmp let-item="item">
      {{item.code}} - {{item.name}}
    </ng-template>
    <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
      {{item.code}} - {{item.name}}
    </ng-template>
  </ng-select>
  <div class="input-group-append" (click)="openModal(employeeListModal)">
    <span class="input-group-text btn btn-primary"><i class="fa fa-search-plus white"></i></span>
  </div>
</div>
<ng-template #employeeListModal>
  <div class="modal-header pb-1 pt-2">
    <h4 class="modal-title pull-left m-010">{{'Employee.PageHeader'|translate}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="input-group justify-content-center">
      <div class="kt-input-icon kt-input-icon--right">
        <input type="text" class="form-control" name="search" [(ngModel)]="model.code"
          placeholder="{{'Common.Search'|translate}}" (input)="searchFunction(model.code)">
        <span class="kt-input-icon__icon kt-input-icon__icon--right"><span><i class="flaticon-search"></i></span></span>
      </div>
    </div>
    <div class="table-responsive mt-3">
      <table class="table table-striped table-sm">
        <thead class="thead-light">
          <tr>
            <th scope="col">#</th>
            <th scope="col">{{'Employee.Code'|translate}}</th>
            <th scope="col">{{'Employee.Name'|translate}}</th>
            <th scope="col">{{'Common.Tools'|translate}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of empList ;let i=index">
            <td scope="row">{{i+1}}</td>
            <td>{{item.code}}</td>
            <td>{{item.name}}</td>
            <td>
              <a class="grid-tool" tooltip="{{'Common.Select'| translate}}"
                (click)="selectedValue = item; outputFunction(item); modalRef.hide()">
                <i class="la la-magnet"></i></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</ng-template>