<div class="row">
  <div class="col-md-4">
    <app-module-arbor [treeView]="true" (selectedValueChanges)="treeChanges($event)"
      [selectedValue]="model.moduleTreeId" [(refresh)]="refreshTree"></app-module-arbor>
  </div>
  <div class="col-md-8">
    <div class="kt-portlet">
      <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
          <h4 class="kt-portlet__head-title" *ngIf="model.moduleTreeId == null">
            {{'ModuleTree.Add'|translate}}
          </h4>
          <h4 class="kt-portlet__head-title" *ngIf="model.moduleTreeId > 0">
            {{'ModuleTree.Edit'|translate}}
          </h4>
        </div>
        <div class="kt-portlet__head-toolbar">
          <div class="kt-portlet__head-actions">
            <a (click)="treeChanges()" class="btn btn-default btn-pill btn-sm btn-icon btn-icon-md custom-sm"
              tooltip="{{'ModuleTree.Add'|translate}}" placement="auto">
              <i class="flaticon2-add-1"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="kt-portlet__body">
        <form #moduleTree="ngForm">
          <div class="row">
            <div class="form-group col-md-6">
              <label>{{'ModuleTree.SubCode'|translate}}</label>
              <input type="text" class="form-control" name="code" [(ngModel)]="model.code" #code="ngModel" required
                (blur)="checkModuleCode(model.code)"
                [ngClass]="{'parsley-error': (code.invalid && code.touched) || checkCode, 'parsley-success': code.valid && !checkCode}">
              <ul class="parsley-errors-list filled">
                <li class="parsley-required" *ngIf="code.errors?.required && code.touched">
                  {{'ModuleTree.SubCode'|translate}} {{'Common.IsRequired'|translate}}</li>
                <li class="parsley-required" *ngIf="checkCode">
                  {{'ModuleTree.CheckCode'|translate}}</li>
              </ul>
            </div>
            <div class="form-group col-md-6">
              <label>{{'ModuleTree.SubName'|translate}}</label>
              <input type="text" class="form-control" name="name" [(ngModel)]="model.name" #name="ngModel" required
                [ngClass]="{'parsley-error': name.invalid && name.touched, 'parsley-success': name.valid }">
              <ul class="parsley-errors-list filled">
                <li class="parsley-required" *ngIf="name.errors?.required && name.touched">
                  {{'ModuleTree.SubName'|translate}} {{'Common.IsRequired'|translate}}</li>
              </ul>
            </div>
            <div class="form-group col-md-12">
              <label>{{'ModuleTree.Parent'|translate}}</label>
              <app-module-arbor [treeView]="false" (selectedValueChanges)="moduleParentChange($event)"
                [bindLabel]="'fullName'" [selectedValue]="model.moduleParentId" [(refresh)]="refreshTree"
                [filterType]="'parent'">
              </app-module-arbor>
            </div>
            <div class="form-group col-md-12">
              <label>{{'ModuleTree.AccountTreeName'|translate}}</label>
              <app-account-arbor [treeView]="false" (selectedValueChanges)="selectedAccounts($event)" [multiple]="true"
                [(refresh)]="refreshTree" [filterType]="'hasAssistant'" [disable]="model.moduleParentId != null"
                [(selectedValue)]="model.tempModuleAccount" [bindLabel]="'fullName'">
              </app-account-arbor>
              <ul class="parsley-errors-list filled">
                <li class="parsley-required" *ngIf="model.tempModuleAccount == null && model.moduleParentId == null">
                  {{'ModuleTree.AccountTreeName'|translate}} {{'Common.IsRequired'|translate}}</li>
              </ul>
            </div>
            <div class="form-group col-md-2">
              <br>
              <label class="fancy-checkbox mt-2">
                <input type="checkbox" name="final" [(ngModel)]="model.final" #final="ngModel"
                  (input)="checkIfHaveChild()">
                <span>{{'ModuleTree.Final'|translate}}</span>
              </label>
            </div>
            <div class="form-group col-md-10">
              <label>{{'ModuleTree.Notes'|translate}}</label>
              <input type="text" class="form-control" name="notes" [(ngModel)]="model.notes" #notes="ngModel">
            </div>
          </div>
          <div class="form-action">
            <button type="submit" class="btn btn-success" [disabled]="moduleTree.invalid" (click)="saveModuleTree()">
              <i class="la la-save"></i> {{'Common.Save' | translate}}
            </button>
            <button (click)="treeChanges()" class="btn btn-warning"><i class="la la-close"></i>
              {{'Common.Close' | translate}}</button>
            <button class="btn btn-danger" [swal]="DeleteMessage" (confirm)="deleteModuleTree()"
              title="{{'Common.Delete'| translate}}" *ngIf="model.moduleTreeId > 0">
              <i class="la la-trash-o"></i> {{'Common.Delete' | translate}}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<swal #confirmChanges title="{{'Message.Warning'|translate}}"
  html="<span class='red-custom'>{{'AccountTree.ChangesNotSaved'|translate}}</span>" type="warning"
  [showCloseButton]="true" [showCancelButton]="true" [showConfirmButton]="true" (confirm)="treeChanges(tempData, true)"
  confirmButtonText="{{'AccountTree.IgnoreChanges'|translate}}" cancelButtonText="{{'Common.Cancel'|translate}}">
</swal>
<swal #DeleteMessage title="{{'Common.DeleteConfirmMessage'|translate}}" type="error"
  confirmButtonText="{{'Common.Confirm'|translate}}" cancelButtonText="{{'Common.Cancel'|translate}}"
  [confirmButtonColor]="'#d33'" [focusCancel]="true" [focusConfirm]="false" [showCloseButton]="false"
  [showCancelButton]="true" [showConfirmButton]="true">
</swal>