<div class="kt-portlet">
  <div class="kt-portlet__head" [ngClass]="{'alert alert-danger mb-0': model?.isVoided}">
    <div class="kt-portlet__head-label">
      <h4 class="kt-portlet__head-title" *ngIf="model?.stockReceiveVoucherId == null">
        {{'StockReceiveVoucher.Add'|translate}}
      </h4>
      <h4 class="kt-portlet__head-title" *ngIf="model?.stockReceiveVoucherId > 0"
        [ngClass]="{'white': model?.isVoided}">
        {{'StockReceiveVoucher.Edit'|translate}}
      </h4>
    </div>
    <div class="kt-portlet__head-toolbar">
      <div class="kt-portlet__head-actions" *ngIf="model?.isVoided">
        <i class="flaticon2-trash"></i>
        {{'StockReceiveVoucher.Cancel'| translate}}
      </div>
    </div>
  </div>


  <div class="kt-portlet__body">
    <form #stockReceiveVoucherForm="ngForm">
      <div class="row">
        <div class="form-group col-md-3">
          <label>{{'StockReceiveVoucher.Date'|translate}}</label>
          <input type="text" class="form-control" name="date" [(ngModel)]="model.date" #date="ngModel" bsDatepicker
            [bsConfig]="fixed.datePickerConfig" autocomplete="off" (bsValueChange)="getTransactionNo($event)"
            [maxDate]="fixed.today"
            [ngClass]="{'parsley-error': (model.date == null || model.date == 'Invalid Date') && date.touched}"
            required>
          <ul class="parsley-errors-list filled">
            <li class="parsley-required" *ngIf="model.date == null && date.touched">
              {{'StockReceiveVoucher.Date'|translate}} {{'Common.IsRequired'|translate}}</li>
            <li class="parsley-required" *ngIf="model.date == 'Invalid Date' && date.touched">
              {{'StockReceiveVoucher.Date'|translate}} {{'Common.Error'|translate}}</li>
            <li class="parsley-required" *ngIf="checkDate == false && date.touched">
              {{'StockReceiveVoucher.Date'|translate}} {{'Common.DateNotVaild'|translate}}</li>
          </ul>
        </div>
        <div class="form-group col-md-3">
          <label>{{'StockReceiveVoucher.TransactionNo'|translate}}</label>
          <input type="text" class="form-control" name="transactionNo" [(ngModel)]="model.transactionNo"
            #transactionNo="ngModel" disabled>
        </div>
        <div class="form-group col-md-3">
          <label>{{'StockReceiveVoucher.Stock'|translate}}</label>

          <app-stock-shared [selectedValue]="model.stockId" (selectedValueChanges)="model.stockId = $event">
          </app-stock-shared>
          <ul class="parsley-errors-list filled">
            <li class="parsley-required" *ngIf="model.stockId == null">
              {{'StockReceiveVoucher.Stock'|translate}} {{'Common.IsRequired'|translate}}</li>
          </ul>
        </div>
        <div class="form-group col-md-3">
          <label>{{'StockReceiveVoucher.Vendor'|translate}}</label>
          <app-vendor-shared [selectedValue]="model.vendor"
            (selectedValueChanges)="model.vendor = $event; model.vendorId = ($event == null)? null : $event.vendorId">
          </app-vendor-shared>
          <ul class="parsley-errors-list filled">
            <li class="parsley-required" *ngIf="model.vendorId == null">
              {{'StockReceiveVoucher.Vendor'|translate}} {{'Common.IsRequired'|translate}}</li>
          </ul>
        </div>
        <div class="form-group col-md-3">
          <label>{{'StockReceiveVoucher.VendorInvoiceNumber'|translate}}</label>
          <input type="text" class="form-control" name="vendorInvoiceNumber" [(ngModel)]="model.vendorInvoiceNumber"
            #vendorInvoiceNumber="ngModel">
        </div>
        <div class="form-group col-md-7">
          <label>{{'StockReceiveVoucher.Description'|translate}}</label>
          <input type="text" class="form-control" name="description" [(ngModel)]="model.description"
            #description="ngModel">
        </div>
        <div class="form-group col-md-2 mt-2">
          <br>
          <label class="fancy-checkbox">
            <input type="checkbox" name="isImported" [(ngModel)]="model.isImported" (input)="checkVat();">
            <span>{{'StockReceiveVoucher.IsImported'|translate}}</span>
          </label>
        </div>
      </div>
      <div class="kt-section mb-0 mt-2">
        <h3 class="kt-section__title mb-0">
          <a class="btn btn-default btn-pill btn-sm btn-icon btn-icon-md custom-sm" (click)="itemOperation()"
            tooltip="{{'Common.Add'|translate}}" placement="auto" *ngIf="!model?.isVoided">
            <i class="flaticon2-add-1"></i></a>
          <span class="m-010">{{'StockReceiveVoucher.Details'|translate}}</span>
        </h3>
      </div>
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead class="thead-light text-center">
            <tr>
              <th scope="col" *ngIf="false">#</th>
              <th scope="col" *ngIf="false">{{'StockReceiveVoucher.Barcode'|translate}}</th>
              <th scope="col" class="width-15">{{'StockReceiveVoucher.Product'|translate}}</th>
              <th scope="col" class="width-10">{{'StockReceiveVoucher.Unit'|translate}}</th>
              <th scope="col">{{'StockReceiveVoucher.BatchNumber'|translate}}</th>
              <th scope="col">{{'StockReceiveVoucher.ExpiryDate'|translate}}</th>

              <th scope="col">{{'StockReceiveVoucher.QtyInUom'|translate}}</th>
              <th scope="col">{{'StockReceiveVoucher.UomPrice'|translate}}</th>
              <th scope="col" *ngIf="false">{{'StockReceiveVoucher.DiscountPercentage'|translate}}</th>
              <th scope="col">{{'StockReceiveVoucher.DiscountValue'|translate}}</th>
              <th scope="col">{{'StockReceiveVoucher.TotalPrice'|translate}}</th>
              <th scope="col" *ngIf="false">{{'StockReceiveVoucher.VATPercentage'|translate}}%</th>
              <th scope="col">{{'StockReceiveVoucher.TotalVATValue'|translate}}</th>
              <th scope="col" *ngIf="!model?.isVoided">{{'Common.Tools'|translate}}</th>
            </tr>
          </thead>
          <tbody class="text-center">
            <tr *ngFor="let item of model.stO_StockReceiveVoucherItem | orderBy: 'itemId'; let i=index"
              [hidden]="item.isDeleted">
              <th scope="row" *ngIf="false">
                <input type="text" class="form-control" name="itemId{{i}}" [(ngModel)]="item.itemId"
                  *ngIf="item.operation == 'e'">
                <span *ngIf="item.operation == 's'">{{item.itemId}}</span>
              </th>
              <td *ngIf="false">
                <input type="number" class="form-control" name="uomBarCode{{i}}" [(ngModel)]="item.uomBarCode"
                  *ngIf="item.operation == 'e'" disabled>
                <span *ngIf="item.operation == 's'">{{item.uomBarCode}}</span>
              </td>
              <td class="width-15">
                <app-product-shared [hidden]="item.operation == 's'" [(selectedValue)]="item.product"
                  (selectedValueChanges)="selectProduct($event,item)"></app-product-shared>
                <span [hidden]="item.operation == 'e'">

                  {{(fixed.activeLang.code == 'ar')? item.product?.nameAr : item.product?.nameEn}}</span>
              </td>
              <td class="width-10">
                <ng-select [items]="item.units" bindValue="unitId" bindLabel="name"
                  placeholder="{{'Common.Select'|translate}}" name="unit{{i}}" [(ngModel)]="item.unitId"
                  *ngIf="item.operation == 'e'" notFoundText="{{'Common.notFoundText'|translate}}"
                  (change)="unitChange(item)">
                </ng-select>
                <span *ngIf="item.operation == 's'">{{(item.units | filterById: 'unitId': item.unitId)[0]?.name}}</span>
              </td>
              <td>
                <input type="text" class="form-control" name="batchNumber{{i}}" [(ngModel)]="item.batchNumber"
                  *ngIf="item.operation == 'e'" [disabled]="!item.product?.hasBatchNumber">
                <span *ngIf="item.operation == 's'">{{item.batchNumber}}</span>
              </td>
              <td>
                <input type="text" class="form-control" name="expiryDate{{i}}" [(ngModel)]="item.expiryDate"
                  [disabled]="!item.product?.hasDateValidity" [minDate]="fixed.today" *ngIf="item.operation == 'e'"
                  bsDatepicker [bsConfig]="fixed.datePickerConfig" autocomplete="off">
                <span *ngIf="item.operation == 's' && fixed.activeLang.code == 'en'">
                  {{item.expiryDate | date:'dd MMM y':null:'en-US'}}
                </span>
                <span *ngIf="item.operation == 's' && fixed.activeLang.code == 'ar'">
                  {{item.expiryDate | date:'dd MMM y':null:'ar-SA'}}
                </span>
              </td>
              <td>
                <input type="number" class="form-control ltr" name="qtyInUom{{i}}" [(ngModel)]="item.qtyInUom" min="1"
                  *ngIf="item.operation == 'e'" (input)="calculatePrice(item)" min="1">
                <span *ngIf="item.operation == 's'">{{item.qtyInUom}}</span>
              </td>
              <td>
                <input type="number" class="form-control ltr" name="uomPrice{{i}}" [(ngModel)]="item.uomPrice"
                  *ngIf="item.operation == 'e'" (input)="calculatePrice(item)" min="0">
                <span *ngIf="item.operation == 's'">{{item.uomPrice | number : '1.2-2'}}</span>
              </td>
              <td *ngIf="false">
                <input type="number" class="form-control ltr" name="uomDiscountPercentage{{i}}"
                  [(ngModel)]="item.uomDiscountPercentage" *ngIf="item.operation == 'e'" (input)="calDiscountPer(item)"
                  min="0" [disabled]="!item.uomPrice >0">
                <span *ngIf="item.operation == 's'">{{item.uomDiscountPercentage}} %</span>
              </td>
              <td>
                <input type="number" class="form-control ltr" name="uomDiscountValue{{i}}" min="0"
                  [disabled]="!item.uomPrice > 0" [(ngModel)]="item.uomDiscountValue" *ngIf="item.operation == 'e'"
                  (input)="calDiscount(item)">
                <span *ngIf="item.operation == 's'">{{item.uomDiscountValue | number : '1.2-2'}}</span>
              </td>
              <td>
                <input type="number" class="form-control ltr" name="totalAfterDiscount{{i}}" min="0"
                  [(ngModel)]="item.totalAfterDiscount" *ngIf="item.operation == 'e'" disabled>
                <span *ngIf="item.operation == 's'">{{item.totalAfterDiscount | number : '1.2-2'}}</span>
              </td>
              <td *ngIf="false">
                <input type="number" class="form-control ltr" name="vatPercentage{{i}}" [(ngModel)]="item.vatPercentage"
                  *ngIf="item.operation == 'e'" disabled>
                <span *ngIf="item.operation == 's'">{{item.vatPercentage}} %</span>
              </td>
              <td>
                <input type="number" class="form-control ltr" name="totalVatValue{{i}}" [(ngModel)]="item.totalVatValue"
                  *ngIf="item.operation == 'e'" [disabled]="!model.isImported" (input)="calVatPer(item)" min="0">
                <span *ngIf="item.operation == 's'">{{item.totalVatValue | number : '1.2-2'}}</span>
              </td>
              <td *ngIf="!model?.isVoided">
                <a class="grid-tool" (click)="itemOperation(item)" tooltip="{{'Common.Edit'| translate}}"
                  *ngIf="item.operation == 's'">
                  <i class="flaticon-edit-1"></i></a>
                <a class="grid-tool" (click)="itemFinish('save', item, i)" tooltip="{{'Common.Save'| translate}}"
                  *ngIf="item.operation == 'e'">
                  <i class="la la-save"></i></a>
                <a class="grid-tool" [swal]="DeleteMessage" (confirm)="itemDelete(item,i)"
                  tooltip="{{'Common.Delete'|translate}}" *ngIf="item.operation == 's'">
                  <i class="flaticon-delete"></i></a>
                <a class="grid-tool" (click)="itemFinish('close', item, i)" tooltip="{{'Common.Close'|translate}}"
                  *ngIf="item.operation == 'e'"><i class="la la-close"></i></a>
              </td>
            </tr>
            <tr>
              <a class="btn btn-success white mt-2" (click)="itemOperation()"
                *ngIf="!model?.isVoided">{{'Common.Add'| translate}}</a>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="row mb-2">
        <div class="col-md-1"></div>
        <div class="col-md-2 text-right mt-2">
          <label>{{'StockReceiveVoucher.TotalPrice'|translate}} : </label>
        </div>
        <div class="col-md-3">
          <input type="number" class="form-control ltr" name="totalAfterDiscount" [(ngModel)]="model.totalAfterDiscount"
            #totalAfterDiscount="ngModel" disabled>
        </div>
        <div class="col-md-2 text-right mt-2">
          <label>{{'StockReceiveVoucher.TotalVATValue'|translate}} : </label>
        </div>
        <div class="col-md-3">
          <input type="number" class="form-control ltr" name="totalVAT" [(ngModel)]="model.totalVAT" #totalVAT="ngModel"
            disabled>
        </div>
      </div>
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-2 text-right mt-2">
          <label>{{'StockReceiveVoucher.InvoiceDiscountValue'|translate}} : </label>
        </div>
        
        
        <div class="col-md-3">
          <input type="number" class="form-control ltr" name="invoiceDiscountValue"
            [(ngModel)]="model.invoiceDiscountValue" #invoiceDiscountValue="ngModel" (input)="calTotal()" min="0">
        </div>
        <div class="col-md-2 text-right mt-2">
          <label>{{'StockReceiveVoucher.TotalInvoice'|translate}} : </label>
        </div>
        <div class="col-md-3">
          <input type="number" class="form-control ltr" name="total" [(ngModel)]="model.total" #total="ngModel"
            disabled>
        </div>
      </div>
      <div class="form-action">
        <button type="submit" class="btn btn-success" (click)="saveStockReceiveVoucher()" *ngIf="!model?.isVoided"
          [disabled]="stockReceiveVoucherForm.invalid || lockGridEdit || 
        emptyList || model.stockId == null || model.vendor == null">
          <i class="la la-save"></i> {{'Common.Save' | translate}}
        </button>
        <a [routerLink]="[ listPage ]" class="btn btn-warning"><i class="la la-close"></i>
          {{'Common.Close' | translate}}
        </a>
        <button class="btn btn-danger" [swal]="DeleteMessage" (confirm)="voidedTransaction(model.stockReceiveVoucherId)"
          title="{{'Common.Delete'| translate}}" *ngIf="model?.stockReceiveVoucherId > 0 && !model?.isVoided">
          <i class="la la-trash-o"></i> {{'Common.Delete' | translate}}</button>
        <button class="btn btn-primary" (click)="PrintReceipt()" title="{{'Common.Print'| translate}}"
          *ngIf="model?.stockReceiveVoucherId > 0 && !model?.isVoided">
          <i class="la la-print"></i> {{'Common.Print' | translate}}</button>
      </div>
    </form>
  </div>
</div>
<swal #DeleteMessage title="{{'Common.DeleteConfirmMessage'|translate}}" type="error"
  confirmButtonText="{{'Common.Confirm'|translate}}" cancelButtonText="{{'Common.Cancel'|translate}}"
  [confirmButtonColor]="'#d33'" [focusCancel]="true" [focusConfirm]="false" [showCloseButton]="false"
  [showCancelButton]="true" [showConfirmButton]="true">
</swal>
<swal #operationError title="{{'Message.Warning'|translate}}"
  html="<span class='red-custom text-bold'>{{'Message.OperationError'|translate}}</span>" type="error"
  [showCloseButton]="false" [showCancelButton]="false" [showConfirmButton]="false">
</swal>