<div class="kt-portlet mb-0" id="client-page">
  <div class="kt-portlet__head">
    <div class="kt-portlet__head-label">
      <h4 class="kt-portlet__head-title">
        {{'Client.PageHeader'|translate}}
      </h4>
    </div>
    <div class="kt-portlet__head-toolbar">
      <div class="kt-portlet__head-actions">
        <a (click)="openModal(template, null)" class="btn btn-default btn-pill btn-sm btn-icon btn-icon-md custom-sm"
          tooltip="{{'Client.Add'|translate}}" placement="auto">
          <i class="flaticon2-add-1"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="kt-portlet__body p-2 pb-0">
    <div class="row align-items-center m-1 mb-2">
      <div class="col-md-4">
        <label>{{'Client.Name'|translate}}</label>
        <div class="kt-input-icon kt-input-icon--left">
          <input [(ngModel)]="searchModel.name" type="text" class="form-control"
            placeholder="{{'Client.Name'|translate}}" (input)="getAll()">
          <span class="kt-input-icon__icon kt-input-icon__icon--left">
            <span><i class="la la-search"></i></span>
          </span>
        </div>
      </div>
      <div class="col-md-4">
        <label>{{'clientType.Title'|translate}}</label>
        <app-client-type [selectedValue]="null"
          (selectedValueChanges)="searchModel.clientTypeId = ($event == null) ? null : $event;getAll()">
        </app-client-type>
      </div>
      <div class="col-md-4">
        <label>{{'Tree.ModuleTree'|translate}}</label>
        <app-module-arbor [treeView]="false" [filterType]="'childNode'"
          [fliterValue]="[fixed.accounting.AccountingSetting.clientModuleTreeId]" [bindLabel]="'code-name'"
          (selectedValueChanges)="searchModel.moduleTreeId = ($event == null) ? null : $event.moduleTreeId;getAll()">
        </app-module-arbor>
      </div>
      <div class="col-md-4">
        <label>{{'PriceList.Title'|translate}}</label>
        <app-price-list [selectedValue]="searchModel.priceListId" (selectedValueChanges)="searchModel.priceListId = $event;getAll()">
        </app-price-list> 
      </div>
    </div>
    <div class="table-responsive">
      <table class="table table-striped table-sm mb-0">
        <thead class="thead-light">
          <tr>
            <th scope="col">#</th>
            <th scope="col">{{'Client.Code'|translate}}</th>
            <th scope="col">{{'Client.Name'|translate}}</th>
            <th scope="col">{{'clientType.Title'|translate}}</th>
            <th scope="col">{{'Tree.ModuleTree'|translate}}</th>
            <th scope="col">{{'PriceList.Title'|translate}}</th>
            <th scope="col">{{'Common.Tools'|translate}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of clients;let i=index">
            <th scope="row">{{i+1}}</th>
            <td>{{item.code}}</td>
            <td>{{item.name}}</td>
            <td>{{item.clientTypeName}}</td>
            <td>{{item.moduleTreeName}}</td>
            <td>{{item.priceListName}}</td>
            <td>
              <a class="grid-tool" (click)="openModal(template,item)" tooltip="{{'Client.Edit'|translate}}">
                <i class="flaticon-edit-1"></i></a>
              <a class="grid-tool" [swal]="DeleteMessage" (confirm)="deleteClient(item.clientId)"
                tooltip="{{'Common.Delete'|translate}}"><i class="flaticon-delete"></i></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <app-pagination [total]="total" [scroll]="'client-page'" (changePagination)="changePagination($event)">
    </app-pagination>
  </div>
</div>
<ng-template #template>
  <div class="modal-header pb-1 pt-2">
    <h4 class="modal-title pull-left" *ngIf="model.clientId == null">{{'Client.Add'|translate}}</h4>
    <h4 class="modal-title pull-left" *ngIf="model.clientId > 0">{{'Client.Edit'|translate}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #clientForm="ngForm">
      <div class="row">
        <div class="form-group col-md-6">
          <label>{{'Client.Code'|translate}}</label>
          <input type="text" class="form-control" name="code" [(ngModel)]="model.code" #code="ngModel" required
            (blur)="checkClientCode(model.code)"
            [ngClass]="{'parsley-error': (code.invalid && code.touched) || checkCode, 'parsley-success': code.valid && !checkCode}">
          <ul class="parsley-errors-list filled">
            <li class="parsley-required" *ngIf="code.errors?.required && code.touched">
              {{'Client.Code'|translate}} {{'Common.IsRequired'|translate}}</li>
            <li class="parsley-required" *ngIf="checkCode">
              {{'Client.CheckCode'|translate}}</li>
          </ul>
        </div>
        <div class="form-group col-md-6">
          <label>{{'Client.Name'|translate}}</label>
          <input type="text" class="form-control" name="name" [(ngModel)]="model.name" #name="ngModel" required
            [ngClass]="{'parsley-error': name.invalid && name.touched, 'parsley-success': name.valid }">
          <ul class="parsley-errors-list filled">
            <li class="parsley-required" *ngIf="name.errors?.required && name.touched">
              {{'Client.Name'|translate}} {{'Common.IsRequired'|translate}}</li>
          </ul>
        </div>
        <div class="form-group col-md-4">
          <label>{{'Tree.ModuleTree'|translate}}</label>
          <app-module-arbor [treeView]="false" [filterType]="'childNode'" [selectedValue]="model.moduleTreeId"
            [fliterValue]="[fixed.accounting.AccountingSetting.clientModuleTreeId]" [bindLabel]="'code-name'"
            (selectedValueChanges)="model.moduleTreeId = ($event == null) ? null : $event.moduleTreeId;">
          </app-module-arbor>
          <ul class="parsley-errors-list filled">
            <li class="parsley-required" *ngIf="model.moduleTreeId == null">
              {{'Tree.ModuleTree'|translate}} {{'Common.IsRequired'|translate}}</li>
          </ul>
        </div>
        <div class="form-group col-md-4">
          <label>{{'clientType.Name'|translate}}</label>
          <app-client-type [selectedValue]="model.clientTypeId"
            (selectedValueChanges)="model.clientTypeId = ($event == null) ? null : $event">
          </app-client-type>
        </div>
        <div class="col-md-4">
          <label>{{'PriceList.Title'|translate}}</label>
          <app-price-list [selectedValue]="model.priceListId" (selectedValueChanges)="model.priceListId = $event">
          </app-price-list> 
        </div>
        <div class="form-group col-md-12">
          <label>{{'Common.Notes'|translate}}</label>
          <input type="text" class="form-control" name="notes" [(ngModel)]="model.notes" #notes="ngModel">
        </div>
      </div>
      <div class="form-action">
        <button type="submit" class="btn btn-success" [disabled]="clientForm.invalid" (click)="saveClient()">
          <i class="la la-save"></i> {{'Common.Save' | translate}}
        </button>
        <button (click)="modalRef.hide()" class="btn btn-warning"><i class="la la-close"></i>
          {{'Common.Close' | translate}}
        </button>
        <button class="btn btn-danger" [swal]="DeleteMessage" (confirm)="deleteClient(model.clientId)"
          title="{{'Common.Delete'| translate}}" *ngIf="model.clientId > 0">
          <i class="la la-trash-o"></i> {{'Common.Delete' | translate}}
        </button>
      </div>
    </form>
  </div>
</ng-template>
<swal #DeleteMessage title="{{'Common.DeleteConfirmMessage'|translate}}" type="error"
  confirmButtonText="{{'Common.Confirm'|translate}}" cancelButtonText="{{'Common.Cancel'|translate}}"
  [confirmButtonColor]="'#d33'" [focusCancel]="true" [focusConfirm]="false" [showCloseButton]="false"
  [showCancelButton]="true" [showConfirmButton]="true">
</swal>