<div class="kt-portlet mb-0" id="payment-method-page">
  <div class="kt-portlet__head">
    <div class="kt-portlet__head-label">
      <h4 class="kt-portlet__head-title">
        {{'PaymentMethod.PageHeader'|translate}}
      </h4>
    </div>
    <div class="kt-portlet__head-toolbar">
      <div class="kt-portlet__head-actions">
        <a (click)="openModal(template, null)" class="btn btn-default btn-pill btn-sm btn-icon btn-icon-md custom-sm"
          tooltip="{{'PaymentMethod.Add'|translate}}" placement="auto">
          <i class="flaticon2-add-1"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="kt-portlet__body p-2 pb-0">
    <div class="row align-items-center mb-2">
      <div class="col-md-4">
        <label>{{'PaymentMethod.Name'|translate}}</label>
        <div class="kt-input-icon kt-input-icon--left">
          <input [(ngModel)]="searchModel.name" type="text" class="form-control"
            placeholder="{{'PaymentMethod.Name'|translate}}" (input)="getAll()">
          <span class="kt-input-icon__icon kt-input-icon__icon--left">
            <span><i class="la la-search"></i></span>
          </span>
        </div>
      </div>
      <div class="col-md-4">
        <label>{{'PaymentMethod.Code'|translate}}</label>
        <div class="kt-input-icon kt-input-icon--left">
          <input [(ngModel)]="searchModel.code" type="text" class="form-control"
            placeholder="{{'PaymentMethod.Code'|translate}}" (input)="getAll()">
          <span class="kt-input-icon__icon kt-input-icon__icon--left">
            <span><i class="la la-search"></i></span>
          </span>
        </div>
      </div>
      <div class="col-md-4">
        <label>{{'PaymentMethod.PaymentMethodType'|translate}}</label><br>
        <label class="fancy-radio">
          <input type="radio" name="transactionCase" [value]="0" [(ngModel)]="searchModel.paymentMethodTypeId"
            (change)="getAll()">
          <span><i></i>{{'Common.All'|translate}}</span>
        </label>
        <label class="fancy-radio" *ngFor="let x of paymentMethodTypes">
          <input type="radio" name="SearchPaymentMethodType" [value]="x.paymentMethodTypeId"
            [(ngModel)]="searchModel.paymentMethodTypeId" (change)="getAll()">
          <span><i></i>{{(fixed.activeLang.code == 'ar')? x.nameAr:x.nameEn}}</span>
        </label>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table table-striped table-sm mb-0">
        <thead class="thead-light">
          <tr>
            <th scope="col">#</th>
            <th scope="col">{{'PaymentMethod.Code'|translate}}</th>
            <th scope="col">{{'PaymentMethod.Name'|translate}}</th>
            <th scope="col">{{'PaymentMethod.PaymentMethodType'|translate}}</th>
            <th scope="col">{{'PaymentMethod.ModuleTree'|translate}}</th>
            <th scope="col">{{'PaymentMethod.AccountTree'|translate}}</th>
            <th scope="col">{{'Common.Tools'|translate}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of PaymentMethods;let i=index">
            <th scope="row">{{i+1}}</th>
            <td>{{item.code}}</td>
            <td>{{item.name}}</td>
            <td>{{(fixed.activeLang.code == 'ar') ? item.paymentMethodTypeNameAr : item.paymentMethodTypeNameEn}}</td>
            <td>{{item.moduleTreeName}}</td>
            <td>{{item.accountTreeName}}</td>
            <td>
              <a class="grid-tool" (click)="openModal(template,item)" tooltip="{{'PaymentMethod.Edit'|translate}}">
                <i class="flaticon-edit-1"></i></a>
              <a class="grid-tool" [swal]="DeleteMessage" (confirm)="deletePaymentMethod(item.paymentMethodId)"
                tooltip="{{'Common.Delete'|translate}}"><i class="flaticon-delete"></i></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <app-pagination [total]="total" [scroll]="'payment-method-page'" (changePagination)="changePagination($event)">
    </app-pagination>
  </div>
</div>
<ng-template #template>
  <div class="modal-header pb-1 pt-2">
    <h4 class="modal-title pull-left" *ngIf="model.paymentMethodId == null">{{'PaymentMethod.Add'|translate}}</h4>
    <h4 class="modal-title pull-left" *ngIf="model.paymentMethodId > 0">{{'PaymentMethod.Edit'|translate}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #PaymentMethodForm="ngForm">
      <div class="row">
        <div class="form-group col-md-6">
          <label>{{'PaymentMethod.Code'|translate}}</label>
          <input type="text" class="form-control" name="code" [(ngModel)]="model.code" #code="ngModel" required
            (blur)="checkPaymentMethodCode(model)"
            [ngClass]="{'parsley-error': (code.invalid && code.touched) || checkCode, 'parsley-success': code.valid && !checkCode}">
          <ul class="parsley-errors-list filled">
            <li class="parsley-required" *ngIf="code.errors?.required && code.touched">
              {{'PaymentMethod.Code'|translate}} {{'Common.IsRequired'|translate}}</li>
            <li class="parsley-required" *ngIf="checkCode">
              {{'PaymentMethod.CheckCode'|translate}}</li>
          </ul>
        </div>
        <div class="form-group col-md-6">
          <label>{{'PaymentMethod.Name'|translate}}</label>
          <input type="text" class="form-control" name="name" [(ngModel)]="model.name" #name="ngModel" required
            [ngClass]="{'parsley-error': name.invalid && name.touched, 'parsley-success': name.valid }">
          <ul class="parsley-errors-list filled">
            <li class="parsley-required" *ngIf="name.errors?.required && name.touched">
              {{'PaymentMethod.Name'|translate}} {{'Common.IsRequired'|translate}}</li>
          </ul>
        </div>
        <div class="form-group col-md-12">
          <label>{{'PaymentMethod.ModuleTree'|translate}}</label>
          <app-module-arbor [treeView]="false" [filterType]="'child'" [selectedValue]="model.moduleTreeId"
            (selectedValueChanges)="moduleTreeChange($event,'html')" [bindLabel]="'code-name'">
          </app-module-arbor>
        </div>
        <div class="form-group col-md-12">
          <label>{{'PaymentMethod.AccountTree'|translate}}</label>
          <app-account-arbor [treeView]="false" [filterType]="'master'" *ngIf="model.moduleTreeId == null"
            [selectedValue]="model.accountTreeId"
            (selectedValueChanges)="model.accountTreeId = ($event == null) ? null : $event.accountTreeId"
            [bindLabel]="'code-name'">
          </app-account-arbor>
          <app-account-arbor [treeView]="false" [filterType]="'list'" [fliterValue]="accountTreeList"
            *ngIf="model.moduleTreeId > 0" [selectedValue]="model.accountTreeId"
            (selectedValueChanges)="model.accountTreeId = ($event == null) ? null : $event.accountTreeId"
            [bindLabel]="'code-name'">
          </app-account-arbor>
        </div>
        <div class="form-group col-md-6">
          <label>{{'PaymentMethod.PaymentMethodType'|translate}}</label>
          <br>
          <label class="fancy-radio" *ngFor="let x of paymentMethodTypes">
            <input type="radio" name="PaymentMethodType" [value]="x.paymentMethodTypeId"
              [(ngModel)]="model.paymentMethodTypeId">
            <span><i></i>{{(fixed.activeLang.code == 'ar')? x.nameAr:x.nameEn}}</span>
          </label>
        </div>
      </div>
      <div class="form-action">
        <button type="submit" class="btn btn-success" [disabled]="PaymentMethodForm.invalid"
          (click)="savePaymentMethod()">
          <i class="la la-save"></i> {{'Common.Save' | translate}}
        </button>
        <button (click)="modalRef.hide()" class="btn btn-warning"><i class="la la-close"></i>
          {{'Common.Close' | translate}}
        </button>
        <button class="btn btn-danger" [swal]="DeleteMessage" (confirm)="deletePaymentMethod(model.paymentMethodId)"
          title="{{'Common.Delete'| translate}}" *ngIf="model.paymentMethodId > 0">
          <i class="la la-trash-o"></i> {{'Common.Delete' | translate}}
        </button>
      </div>
    </form>
  </div>
</ng-template>
<swal #DeleteMessage title="{{'Common.DeleteConfirmMessage'|translate}}" type="error"
  confirmButtonText="{{'Common.Confirm'|translate}}" cancelButtonText="{{'Common.Cancel'|translate}}"
  [confirmButtonColor]="'#d33'" [focusCancel]="true" [focusConfirm]="false" [showCloseButton]="false"
  [showCancelButton]="true" [showConfirmButton]="true">
</swal>