<div class="kt-portlet mb-0">
        <div class="kt-portlet__head">
          <div class="kt-portlet__head-label">
            <h4 class="kt-portlet__head-title">
              {{'StockTransferDocument.List'|translate}}
            </h4>
          </div>
          <div class="kt-portlet__head-toolbar">
            <div class="kt-portlet__head-actions">
              <a [routerLink]="['/store/stock-transfer-document/operation']"
                class="btn btn-default btn-pill btn-sm btn-icon btn-icon-md custom-sm"
                tooltip="{{'StockTransferDocument.Add'|translate}}" placement="auto">
                <i class="flaticon2-add-1"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="kt-portlet__body p-2 pb-0" id="stock-transfer-list">
          <div class="row col-md-12">
              <div class="form-group col-md-6">
                  <label>{{'StockTransferDocument.Date'|translate}}</label>
                  <br>
                  <div class="input-group width-48 float-left">
                    <div class="input-group-append"><span class="input-group-text">{{'Common.From'|translate}}</span>
                    </div>
                    <input type="text" class="form-control" placeholder="{{'Common.From'|translate}}" bsDatepicker
                      [bsConfig]="fixed.datePickerConfig" [(ngModel)]="searchModel.fromDate" autocomplete="off">
                  </div>
                  <div class="input-group width-48">
                    <div class="input-group-append"><span class="input-group-text">{{'Common.To'|translate}}</span>
                    </div>
                    <input type="text" class="form-control" placeholder="{{'Common.To'|translate}}" bsDatepicker
                      [bsConfig]="fixed.datePickerConfig" [(ngModel)]="searchModel.toDate" autocomplete="off">
                  </div>
                </div>
            <div class="form-group col-md-3">
                <label>{{'StockTransferDocument.FromStock'|translate}}</label>
                <div class="kt-input-icon kt-input-icon--left">
                  <app-stock-shared [selectedValue]="searchModel.fromStockId"
                    (selectedValueChanges)="searchModel.fromStockId = $event">
                  </app-stock-shared>
                </div>
              </div>
              <div class="form-group col-md-3">
                  <label>{{'StockTransferDocument.ToStock'|translate}}</label>
                  <div class="kt-input-icon kt-input-icon--left">
                    <app-stock-shared [selectedValue]="searchModel.toStockId"
                      (selectedValueChanges)="searchModel.toStockId = $event">
                    </app-stock-shared>
                  </div>
                </div>
            <div class="form-group col-md-6">
              <label>{{'StockTransferDocument.TransactionNo'|translate}}</label>
              <div class="kt-input-icon kt-input-icon--left">
                <div class="kt-input-icon kt-input-icon--left">
                  <input [(ngModel)]="searchModel.transactionNo" type="text" class="form-control"
                    placeholder="{{'StockTransferDocument.TransactionNo'|translate}}">
                  <span class="kt-input-icon__icon kt-input-icon__icon--left">
                    <span><i class="la la-search"></i></span>
                  </span>
                </div>
              </div>
            </div>
            <div class="form-group col-md-6">
              <label>{{'StockTransferDocument.InvoiceNumber'|translate}}</label>
              <div class="kt-input-icon kt-input-icon--left">
                <div class="kt-input-icon kt-input-icon--left">
                  <input [(ngModel)]="searchModel.invoiceNumber" type="text" class="form-control"
                    placeholder="{{'StockTransferDocument.InvoiceNumber'|translate}}">
                  <span class="kt-input-icon__icon kt-input-icon__icon--left">
                    <span><i class="la la-search"></i></span>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="text-center mt-2">
              <button type="button" class="btn btn-success round mr-1" (click)="searchModel.page=1;getAll()">
                <i class="ft-search"></i> {{'Common.Search' | translate}}
              </button>
              <button type="button" class="btn btn-secondary round" (click)="resetSearch()">
                <i class="ft-file"></i> {{'Common.NewSearch' | translate}}
              </button>
          </div>
          <div class="table-responsive mt-2">
            <table class="table table-striped table-sm mb-0">
              <thead class="thead-light">
                <tr>
                  <th scope="col">{{'StockTransferDocument.Date'|translate}}</th>
                  <th scope="col">{{'StockTransferDocument.TransactionNo'|translate}}</th>
                  <th scope="col">{{'StockTransferDocument.FromStock'|translate}}</th>
                  <th scope="col">{{'StockTransferDocument.ToStock'|translate}}</th>
                  <th scope="col">{{'StockTransferDocument.InvoiceNumber'|translate}}</th>
                  <th scope="col">{{'StockTransferDocument.Total'|translate}}</th>
                  <th scope="col">{{'StockTransferDocument.Void'|translate}}</th>
                  <th scope="col">{{'Common.Tools'|translate}}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of stocks;let i=index">
                  <td *ngIf="fixed.activeLang.code == 'en'">{{item.date | date:'dd MMM y':null:'en-US'}}</td>
                  <td *ngIf="fixed.activeLang.code == 'ar'">{{item.date | date:'dd MMM y':null:'ar-SA'}}</td>
                  <td>{{item.transactionNo}}</td>
                  <td>{{item.fromStock}}</td>
                  <td>{{item.toStock}}</td>
                  <td>{{item.invoiceNumber}}</td>
                  <td>{{item.total | number : '1.2-2'}}</td>
                  <td>
                      <span *ngIf="item.isVoided"><i class="la la-check-circle"></i></span>
                  </td>
                  <td>
                    <a class="grid-tool" [routerLink]="[ '/store/stock-transfer-document/operation/'+item.stockTransferDocumentId]"
                      tooltip="{{'Common.Show'|translate}}">
                      <i class="flaticon-edit-1"></i></a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <app-pagination [total]="total" [scroll]="'stock-transfer-list'" (changePagination)="changePagination($event)">
          </app-pagination>
        </div>
      </div>