<div id="kt_header_mobile" class="kt-header-mobile  kt-header-mobile--fixed ">
  <div class="kt-header-mobile__logo">
    <a>
      <img class="img-responsive" alt="Logo" src="assets/img/light-logo.png" />
    </a>
  </div>
  <div class="kt-header-mobile__toolbar">
    <button class="kt-header-mobile__toggler kt-header-mobile__toggler--left"
      id="kt_aside_mobile_toggler"><span></span></button>
    <button class="kt-header-mobile__topbar-toggler" id="kt_header_mobile_topbar_toggler">
      <i class="flaticon-more"></i></button>
  </div>
</div>
<div class="kt-grid kt-grid--hor kt-grid--root">
  <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-page">
    <app-aside></app-aside>
    <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper" id="kt_wrapper">
      <app-header></app-header>
      <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
        <app-sub-header></app-sub-header>
        <div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="kt_scrolltop" class="kt-scrolltop">
  <i class="fa fa-arrow-up"></i>
</div>