<div class="row">
  <div class="col-md-4">
    <div class="kt-portlet">
      <div class="kt-portlet__body">
        <label>{{'Report.ReportType'|translate}}</label>
        <select class="form-control" name="reportType" #reportType="ngModel" required [(ngModel)]="model.reportType"
          [ngClass]="{'parsley-error': model.reportType== null, 'parsley-success': model.reportType!= null }">
          <option *ngFor="let item of reportTypes" [ngValue]="item.Id">
            {{fixed.activeLang.code == 'ar'? item.ARname: item.ENname}}
          </option>
        </select>
        <ul class="parsley-errors-list filled">
          <li class="parsley-required" *ngIf="model.reportType== null">
            {{'Report.ReportType'|translate}} {{'Common.IsRequired'|translate}}</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="kt-portlet">
      <div class="kt-portlet__body">
        <form #reportForm="ngForm">
          <div class="row">
            <div class="form-group col-md-6">
              <label>{{'Report.FromDate'|translate}}</label>
              <input type="text" class="form-control" name="fromDate" [(ngModel)]="model.fromDate" #fromDate="ngModel"
                bsDatepicker [bsConfig]="fixed.datePickerConfig" autocomplete="off"
                [ngClass]="{'parsley-error': (model.fromDate == null || model.fromDate == 'Invalid Date') && fromDate.touched}">
              <ul class="parsley-errors-list filled">
                <li class="parsley-required" *ngIf="model.fromDate == null && fromDate.touched">
                  {{'Report.FromDate'|translate}} {{'Common.IsRequired'|translate}}</li>
                <li class="parsley-required" *ngIf="model.fromDate == 'Invalid Date' && fromDate.touched">
                  {{'Report.FromDate'|translate}} {{'Common.Error'|translate}}</li>
              </ul>
            </div>
            <div class="form-group col-md-6">
              <label>{{'Report.ToDate'|translate}}</label>
              <input type="text" class="form-control" name="toDate" [(ngModel)]="model.toDate" #toDate="ngModel"
                bsDatepicker [bsConfig]="fixed.datePickerConfig" autocomplete="off"
                [ngClass]="{'parsley-error': (model.toDate == null || model.toDate == 'Invalid Date') && toDate.touched}">
              <ul class="parsley-errors-list filled">
                <li class="parsley-required" *ngIf="model.toDate == null && toDate.touched">
                  {{'Report.ToDate'|translate}} {{'Common.IsRequired'|translate}}</li>
                <li class="parsley-required" *ngIf="model.toDate == 'Invalid Date' && toDate.touched">
                  {{'Report.ToDate'|translate}} {{'Common.Error'|translate}}</li>
              </ul>
            </div>
            <div class="form-group col-md-6" *ngIf="model.reportType == 1">
              <label>{{'Report.AccountTreeName'|translate}}</label>
              <app-account-arbor [treeView]="false" [filterType]="'child'" [(selectedValue)]="model.accountTreeId"
                (selectedValueChanges)="model.accountTreeId = ($event == null) ? null : $event.accountTreeId"
                [bindLabel]="'code-name'">
              </app-account-arbor>
              <ul class="parsley-errors-list filled">
                <li class="parsley-required" *ngIf="model.accountTreeId == null">
                  {{'Report.AccountTreeName'|translate}} {{'Common.IsRequired'|translate}}</li>
              </ul>
            </div>
            <div class="form-group col-md-6" *ngIf="model.reportType == 1 || model.reportType == 2">
              <label>{{'Report.ModuleTreeName'|translate}}</label>
              <app-module-arbor [treeView]="false" [selectedValue]="model.moduleTreeId" [bindLabel]="'code-name'"
                (selectedValueChanges)="model.moduleTreeId = ($event == null) ? null : $event.moduleTreeId">
              </app-module-arbor>
              <ul class="parsley-errors-list filled">
                <li class="parsley-required" *ngIf="model.moduleTreeId == null">
                  {{'Report.ModuleTreeName'|translate}} {{'Common.IsRequired'|translate}}</li>
              </ul>
            </div>
            <div class="form-group col-md-6">
              <label>{{'Report.Language'|translate}}</label>
              <br>
              <label class="fancy-radio custom-color-green">
                <input type="radio" name="language" [value]="'ar'" [(ngModel)]="model.language">
                <span class="green"><i></i>{{'Report.Arabic'|translate}}</span>
              </label>
              <label class="fancy-radio custom-color-green">
                <input type="radio" name="language" [value]="'en'" [(ngModel)]="model.language">
                <span class="green"><i></i>{{'Report.English'|translate}}</span>
              </label>
            </div>
          </div>
          <div class="form-action">
            <button type="submit" class="btn btn-success" [disabled]="reportForm.invalid" (click)="exportReport()">
              <i class="la la-save"></i> {{'Common.Show' | translate}}
            </button>
            <button (click)="Reset()" class="btn btn-warning"><i class="la la-close"></i>
              {{'Common.Close' | translate}}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>