<div class="kt-portlet">
  <div class="kt-portlet__head">
    <div class="kt-portlet__head-label">
      <h4 class="kt-portlet__head-title" *ngIf="model.transactionId == null">
        {{'Transaction.Add'|translate}}
      </h4>
      <h4 class="kt-portlet__head-title" *ngIf="model.transactionId > 0">
        {{'Transaction.Edit'|translate}}
      </h4>
    </div>
    <div class="kt-portlet__head-toolbar">
      <div class="kt-portlet__head-actions">

      </div>
    </div>
  </div>
  <div class="kt-portlet__body">
    <form #transactionForm="ngForm">
      <div class="row">
        <div class="form-group col-md-3">
          <label>{{'Transaction.TransactionType'|translate}}</label>
          <app-transaction-type [selectedValue]="model.transactionTypeId"
            (selectedValueChanges)="model.transactionTypeId = ($event == null) ? null : $event">
          </app-transaction-type>
          <ul class="parsley-errors-list filled">
            <li class="parsley-required" *ngIf="model.transactionTypeId == null">
              {{'Transaction.TransactionType'|translate}} {{'Common.IsRequired'|translate}}</li>
          </ul>
        </div>
        <div class="form-group col-md-3">
          <label>{{'Transaction.Date'|translate}}</label>
          <input type="text" class="form-control" name="date" [(ngModel)]="model.date" #date="ngModel" bsDatepicker
            [bsConfig]="fixed.datePickerConfig" autocomplete="off" (bsValueChange)="getTransactionNo($event)"
            [ngClass]="{'parsley-error': (model.date == null || model.date == 'Invalid Date' || checkDate == false) && date.touched}">
          <ul class="parsley-errors-list filled">
            <li class="parsley-required" *ngIf="model.date == null && date.touched">
              {{'Transaction.Date'|translate}} {{'Common.IsRequired'|translate}}</li>
            <li class="parsley-required" *ngIf="model.date == 'Invalid Date' && date.touched">
              {{'Transaction.Date'|translate}} {{'Common.Error'|translate}}</li>
            <li class="parsley-required" *ngIf="checkDate == false && date.touched">
              {{'Transaction.Date'|translate}} {{'Transaction.DateNotVaild'|translate}}</li>
          </ul>
        </div>
        <div class="form-group col-md-3">
          <label>{{'Transaction.TransactionNo'|translate}}</label>
          <input type="text" class="form-control" name="transactionNo" [(ngModel)]="model.showTransactionNo"
            #transactionNo="ngModel" disabled>
        </div>
        <div class="form-group col-md-3">
          <label>{{'Transaction.Currency'|translate}}</label>
          <app-currency [selectedValue]="model.currencyId"
            (selectedValueChanges)="model.currencyId = ($event == null) ? null : $event">
          </app-currency>
        </div>
        <div class="form-group col-md-3">
          <label class="label-head">{{'Transaction.TransactionCase'|translate}}</label>
          <label *ngIf="fixed.activeLang.code == 'en'">
            {{(fixed.accounting.TransactionCase | filterById: 'transactionCaseId': model.transactionCaseId)[0]?.nameEn}}</label>
          <label *ngIf="fixed.activeLang.code == 'ar'">
            {{(fixed.accounting.TransactionCase | filterById: 'transactionCaseId': model.transactionCaseId)[0]?.nameAr}}</label>
        </div>
        <div class="form-group col-md-3">
          <label class="label-head">{{'Transaction.TotalCredit'|translate}}</label>
          <label>{{model.totalCredit | number : '1.2-2'}}</label>
        </div>
        <div class="form-group col-md-3">
          <label class="label-head">{{'Transaction.TotalDepit'|translate}}</label>
          <label>{{model.totalDepit | number : '1.2-2'}}</label>
        </div>
      </div>
      <div class="kt-section mb-0 mt-2">
        <h3 class="kt-section__title mb-0">
          <a class="btn btn-default btn-pill btn-sm btn-icon btn-icon-md custom-sm" (click)="detailsOperation()"
            tooltip="{{'Common.Add'|translate}}" placement="auto">
            <i class="flaticon2-add-1"></i></a>
          <span class="m-010">{{'Transaction.Details'|translate}}</span>
        </h3>
      </div>
      <div class="row" *ngFor="let item of model.acC_TransactionsDetails;let i=index;let even=even"
        [hidden]="item.isDeleted" [ngClass]="{'bb mb-2': !((i+1) == model.acC_TransactionsDetails.length)}">
        <div class="col-md-1 text-center">
          <label>{{i+1}}</label>
        </div>
        <div class="col-md-10">
          <div class="row">
            <div class="col-md-8" [ngClass]="{'mb-5px': item.operation == 's'}">
              <label [ngClass]="{'label-head': item.operation == 's'}">{{'Transaction.ModuleTree'|translate}}</label>
              <app-module-arbor [treeView]="false" [filterType]="'child'" [selectedValue]="item.moduleTreeId"
                (selectedValueChanges)="moduleTreeChange($event,item,'html')" [hidden]="item.operation == 's'"
                [bindLabel]="'code-name'">
              </app-module-arbor>
              <span [hidden]="item.operation == 'e'">
                {{(fixed.accounting.ModuleTree | filterById: 'moduleTreeId': item.moduleTreeId)[0]?.code}} --
                {{(fixed.accounting.ModuleTree | filterById: 'moduleTreeId': item.moduleTreeId)[0]?.name}}</span>
            </div>
            <div class="col-md-2" [ngClass]="{'mb-5px': item.operation == 's'}">
              <label [ngClass]="{'label-head': item.operation == 's'}">{{'Transaction.Depit'|translate}}</label>
              <input type="number" class="form-control" name="debit{{i}}" [(ngModel)]="item.debit" min="0"
                [disabled]="item.credit > 0" (blur)="item.credit = 0" (input)="sumDebit('debit')"
                *ngIf="item.operation == 'e'">
              <span *ngIf="item.operation == 's'">{{item.debit | number : '1.2-2'}}</span>
            </div>
            <div class="col-md-2" [ngClass]="{'mb-5px': item.operation == 's'}">
              <label [ngClass]="{'label-head': item.operation == 's'}">{{'Transaction.Credit'|translate}}</label>
              <input type="number" class="form-control" name="credit{{i}}" [(ngModel)]="item.credit" min="0"
                [disabled]="item.debit > 0" (blur)="item.debit = 0" (input)="sumDebit('credit')"
                *ngIf="item.operation == 'e'">
              <span *ngIf="item.operation == 's'">{{item.credit | number : '1.2-2'}}</span>
            </div>
            <div class="col-md-8" [ngClass]="{'mb-5px': item.operation == 's'}">
              <label [ngClass]="{'label-head': item.operation == 's'}">{{'Transaction.AccountTree'|translate}}</label>
              <app-account-arbor [treeView]="false" [filterType]="'master'" [hidden]="item.operation == 's'"
                *ngIf="item.moduleTreeId == null" [selectedValue]="item.accountTreeId" [bindLabel]="'code-name'"
                (selectedValueChanges)="item.accountTreeId = ($event == null) ? null : $event.accountTreeId">
              </app-account-arbor>
              <app-account-arbor [treeView]="false" [filterType]="'list'" [fliterValue]="item.accountTreeList"
                [hidden]="item.operation == 's'" *ngIf="item.moduleTreeId > 0" [selectedValue]="item.accountTreeId"
                (selectedValueChanges)="item.accountTreeId = ($event == null) ? null : $event.accountTreeId"
                [bindLabel]="'code-name'">
              </app-account-arbor>
              <span *ngIf="item.operation == 's'">
                {{(fixed.accounting.AccountTree | filterById: 'accountTreeId': item.accountTreeId)[0]?.code}} --
                {{(fixed.accounting.AccountTree | filterById: 'accountTreeId': item.accountTreeId)[0]?.name}}</span>
            </div>
            <div class="col-md-4" [ngClass]="{'mb-5px': item.operation == 's'}">
              <label [ngClass]="{'label-head': item.operation == 's'}">{{'Transaction.CostCenter'|translate}}</label>
              <app-cost-center-arbor [treeView]="false" [selectedValue]="item.costCenterId" [bindLabel]="'code-name'"
                (selectedValueChanges)="item.costCenterId = ($event == null) ? null : $event.costCenterId"
                [hidden]="item.operation == 's'"></app-cost-center-arbor>
              <span [hidden]="item.operation == 'e'">
                {{(this.fixed.accounting.CostCenter | filterById: 'costCenterId': item.costCenterId)[0]?.code}} --
                {{(this.fixed.accounting.CostCenter | filterById: 'costCenterId': item.costCenterId)[0]?.name}}</span>
            </div>
            <div class="col-md-12 mb-3" [ngClass]="{'mb-5px': item.operation == 's'}">
              <label [ngClass]="{'label-head': item.operation == 's'}">{{'Common.Notes'|translate}}</label>
              <input type="text" class="form-control" name="note{{i}}" [(ngModel)]="item.note"
                *ngIf="item.operation == 'e'">
              <span *ngIf="item.operation == 's'">{{item.note}}</span>
            </div>
          </div>
        </div>
        <div class="col-md-1 text-center">
          <label>{{'Common.Tools'|translate}}</label>
          <br>
          <a class="grid-tool" (click)="detailsOperation(item)" tooltip="{{'Common.Edit'| translate}}"
            *ngIf="item.operation == 's'"><i class="flaticon-edit-1"></i></a>
          <a class="grid-tool" (click)="detailsFinish('save', item, i)" tooltip="{{'Common.Save'| translate}}"
            *ngIf="item.operation == 'e'"><i class="la la-save"></i></a>
          <a class="grid-tool" (click)="detailsFinish('save&new', item, i)" tooltip="{{'Common.Save&New'| translate}}"
            *ngIf="item.operation == 'e'"><i class="la la-credit-card"></i></a>
          <a class="grid-tool" [swal]="DeleteMessage" (confirm)="deleteDetails(item,i)"
            tooltip="{{'Common.Delete'|translate}}" *ngIf="item.operation == 's'">
            <i class="flaticon-delete red"></i></a>
          <a class="grid-tool" (click)="detailsFinish('close', item, i)" tooltip="{{'Common.Close'|translate}}"
            *ngIf="item.operation == 'e'"><i class="la la-close red"></i></a>
        </div>
      </div>
      <div class="form-action">
        <button type="submit" class="btn btn-success" [disabled]="transactionForm.invalid || lockGridEdit || !checkDate"
          (click)="saveTransaction()">
          <i class="la la-save"></i> {{'Common.Save' | translate}}
        </button>
        <button [routerLink]="['/accounting/general-ledger/transaction-list']" class="btn btn-warning"><i class="la la-close"></i>
          {{'Common.Close' | translate}}</button>
        <button class="btn btn-danger" [swal]="DeleteMessage" (confirm)="deleteTransaction(model.transactionId)"
          title="{{'Common.Delete'| translate}}" *ngIf="model.transactionId > 0">
          <i class="la la-trash-o"></i> {{'Common.Delete' | translate}}</button>
      </div>
    </form>
  </div>
</div>
<swal #DeleteMessage title="{{'Common.DeleteConfirmMessage'|translate}}" type="error"
  confirmButtonText="{{'Common.Confirm'|translate}}" cancelButtonText="{{'Common.Cancel'|translate}}"
  [confirmButtonColor]="'#d33'" [focusCancel]="true" [focusConfirm]="false" [showCloseButton]="false"
  [showCancelButton]="true" [showConfirmButton]="true">
</swal>