<div class="input-group">
  <ng-select notFoundText="{{'Common.notFoundText'|translate}}" [items]="stocks | stockFilter:filterStock"
    bindLabel="name" bindValue="stockId" [(ngModel)]="selectedValue" (change)="selectedValueChanges.emit(selectedValue)"
    (clear)="selectedValueChanges.emit(null)" [clearable]="true" placeholder="{{'Common.Select'|translate}}"
    [disabled]="disable">
  </ng-select>
  <div class="input-group-append" (click)="openModal(stockListModal)">
    <span class="input-group-text btn btn-primary"><i class="fa fa-search-plus white"></i></span>
  </div>
</div>
<ng-template #stockListModal>
  <div class="modal-header pb-1 pt-2">
    <h4 class="modal-title pull-left m-010">{{'Stock.List'|translate}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="input-group justify-content-center">
      <div class="kt-input-icon kt-input-icon--right">
        <input type="text" class="form-control" name="search" [(ngModel)]="search"
          placeholder="{{'Common.Search'|translate}}">
        <span class="kt-input-icon__icon kt-input-icon__icon--right"><span><i class="flaticon-search"></i></span></span>
      </div>
    </div>
    <div class="table-responsive mt-3">
      <table class="table table-striped table-sm">
        <thead class="thead-light">
          <tr>
            <th scope="col">#</th>
            <th scope="col">{{'Stock.Name'|translate}}</th>
            <th scope="col">{{'Stock.Code'|translate}}</th>
            <th scope="col" *ngIf="!disable">{{'Common.Tools'|translate}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of (stocks | stockFilter:filterStock) | filter: {name: search,code: search};let i=index">
            <td scope="row">{{i+1}}</td>
            <td>{{item.name}}</td>
            <td>{{item.code}}</td>
            <td *ngIf="!disable">
              <a class="grid-tool" tooltip="{{'Common.Select'| translate}}"
                (click)="selectedValue=item.stockId ;selectedValueChanges.emit(item.stockId);modalRef.hide()">
                <i class="la la-magnet"></i></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</ng-template>