<div class="input-group">
  <ng-select notFoundText="{{'Common.notFoundText'|translate}}" [items]="list" bindValue="uomId" [(ngModel)]="selectedValue"
    (change)="selectedValueChanges.emit(selectedValue)" (clear)="selectedValueChanges.emit(null)" [clearable]="true"
    placeholder="{{'Common.Select'|translate}}">
    <ng-template ng-label-tmp let-item="item">
        <div>{{(fixed.activeLang.code == 'ar')? item.nameAr : item.nameEn}}</div>
      </ng-template>
      <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
        <div>{{(fixed.activeLang.code == 'ar')? item.nameAr : item.nameEn}}</div>
      </ng-template>
  </ng-select>
</div>