<div class="kt-portlet">
  <div class="kt-portlet__head" [ngClass]="{'alert alert-danger mb-0': model?.isVoided}">
    <div class="kt-portlet__head-label">
      <h4 class="kt-portlet__head-title" *ngIf="model?.stockReturnVoucherId == null">
        {{'StockReturnVoucher.Add'|translate}}
      </h4>
      <h4 class="kt-portlet__head-title" *ngIf="model?.stockReturnVoucherId > 0" [ngClass]="{'white': model?.isVoided}">
        {{'StockReturnVoucher.Edit'|translate}}
      </h4>
    </div>
    <div class="kt-portlet__head-toolbar">
      <div class="kt-portlet__head-actions" *ngIf="model?.isVoided">
        <i class="flaticon2-trash"></i>
        {{'StockReturnVoucher.Cancel'| translate}}
      </div>
    </div>
  </div>
  <div class="kt-portlet__body">
    <form #stockReturnVoucherForm="ngForm">
      <div class="row">
        <div class="form-group col-md-3">
          <label>{{'StockReceiveVoucher.TransactionNo'|translate}}</label>
          <input type="text" class="form-control" name="model.invoiceTransactionNo"
            [(ngModel)]="model.invoiceTransactionNo" #model.invoiceTransactionNo="ngModel"
            (input)="getInvoiceData(model.invoiceTransactionNo)" (ngModelChange)="onTextChange($event)">
        </div>
        <div class="form-group col-md-3">
          <label>{{'StockReceiveVoucher.Vendor'|translate}}</label>
          <input type="text" class="form-control" name="vendor" [(ngModel)]="invoicemodel.vendorName" #vendor="ngModel"
            disabled>
        </div>
        <div class="form-group col-md-3">
          <label>{{'StockReceiveVoucher.VendorInvoiceNumber'|translate}}</label>
          <input type="text" class="form-control" name="vendorInvoiceNumber"
            [(ngModel)]="invoicemodel.vendorInvoiceNumber" #vendorInvoiceNumber="ngModel" disabled>
        </div>
        <div class="form-group col-md-3">
          <label>{{'StockReceiveVoucher.Stock'|translate}}</label>
          <input type="text" class="form-control" name="stockName" [(ngModel)]="invoicemodel.stockName"
            #stockName="ngModel" disabled>
        </div>
        <div class="form-group col-md-3">
          <label>{{'StockReturnVoucher.Date'|translate}}</label>
          <input type="text" class="form-control" name="date" [(ngModel)]="model.date" #date="ngModel" bsDatepicker
            [bsConfig]="fixed.datePickerConfig" autocomplete="off" (bsValueChange)="getTransactionNo($event)"
            [maxDate]="fixed.today" [minDate]="invoicemodel.date" required [ngClass]="{'parsley-error': (model.date == null 
            || model.date == 'Invalid Date' || (global.formatDate(invoicemodel.date) > global.formatDate(model.date))) 
            && date.touched}">
          <ul class="parsley-errors-list filled">
            <li class="parsley-required" *ngIf="model.date == null && date.touched">
              {{'StockReturnVoucher.Date'|translate}} {{'Common.IsRequired'|translate}}</li>
            <li class="parsley-required" *ngIf="model.date == 'Invalid Date' && date.touched">
              {{'StockReturnVoucher.Date'|translate}} {{'Common.Error'|translate}}</li>
            <li class="parsley-required" *ngIf="checkDate == false && date.touched">
              {{'StockReturnVoucher.Date'|translate}} {{'Common.DateNotVaild'|translate}}</li>
            <li class="parsley-required"
              *ngIf="(global.formatDate(invoicemodel.date) > global.formatDate(model.date)) && date.touched">
              {{'StockReturnVoucher.DateReturnNotVaild'|translate}}</li>
          </ul>
        </div>
        <div class="form-group col-md-3">
          <label>{{'StockReturnVoucher.TransactionNo'|translate}}</label>
          <input type="text" class="form-control" name="transactionNo" [(ngModel)]="model.transactionNo"
            #transactionNo="ngModel" disabled>
        </div>
        <div class="form-group col-md-2 mt-2">
          <br>
          <label class="fancy-radio">
            <input type="radio" name="PaymentMethodType" [value]="true" [(ngModel)]="model.isCash">
            <span><i></i>{{'Invoice.Cash'|translate}}</span>
          </label>
          <label class="fancy-radio">
            <input type="radio" name="PaymentMethodType" [value]="false" [(ngModel)]="model.isCash">
            <span><i></i>{{'Invoice.Credit'|translate}}</span>
          </label>
        </div>
        <div class="form-group col-md-12">
          <label>{{'StockReturnVoucher.Description'|translate}}</label>
          <input type="text" class="form-control" name="description" [(ngModel)]="model.description"
            #description="ngModel">
        </div>
      </div>
      <div class="kt-section mb-0 mt-2">
        <h3 class="kt-section__title mb-0">
          <a class="btn btn-default btn-pill btn-sm btn-icon btn-icon-md custom-sm" (click)="itemOperation()"
            tooltip="{{'Common.Add'|translate}}" placement="auto" *ngIf="!model?.isVoided">
            <i class="flaticon2-add-1"></i></a>
          <span class="m-010">{{'StockReturnVoucher.Details'|translate}}</span>
        </h3>
      </div>
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead class="thead-light text-center">
            <tr>
              <th scope="col" *ngIf="false">#</th>
              <th scope="col" class="width-15">{{'StockReturnVoucher.Product'|translate}}</th>
              <th scope="col" class="width-10">{{'StockReturnVoucher.Unit'|translate}}</th>
              <th scope="col" class="width-15"> {{'StockReturnVoucher.BatchNumber'|translate}} --
                {{'StockReturnVoucher.ExpiryDate'|translate}}</th>
              <th scope="col" class="width-8">{{'StockReturnVoucher.QtyInUom'|translate}}</th>
              <th scope="col" class="width-9">{{'StockReturnVoucher.UomPrice'|translate}}</th>
              <th scope="col" class="width-9">{{'StockReturnVoucher.TotalPrice'|translate}}</th>
              <th scope="col" class="width-9">{{'StockReturnVoucher.UomDiscountValue'|translate}}</th>
              <th scope="col" class="width-9">{{'StockReturnVoucher.TotalDiscount'|translate}}</th>
              <th scope="col" class="width-9">{{'StockReturnVoucher.TotalAfterDiscount'|translate}}</th>
              <th scope="col" *ngIf="false">{{'StockReturnVoucher.VATPercentage'|translate}}%</th>
              <th scope="col" class="width-9">{{'StockReturnVoucher.TotalVATValue'|translate}}</th>
              <th scope="col" *ngIf="!model?.isVoided">{{'Common.Tools'|translate}}</th>
            </tr>
          </thead>
          <tbody class="text-center">
            <tr *ngFor="let item of model.stO_StockReturnVoucherItem | orderBy: 'itemId'; let i=index"
              [hidden]="item.isDeleted">
              <th scope="row" *ngIf="false">
                <input type="text" class="form-control" name="itemId{{i}}" [(ngModel)]="item.itemId"
                  *ngIf="item.operation == 'e'">
                <span *ngIf="item.operation == 's'">{{item.itemId}}</span>
              </th>
              <td class="width-15">
                <ng-select notFoundText="{{'Common.notFoundText'|translate}}" [items]="distinctProducts"
                  [(ngModel)]="item.product" (change)="productChanges(item)" [clearable]="true" name="product{{i}}"
                  placeholder="{{'Product.SearchByBarcode'|translate}}" *ngIf="item.operation == 'e'"
                  [searchFn]="customSearchFn" (search)="searchInProducts($event)">
                  <ng-template ng-label-tmp let-item="item">
                    <span *ngIf="fixed.activeLang.code == 'en'">
                      {{item.nameEn}}
                    </span>
                    <span *ngIf="fixed.activeLang.code == 'ar'">
                      {{item.nameAr}}
                    </span>
                  </ng-template>
                  <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                    <span *ngIf="fixed.activeLang.code == 'en'">
                      {{item.nameEn}}
                    </span>
                    <span *ngIf="fixed.activeLang.code == 'ar'">
                      {{item.nameAr}}
                    </span>
                  </ng-template>
                </ng-select>
                <span *ngIf="item.operation == 's' && fixed.activeLang.code == 'en'">
                  {{item.product.nameEn}}
                </span>
                <span *ngIf="item.operation == 's' && fixed.activeLang.code == 'ar'">
                  {{item.product.nameAr}}
                </span>
              </td>
              <td>
                
                <ng-select notFoundText="{{'Common.notFoundText'|translate}}" [items]="item.units"
                  name="uomBarCode{{i}}" bindValue="uomBarCode" [(ngModel)]="item.uomBarCode" [clearable]="false"
                  bindLabel="uomBarCodeName" (change)="unitChanges(item)" placeholder="{{'Common.Select'|translate}}"
                  *ngIf="item.operation == 'e'">
                </ng-select>
                <span *ngIf="item.operation == 's'">
                  {{(item.units | filterById: 'uomBarCode': item.uomBarCode)[0]?.uomBarCodeName}}</span>
              </td>
              <td>
                <ng-select notFoundText="{{'Common.notFoundText'|translate}}" *ngIf="item.operation == 'e'"
                  [items]="item.batchExpireList" name="batchExpire{{i}}" [(ngModel)]="item.batchExpire"
                  (change)="batchExpireChange(item)" [clearable]="false" placeholder="{{'Common.Select'|translate}}">
                  <ng-template ng-label-tmp let-item="item">
                    <span *ngIf="fixed.activeLang.code == 'en'">
                      {{item.batchNumber}} -- {{item.expiryDate | date:'dd MMM y':null:'en-US'}}
                    </span>
                    <span *ngIf="fixed.activeLang.code == 'ar'">
                      {{item.batchNumber}} -- {{item.expiryDate | date:'dd MMM y':null:'ar-SA'}}
                    </span>
                  </ng-template>
                  <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                    <span *ngIf="fixed.activeLang.code == 'en'">
                      {{item.batchNumber}} -- {{item.expiryDate | date:'dd MMM y':null:'en-US'}}
                    </span>
                    <span *ngIf="fixed.activeLang.code == 'ar'">
                      {{item.batchNumber}} -- {{item.expiryDate | date:'dd MMM y':null:'ar-SA'}}
                    </span>
                  </ng-template>
                </ng-select>
                <span *ngIf="item.operation == 's' && fixed.activeLang.code == 'en'">
                  {{item.batchNumber}} -- {{item.expiryDate | date:'dd MMM y':null:'en-US'}}
                </span>
                <span *ngIf="item.operation == 's' && fixed.activeLang.code == 'ar'">
                  {{item.batchNumber}} -- {{item.expiryDate | date:'dd MMM y':null:'ar-SA'}}
                </span>
              </td>
              <td>
                <input type="number" class="form-control ltr" name="qtyInUom{{i}}" [(ngModel)]="item.qtyInUom" min="0"
                  *ngIf="item.operation == 'e'" (input)="checkValidQuantity(item)" min="0">
                <span *ngIf="item.operation == 's'">{{item.qtyInUom}}</span>
              </td>
              <td>
                <input type="number" class="form-control ltr" name="uomPrice{{i}}" [(ngModel)]="item.uomPrice"
                  *ngIf="item.operation == 'e'" disabled>
                <span *ngIf="item.operation == 's'">{{item.uomPrice | number : '1.2-2'}}</span>
              </td>

              <td>
                <input type="number" class="form-control ltr" name="totalPrice{{i}}" [(ngModel)]="item.totalPrice"
                  *ngIf="item.operation == 'e'" disabled>
                <span *ngIf="item.operation == 's'">{{item.totalPrice | number : '1.2-2'}}</span>
              </td>
              <td>
                <input type="number" class="form-control ltr" name="uomDiscountValue{{i}}"
                  [(ngModel)]="item.uomDiscountValue" *ngIf="item.operation == 'e'" disabled>
                <span *ngIf="item.operation == 's'">{{item.uomDiscountValue | number : '1.2-2'}}</span>
              </td>
              <td>
                <input type="number" class="form-control ltr" name="totalDiscount{{i}}" [(ngModel)]="item.totalDiscount"
                  *ngIf="item.operation == 'e'" disabled>
                <span *ngIf="item.operation == 's'">{{item.totalDiscount | number : '1.2-2'}}</span>
              </td>
              <td>
                <input type="number" class="form-control ltr" name="totalAfterDiscount{{i}}"
                  [(ngModel)]="item.totalAfterDiscount" *ngIf="item.operation == 'e'" disabled>
                <span *ngIf="item.operation == 's'">{{item.totalAfterDiscount | number : '1.2-2'}}</span>
              </td>
              <td *ngIf="false">
                <input type="number" class="form-control ltr" name="vatPercentage{{i}}" [(ngModel)]="item.vatPercentage"
                  *ngIf="item.operation == 'e'" disabled>
                <span *ngIf="item.operation == 's'">{{item.vatPercentage | number : '1.2-2'}}</span>
              </td>
              <td>
                <input type="number" class="form-control ltr" name="totalVatValue{{i}}" [(ngModel)]="item.totalVatValue"
                  *ngIf="item.operation == 'e'" disabled>
                <span *ngIf="item.operation == 's'">{{item.totalVatValue | number : '1.2-2'}}</span>
              </td>

              <td *ngIf="!model?.isVoided">
                <a class="grid-tool" (click)="itemOperation(item)" tooltip="{{'Common.Edit'| translate}}"
                  *ngIf="item.operation == 's'">
                  <i class="flaticon-edit-1"></i></a>
                <a class="grid-tool" (click)="itemFinish('save', item, i)" tooltip="{{'Common.Save'| translate}}"
                  *ngIf="item.operation == 'e'">
                  <i class="la la-save"></i></a>
                <a class="grid-tool" [swal]="DeleteMessage" (confirm)="itemDelete(item,i)"
                  tooltip="{{'Common.Delete'|translate}}" *ngIf="item.operation == 's'">
                  <i class="flaticon-delete"></i></a>
                <a class="grid-tool" (click)="itemFinish('close', item, i)" tooltip="{{'Common.Close'|translate}}"
                  *ngIf="item.operation == 'e'"><i class="la la-close"></i></a>
              </td>
            </tr>
            <tr>
              <a class="btn btn-success white mt-2" (click)="itemOperation()"
                *ngIf="!model?.isVoided">{{'Common.Add'| translate}}</a>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="row mb-2">
        <div class="col-md-1"></div>
        <div class="col-md-2 text-right mt-2">
          <label>{{'StockReceiveVoucher.TotalPrice'|translate}} : </label>
        </div>
        <div class="col-md-3">
          <input type="number" class="form-control ltr" name="totalAfterDiscount" [(ngModel)]="model.totalAfterDiscount"
            #totalAfterDiscount="ngModel" disabled>
        </div>
        <div class="col-md-2 text-right mt-2">
          <label>{{'StockReceiveVoucher.TotalVATValue'|translate}} : </label>
        </div>
        <div class="col-md-3">
          <input type="number" class="form-control ltr" name="totalVAT" [(ngModel)]="model.totalVAT" #totalVAT="ngModel"
            disabled>
        </div>
      </div>
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-2 text-right mt-2">
          <label>{{'StockReceiveVoucher.TotalInvoice'|translate}} : </label>
        </div>
        <div class="col-md-3">
          <p type="number" class="form-control ltr" disabled>
            {{model.totalAfterDiscount+model.totalVAT}}
          </p>
        </div>

       
      </div>
      <div class="form-action">
        <button type="submit" class="btn btn-success" (click)="saveStockReturnVoucher()" *ngIf="!model?.isVoided"
          [disabled]="stockReturnVoucherForm.invalid || lockGridEdit || model.stockReceiveVoucherId == null || 
        emptyList || model.stockId == null">
          <i class="la la-save"></i> {{'Common.Save' | translate}}
        </button>
        <a [routerLink]="[ listPage ]" class="btn btn-warning"><i class="la la-close"></i>
          {{'Common.Close' | translate}}
        </a>
        <button class="btn btn-danger" [swal]="DeleteMessage" (confirm)="voidedTransaction(model.stockReturnVoucherId)"
          title="{{'Common.Delete'| translate}}" *ngIf="model?.stockReturnVoucherId > 0 && !model?.isVoided">
          <i class="la la-trash-o"></i> {{'Common.Delete' | translate}}</button>
        <button class="btn btn-primary" (click)="PrintReceipt()" title="{{'Common.Print'| translate}}"
          *ngIf="model?.stockReturnVoucherId > 0 && !model?.isVoided">
          <i class="la la-print"></i> {{'Common.Print' | translate}}</button>
      </div>
    </form>
  </div>
</div>
<swal #DeleteMessage title="{{'Common.DeleteConfirmMessage'|translate}}" type="error"
  confirmButtonText="{{'Common.Confirm'|translate}}" cancelButtonText="{{'Common.Cancel'|translate}}"
  [confirmButtonColor]="'#d33'" [focusCancel]="true" [focusConfirm]="false" [showCloseButton]="false"
  [showCancelButton]="true" [showConfirmButton]="true">
</swal>
<swal #operationError title="{{'Message.Warning'|translate}}"
  html="<span class='red-custom text-bold'>{{'Message.OperationError'|translate}}</span>" type="error"
  [showCloseButton]="false" [showCancelButton]="false" [showConfirmButton]="false">
</swal>