<div class="row">
  <div class="col-md-4">
    <app-category-arbor [treeView]="true" (selectedValueChanges)="treeChanges($event)"
      [selectedValue]="model.categoryId" [(refresh)]="refreshTree">
    </app-category-arbor>
     
  </div>
  <div class="col-md-8">
    <div class="kt-portlet">
      <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
          <h4 class="kt-portlet__head-title" *ngIf="model.categoryId == null">
            {{'Category.Add'|translate}}
          </h4>
          <h4 class="kt-portlet__head-title" *ngIf="model.categoryId > 0">
            {{'Category.Edit'|translate}}
          </h4>
        </div>
        <div class="kt-portlet__head-toolbar">
          <div class="kt-portlet__head-actions">
            <a (click)="treeChanges()" class="btn btn-default btn-pill btn-sm btn-icon btn-icon-md custom-sm"
              tooltip="{{'Category.Add'|translate}}" placement="auto">
              <i class="flaticon2-add-1"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="kt-portlet__body">
        <form #Category="ngForm">
          <div class="row">
            <div class="form-group col-md-6">
              <label>{{'Category.Code'|translate}}</label>
              <input type="text" class="form-control" name="code" [(ngModel)]="model.code" #code="ngModel" required
                (blur)="checkCode()"
                [ngClass]="{'parsley-error': (code.invalid && code.touched) || checkcode, 'parsley-success': code.valid && !checkcode}">
              <ul class="parsley-errors-list filled">
                <li class="parsley-required" *ngIf="code.errors?.required && code.touched">
                  {{'Category.Code'|translate}} {{'Common.IsRequired'|translate}}</li>
                <li class="parsley-required" *ngIf="checkcode">
                  {{'Category.CheckCode'|translate}}</li>
              </ul>
            </div>
            <div class="form-group col-md-6">
              <label>{{'Category.Name'|translate}}</label>
              <input type="text" class="form-control" name="name" [(ngModel)]="model.name" #name="ngModel" required
                [ngClass]="{'parsley-error': name.invalid && name.touched, 'parsley-success': name.valid }">
              <ul class="parsley-errors-list filled">
                <li class="parsley-required" *ngIf="name.errors?.required && name.touched">
                  {{'Category.Name'|translate}} {{'Common.IsRequired'|translate}}</li>
              </ul>
            </div>
            <div class="form-group col-md-12">
              <label>{{'Category.Parent'|translate}}</label>
              <app-category-arbor [treeView]="false" (selectedValueChanges)="categoryParentChange($event)"
                [selectedValue]="model.categoryParentId" [(refresh)]="refreshTree" [bindLabel]="'fullName'">
              </app-category-arbor>
            </div>
            <div class="form-group col-md-6">
              <label>{{'Category.VAT'|translate}}</label>
              <input type="number" class="form-control" name="vat" [(ngModel)]="model.vat" #vat="ngModel" required
                [ngClass]="{'parsley-error': vat.invalid && vat.touched, 'parsley-success': vat.valid}"
                [disabled]="model.categoryParentId != null" step="0.01" min=0>
              <ul class="parsley-errors-list filled">
                <li class="parsley-required" *ngIf="vat.errors?.required && vat.touched">
                  {{'Category.VAT'|translate}} {{'Common.IsRequired'|translate}}</li>
              </ul>
            </div>
            <div class="form-group col-md-6">
              <label>{{'Category.RequestLimit'|translate}}</label>
              <input type="number" class="form-control" name="requestLimit" [(ngModel)]="model.requestLimit"
                #requestLimit="ngModel" required
                [ngClass]="{'parsley-error': requestLimit.invalid && requestLimit.touched, 'parsley-success': requestLimit.valid }"
                [disabled]="model.categoryParentId != null" min=0>
              <ul class="parsley-errors-list filled">
                <li class="parsley-required" *ngIf="requestLimit.errors?.required && requestLimit.touched">
                  {{'Category.RequestLimit'|translate}} {{'Common.IsRequired'|translate}}</li>
              </ul>
            </div>
          </div>
          <div class="form-action">
            <button type="submit" class="btn btn-success" [disabled]="Category.invalid" (click)="saveCategoryTree()">
              <i class="la la-save"></i> {{'Common.Save' | translate}}
            </button>
            <button (click)="treeChanges()" class="btn btn-warning"><i class="la la-close"></i>
              {{'Common.Close' | translate}}</button>
            <button class="btn btn-danger" [swal]="DeleteMessage" (confirm)="deleteCategoryTree()"
              title="{{'Common.Delete'| translate}}" *ngIf="model.categoryId > 0">
              <i class="la la-trash-o"></i> {{'Common.Delete' | translate}}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<swal #confirmChanges title="{{'Message.Warning'|translate}}"
  html="<span class='red-custom'>{{'Category.ChangesNotSaved'|translate}}</span>" type="warning"
  [showCloseButton]="true" [showCancelButton]="true" [showConfirmButton]="true" (confirm)="treeChanges(tempData, true)"
  confirmButtonText="{{'Category.IgnoreChanges'|translate}}" cancelButtonText="{{'Common.Cancel'|translate}}">
</swal>
<swal #DeleteMessage title="{{'Common.DeleteConfirmMessage'|translate}}" type="error"
  confirmButtonText="{{'Common.Confirm'|translate}}" cancelButtonText="{{'Common.Cancel'|translate}}"
  [confirmButtonColor]="'#d33'" [focusCancel]="true" [focusConfirm]="false" [showCloseButton]="false"
  [showCancelButton]="true" [showConfirmButton]="true">
</swal>