<div class="kt-portlet">
  <div class="kt-portlet__head" [ngClass]="{'alert alert-danger mb-0': model?.isVoided}">
    <div class="kt-portlet__head-label">
      <h4 class="kt-portlet__head-title" *ngIf="model.payableId == null">
        {{'Payable.Add'|translate}}
      </h4>
      <h4 class="kt-portlet__head-title" *ngIf="model.payableId > 0">
        {{'Payable.Show'|translate}}
      </h4>
    </div>
    <div class="kt-portlet__head-toolbar">
      <div class="kt-portlet__head-actions" *ngIf="model?.isVoided">
        <i class="flaticon2-trash"></i>
        {{'Payable.Cancel'| translate}}
      </div>
    </div>
  </div>
  <div class="kt-portlet__body">
    <form #payableForm="ngForm">
      <div class="row">
        <div class="form-group col-md-4">
          <label>{{'Payable.Stock'|translate}}</label>
          <app-stock-shared [selectedValue]="model.stockId" (selectedValueChanges)="model.stockId = $event">
          </app-stock-shared>
          <ul class="parsley-errors-list filled">
              <li class="parsley-required" *ngIf="model.stockId == null">
                {{'Payable.Stock'|translate}} {{'Common.IsRequired'|translate}}</li>
            </ul>
        </div>
        <div class="form-group col-md-4">
          <label>{{'Payable.Date'|translate}}</label>
          <input type="text" class="form-control" name="date" [(ngModel)]="model.date" #date="ngModel" bsDatepicker
            [bsConfig]="fixed.datePickerConfig" autocomplete="off" (bsValueChange)="getTransactionNo($event)"
            [ngClass]="{'parsley-error': (model.date == null || model.date == 'Invalid Date') && date.touched}">
           <ul class="parsley-errors-list filled">
            <li class="parsley-required" *ngIf="model.date == null && date.touched">
              {{'Payable.Date'|translate}} {{'Common.IsRequired'|translate}}</li>
            <li class="parsley-required" *ngIf="model.date == 'Invalid Date' && date.touched">
              {{'Payable.Date'|translate}} {{'Common.Error'|translate}}</li>
          </ul>
        </div>
        <div class="form-group col-md-4">
          <label>{{'Payable.PayableNo'|translate}}</label>
          <input type="text" class="form-control" name="payableNo" [(ngModel)]="model.payableNo"
            #payableNo="ngModel" disabled>
        </div>
        <div class="form-group col-md-4">
          <label>{{'Payable.Vendor'|translate}}</label>
          <app-vendor-shared [selectedValue]="model.vendorId"
            (selectedValueChanges)="model.vendorId = ($event == null)? null : $event.vendorId ;getInvoicesAndReturns(model)">
          </app-vendor-shared>
          <ul class="parsley-errors-list filled">
            <li class="parsley-required" *ngIf="model.vendorId == null">
              {{'Payable.Vendor'|translate}} {{'Common.IsRequired'|translate}}</li>
          </ul>
        </div>
        <div class="form-group col-md-4">
            <label>{{'Payable.PaymentMethod'|translate}}</label>
            <app-payment-method-shared [selectedValue]="model.paymentMethodId" [typeId]="0"
              (selectedValueChanges)="model.paymentMethodId = ($event == null)? null : $event ; getInvoicesAndReturns(model)">
            </app-payment-method-shared>
            <ul class="parsley-errors-list filled">
              <li class="parsley-required" *ngIf="model.paymentMethodId == null">
                {{'Payable.PaymentMethod'|translate}} {{'Common.IsRequired'|translate}}</li>
            </ul>
        </div>
        <div class="form-group col-md-4">
          <label>{{'Payable.Total'|translate}}</label>
          <input type="text" class="form-control" name="total" [(ngModel)]="model.total" #total="ngModel" disabled>
        </div>
      </div>
      <div class="kt-section mb-0 mt-2">
          <h3 class="kt-section__title mb-0">
              <a (click)="openModal(template)" class="btn btn-default btn-pill btn-sm btn-icon btn-icon-md custom-sm"
              tooltip="{{'Payable.AddPayableItem'|translate}}" placement="auto" *ngIf="!model?.isVoided && model.payableId==null">
              <i class="flaticon2-add-1"></i>
            </a>
            <span class="m-010">{{'Payable.Details'|translate}}</span>
          </h3>
      </div>
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead class="thead-light">
            <tr>
              <th scope="col">{{'Payable.TransactionNo'|translate}}</th>
              <th scope="col">{{'Payable.Type'|translate}}</th>
              <th scope="col">{{'Payable.Total'|translate}}</th>
              <th scope="col" *ngIf="false">{{'Payable.Rest'|translate}}</th>
              <th scope="col">{{'Payable.Amount'|translate}}</th>
              <th scope="col" *ngIf="!model?.isVoided && model.payableId == null">{{'Common.Tools'|translate}}</th>
            </tr>
          </thead>
          <tbody>
              <tr *ngFor="let item of model.stO_PayableItem; let i=index" [hidden]="item.isDeleted">
              <td>
                <input type="text" class="form-control" name="transactionNo{{i}}" [(ngModel)]="item.transactionNo"
                   disabled>
              </td>
              <td>
                  <span *ngIf="item.stockReceiveVoucherId == null">{{'Payable.Return' | translate}}</span>
                  <span *ngIf="item.stockReturnVoucherId == null">{{'Payable.Invoice' | translate}}</span>
              </td>
              <td>
                <input type="number" class="form-control" name="total{{i}}" [(ngModel)]="item.total"
                  disabled>
              </td>
              <td *ngIf="false">
                <input type="number" class="form-control" name="rest{{i}}" [(ngModel)]="item.rest"
                  disabled>
              </td>
              <td>
                <input type="number" class="form-control" name="amount{{i}}" [(ngModel)]="item.amount"
                  disabled>             
               </td>
              <td *ngIf="!model?.isVoided && model.payableId == null">
                <a class="grid-tool" [swal]="DeleteMessage" (confirm)="itemDelete(item,i)"
                  tooltip="{{'Common.Delete'|translate}}">
                  <i class="flaticon-delete"></i></a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="form-action">
        <button type="submit" class="btn btn-success" [disabled]="payableForm.invalid || model.stO_PayableItem.length ==0 
        || model.date == null || model.date == 'Invalid Date' || model.stockId == null"
          (click)="save()" *ngIf="model.payableId == null">
          <i class="la la-save"></i> {{'Common.Save' | translate}}
        </button>
        <a [routerLink]="[ '/store/payable/list' ]" class="btn btn-warning"><i class="la la-close"></i>
          {{'Common.Close' | translate}}
        </a>
        <button class="btn btn-danger" [swal]="DeleteMessage" (confirm)="voidedTransaction(model.payableId)"
          title="{{'Common.Delete'| translate}}" *ngIf="model.payableId != null && !model?.isVoided">
          <i class="la la-trash-o"></i> {{'Common.Delete' | translate}}</button>
      </div>
    </form>
  </div>
</div>

<ng-template #template>
    <div class="modal-header pb-1 pt-2">
      <h4 class="modal-title pull-left">{{'Payable.AddPayableItem'|translate}}</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form #ItemForm="ngForm">
        <div class="row">
            <div class="form-group col-md-4">
                <br>
                <label class="fancy-radio">
                  <input type="radio" name="type" [value]="'invoice'" (change)="showInvoice=true;showReturn=false">
                  <span><i></i>{{'Payable.Invoice'|translate}}</span>
                </label>
                <label class="fancy-radio">
                  <input type="radio" name="type" [value]="'return'" (change)="showReturn=true;showInvoice=false">
                  <span><i></i>{{'Payable.Return'|translate}}</span>
                </label>
            </div>
            <div class="form-group col-md-4" *ngIf="showInvoice">
            <label>{{'Payable.Invoice'|translate}}</label>
            <ng-select notFoundText="{{'Common.notFoundText'|translate}}" [items]="invoiceList" bindLabel="transactionNo" bindValue="stockReceiveVoucherId" 
            [(ngModel)]="selectedItem.stockReceiveVoucherId" (change)="getInvoiceData(selectedItem,'invoice')"
             name="invoiceList" [clearable]="true"  placeholder="{{'Common.Select'|translate}}"> 
            <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
              <span>
                {{item.transactionNo}}
              </span>
            </ng-template>
           </ng-select>
            </div>
            <div class="form-group col-md-4" *ngIf="showReturn">
            <label>{{'Payable.Return'|translate}}</label>
            <ng-select notFoundText="{{'Common.notFoundText'|translate}}" [items]="returnList" bindLabel="transactionNo" bindValue="stockReturnVoucherId" 
            [(ngModel)]="selectedItem.stockReturnVoucherId"  (change)="getInvoiceData(selectedItem,'return')"
             name="invoiceList" [clearable]="true" placeholder="{{'Common.Select'|translate}}">
            <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
              <span>
                {{item.transactionNo}}
              </span>
            </ng-template>
           </ng-select>
            </div>
            <div class="form-group col-md-4">
            <label>{{'Payable.InvoiceTotal'|translate}}</label>
            <input type="number" class="form-control" name="selectedItem.total" [(ngModel)]="selectedItem.total" #selectedItem.total="ngModel" disabled>
            </div>
            <div class="form-group col-md-4">
            <label>{{'Payable.Rest'|translate}}</label>
            <input type="number" class="form-control" name="rest" [(ngModel)]="selectedItem.rest" disabled>
            </div>
            <div class="form-group col-md-4">
            <label>{{'Payable.Amount'|translate}}</label>
            <input type="number" class="form-control" name="amount" min="0" [(ngModel)]="selectedItem.amount"
             #amount="ngModel">
            </div>
        </div>
        <div class="form-action">
            <button type="button" (click)="saveItem(selectedItem)" class="btn btn-primary"><i class="la la-close"></i>
              {{'Common.Add' | translate}}
            </button>
            <button type="button" (click)="New()" class="btn btn-warning"><i class="la la-close"></i>
              {{'Common.New' | translate}}
            </button>
        </div>
      </form>
    </div>
  </ng-template>

<swal #DeleteMessage title="{{'Common.DeleteConfirmMessage'|translate}}" type="error"
confirmButtonText="{{'Common.Confirm'|translate}}" cancelButtonText="{{'Common.Cancel'|translate}}"
[confirmButtonColor]="'#d33'" [focusCancel]="true" [focusConfirm]="false" [showCloseButton]="false"
[showCancelButton]="true" [showConfirmButton]="true">
</swal>
<swal #operationError title="{{'Message.Warning'|translate}}"
  html="<span class='red-custom text-bold'>{{'Message.OperationError'|translate}}</span>" type="error"
  [showCloseButton]="false" [showCancelButton]="false" [showConfirmButton]="false">
</swal>