<div class="modal-header pb-1">
        <h5 class="modal-title" *ngIf="model.userId == null">{{'Users.Add'|translate}}</h5>
        <h5 class="modal-title" *ngIf="model.userId != null">{{'Users.Edit'|translate}}</h5>
        <button aria-label="Close" class="close" type="button" (click)="closeModal.emit('close')">
            <i class="fa fa-close"></i></button>
    </div>
    <div class="modal-body">
        <form novalidate="" #userForm="ngForm" (ngSubmit)="userForm.valid">
            <div class="row">
                <div class="col-md-6 form-group">
                    <label>{{'Users.UserName'|translate}}</label>
                    <input type="text" class="form-control" required placeholder="{{'Users.UserName'|translate}}"
                        autocomplete="false" [(ngModel)]="model.userName" name="userName" #userName="ngModel"
                        (blur)="checkUserName(model.userName)"
                        (keypress)="global.OnPressFnction($event,3);global.OnPressFnction($event,5)" autocomplete="false"
                        [ngClass]="{'parsley-error': (userName.invalid && userName.touched) || checkName,'parsley-success': userName.valid }">
                    <ul class="parsley-errors-list filled">
                        <li class="parsley-required" *ngIf="userName.errors?.required && userName.touched">
                            {{'Users.UserName'|translate}} {{'Common.IsRequired'|translate}}</li>
                        <li class="parsley-required" *ngIf="checkName">
                            {{'Users.CheckName'|translate}}</li>
                    </ul>
                </div>
                <div class="col-md-6 form-group" *ngIf="model.userId == null">
                    <label>{{'Users.Password'|translate}}</label>
                    <input type="password" class="form-control" required placeholder="{{'Users.Password'|translate}}"
                        [(ngModel)]="model.password" name="password" #password="ngModel" autocomplete="false"  (keypress)="global.OnPressFnction($event,5)"
                        [ngClass]="{'parsley-error': password.invalid && password.touched,'parsley-success': password.valid }">
                    <ul class="parsley-errors-list filled">
                        <li class="parsley-required" *ngIf="password.errors?.required && password.touched">
                            {{'Users.Password'|translate}} {{'Common.IsRequired'|translate}}</li>
                    </ul>
                </div>
                <div class="col-md-6 form-group">
                    <label>{{'Users.Name'|translate}}</label>
                    <input type="text" class="form-control" required placeholder="{{'Users.Name'|translate}}"
                        autocomplete="false" [(ngModel)]="model.name" name="name" #name="ngModel"
                        (keypress)="global.OnPressFnction($event,5)"
                        [ngClass]="{'parsley-error': (name.invalid && name.touched),'parsley-success': name.valid }">
                    <ul class="parsley-errors-list filled">
                        <li class="parsley-required" *ngIf="name.errors?.required && name.touched">
                            {{'Users.Name'|translate}} {{'Common.IsRequired'|translate}}</li>
                    </ul>
                </div>
                <div class="col-md-6 form-group">
                    <label>{{'Users.Email'|translate}}</label>
                    <input type="email" class="form-control" required placeholder="{{'Users.Email'|translate}}"
                        autocomplete="false" pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-0]+$"
                        [(ngModel)]="model.email" aria-describedby="emailHelp" name="email" #email="ngModel"
                        (blur)="checkEmail(model.email)" (keypress)="global.OnPressFnction($event,2)"
                        [ngClass]="{'parsley-error': (email.invalid && email.touched ) || checkMail ,'parsley-success': email.valid && !checkMail }">
                    <ul class="parsley-errors-list filled">
                        <li class="parsley-required" *ngIf="email.errors?.required && email.touched">
                            {{'Users.Email'|translate}} {{'Common.IsRequired'|translate}}</li>
                        <li class="parsley-required" *ngIf="email.errors?.pattern && email.touched">
                            {{'Users.Email'|translate}} {{'Common.IsInvalid'|translate}}</li>
                        <li class="parsley-required" *ngIf="checkMail">
                            {{'Users.CheckEmail'|translate}}</li>
                    </ul>
                </div>
                <div class="col-md-6 form-group">
                    <label>{{'Users.PhoneNumber'|translate}}</label>
                     <input type="text" class="form-control tel-input ltr" placeholder="+00 (000) 000-00-00"
                        autocomplete="false" [(ngModel)]="model.phoneNumber" #phoneNumber="ngModel" name="phoneNumber">
                    <!-- <input type="text" class="form-control tel-input ltr" placeholder="+00 (000) 000-00-00"
                        autocomplete="false" [(ngModel)]="model.phoneNumber" #phoneNumber="ngModel" name="phoneNumber"
                        [ngClass]="{'parsley-error': phoneNumber.invalid && phoneNumber.touched,'parsley-success': phoneNumber.valid }"
                         pattern="^\+[1-9]{1}[0-9]{3,14}$"> -->
                    <!-- <ul class="parsley-errors-list filled">
                        <li class="parsley-required" *ngIf="phoneNumber.errors?.required && phoneNumber.touched">
                            {{'Users.PhoneNumber'|translate}} {{'Common.IsRequired'|translate}}</li>
                        <li class="parsley-required" *ngIf="phoneNumber.errors?.pattern && phoneNumber.touched">
                            {{'Users.PhoneNumber'|translate}} {{'Common.IsInvalid'|translate}}</li>
                    </ul> -->
                </div>
                <div class="col-md-6 form-group">
                    <label>{{'Users.Note'|translate}}</label>
                    <input type="text" class="form-control" placeholder="{{'Users.Note'|translate}}" (keypress)="global.OnPressFnction($event,5)"
                        [(ngModel)]="model.note" name="note" #note="ngModel">
                </div>
             
            </div>
            <div class="form-action">
                <button type="submit" class="btn btn-success" (click)="saveUser()"
                    [disabled]="userForm.invalid || checkName || checkMail"> <i class="la la-save"></i>
                    {{'Common.Save'|translate}}</button>
                <button type="button" class="btn btn-warning" (click)="closeModal.emit('close')"><i class="la la-close"></i>
                    {{'Common.Close'|translate}}</button>
            </div>
        </form>
    </div>