<div class="kt-portlet mb-0">
  <div class="kt-portlet__head">
      <div class="kt-portlet__head-label">
          <h4 class="portlet__head-title">
              {{'Case.List'|translate}}
          </h4>
      </div>
      <div class="kt-portlet__head-toolbar">
          <div class="kt-portlet__head-actions">
              <a [routerLink]="['/case/operation']"
                  class="btn btn-default btn-pill btn-sm btn-icon btn-icon-md custom-sm"
                  tooltip="{{'Case.Add'|translate}}" placement="auto">
                  <i class="flaticon2-add-1"></i>
              </a>
          </div>
      </div>
  </div>
  <div class="kt-portlet__body p-2 pb-0" id="case">
      <div class="row col-md-12">
          <div class="form-group col-md-3" *ngIf="fixed.activeLang.code == 'ar'">
                  <label>{{'Case.NameAr'|translate}}</label>
                  <input type="text" class="form-control" name="NameAr" [(ngModel)]="searchModel.NameAr">
          </div>
          <div class="form-group col-md-3" *ngIf="fixed.activeLang.code == 'en'">
                  <label>{{'Case.NameEn'|translate}}</label>
                  <input type="text" class="form-control" name="NameEn" [(ngModel)]="searchModel.NameEn">
          </div> 
          <div class="form-group col-md-3">
            <label>{{'Case.Date'|translate}}</label>
            <input type="text" class="form-control" placeholder="{{'Case.Date'|translate}}" bsDatepicker
                    [bsConfig]="fixed.datePickerConfig" [(ngModel)]="searchModel.Date" autocomplete="off">
          </div>
          <div class="form-group col-md-3">
              <label>{{'Case.CaseStage'|translate}}</label>
              <app-case-stage (selectedValueChanges)="searchModel.CaseStageId = $event"></app-case-stage>
          </div>
          <div class="form-group col-md-3">
              <label>{{'Case.DomesticIndustry'|translate}}</label>
              <app-domesticindustry (selectedValueChanges)="searchModel.DomesticIndustryId = $event"></app-domesticindustry>
          </div>
          <div class="form-group col-md-3">
            <label>{{'Case.ActionTaken'|translate}}</label>
            <app-actiontaken (selectedValueChanges)="searchModel.ActionTakenId = $event"></app-actiontaken>
          </div>
          <div class="form-group col-md-3">
            <label>{{'Case.Government'|translate}}</label>
            <app-government (selectedValueChanges)="searchModel.GovernmentId = $event"></app-government>
          </div>
          <div class="form-group col-md-3">
            <label>{{'Case.CaseType'|translate}}</label>
            <ng-select [items]="CaseTypes" bindValue="caseTypeId"
                placeholder="{{'Common.Select'|translate}}"
                name="CaseTypes" [(ngModel)]="searchModel.caseTypeId" #caseTypes="ngModel"
                notFoundText="{{'Common.notFoundText'|translate}}">
            <ng-template ng-label-tmp let-item="item">
              <div>{{(fixed.activeLang.code == 'ar')? item.nameAr : item.nameEn}}</div>
            </ng-template>
            <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
              <div>{{(fixed.activeLang.code == 'ar')? item.nameAr : item.nameEn}}</div>
            </ng-template>
          </ng-select>

          </div>
          <div class="form-group col-md-4">
              <br>
              <label class="fancy-radio">
                  <input type="radio" name="CaseStatus" [value]="true" [(ngModel)]="searchModel.CaseStatus">
                  <span><i></i>{{'Case.CaseOpen'|translate}}</span>
              </label>
              <label class="fancy-radio">
                  <input type="radio" name="CaseStatus" [value]="false" [(ngModel)]="searchModel.CaseStatus">
                  <span><i></i>{{'Case.CaseClosed'|translate}}</span>
              </label>
          </div>
          <br>
          <div class="text-center mt-2">
              <button type="button" class="btn btn-success round mr-1" (click)="searchModel.page=1;getAll()">
                  <i class="ft-search"></i> {{'Common.Search' | translate}}
              </button>
              <button type="button" class="btn btn-secondary round" (click)="resetSearch()">
                  <i class="ft-file"></i> {{'Common.NewSearch' | translate}}
              </button>
          </div>
      </div>
      <div class="table-responsive mt-2">
          <table class="table table-striped table-sm mb-0">
              <thead class="thead-light">
                  <tr>
                      <th scope="col">{{'Case.NameAr'|translate}}</th>
                      <th scope="col">{{'Case.NameEn'|translate}}</th>
                      <th scope="col">{{'Case.Date'|translate}}</th>
                      <th scope="col">{{'Case.CaseStatus'|translate}}</th>
                      <th scope="col">{{'Case.CaseStage'|translate}}</th>
                      <th scope="col">{{'Case.CaseType'|translate}}</th>
                      <th scope="col">{{'Case.DomesticIndustry'|translate}}</th>
                      <th scope="col">{{'Case.ActionTaken'|translate}}</th>
                      <th scope="col">{{'Case.Government'|translate}}</th>
                      <th scope="col">{{'Common.Tools'|translate}}</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let item of data;let i = index">
                      <td>{{item.NameAr}}</td>
                      <td>{{item.NameEn}}</td>
                      <td *ngIf="fixed.activeLang.code == 'en'">{{item.Date | date:'dd MMM y':null:'en-US'}}</td>
                      <td *ngIf="fixed.activeLang.code == 'ar'">{{item.Date | date:'dd MMM y':null:'ar-SA'}}</td>
                      <td>{{item.CaseStatus}}</td>
                      <td>{{item.CaseStage}}</td>
                      <td>{{item.CaseType}}</td>
                      <td>{{item.DomesticIndustry}}</td>
                      <td>{{item.ActionTaken}}</td>
                      <td>{{item.Government}}</td>
                      <td>
                          <span *ngIf="item.isClosed"><i class="la la-check-circle"></i></span>
                      </td>
                      <td>
                          <a class="grid-tool"
                              [routerLink]="[ '/case/operation/'+ item.CaseId]"
                              tooltip="{{'Common.Edit'|translate}}">
                              <i class="flaticon-edit-1"></i></a>
                      </td>
                  </tr>
              </tbody>
          </table>
      </div>
      <app-pagination [total]="total" [scroll]="'return-voucher-page'" (changePagination)="changePagination($event)">
      </app-pagination>
  </div>
</div>