<div class="input-group">
  <ng-select [items]="transactionTypes" bindValue="transactionTypeId" [(ngModel)]="selectedValue"
    (change)="selectedValueChanges.emit(selectedValue)" (clear)="selectedValueChanges.emit(null)" [clearable]="true"
    placeholder="{{'Common.Select'|translate}}" notFoundText="{{'Common.notFoundText'|translate}}">
    <ng-template ng-label-tmp let-item="item">
      <div>{{(fixed.activeLang.code == 'ar')? item.nameAr : item.nameEn}}</div>
    </ng-template>
    <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
      <div>{{(fixed.activeLang.code == 'ar')? item.nameAr : item.nameEn}}</div>
    </ng-template>
  </ng-select>
  <div class="input-group-append" (click)="openModal(transactionTypeModal)">
    <span class="input-group-text btn btn-primary"><i class="fa fa-search-plus white"></i></span>
  </div>
</div>
<ng-template #transactionTypeModal>
  <div class="modal-header pb-1 pt-2">
    <a class="btn btn-default btn-pill btn-sm btn-icon btn-icon-md custom-sm m-010" (click)="operation()"
      tooltip="{{'Common.Add'|translate}}" placement="auto">
      <i class="flaticon2-add-1"></i></a>
    <h4 class="modal-title pull-left">{{'TransactionType.Title'|translate}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="input-group justify-content-center" *ngIf="!transactionOperation">
      <div class="kt-input-icon kt-input-icon--right">
        <input type="text" class="form-control" name="search" [(ngModel)]="search"
          placeholder="{{'Common.Search'|translate}}">
        <span class="kt-input-icon__icon kt-input-icon__icon--right"><span><i class="flaticon-search"></i></span></span>
      </div>
    </div>
    <div *ngIf="transactionOperation">
      <form #transactionForm="ngForm">
        <div class="row">
          <div class="form-group col-md-12">
            <label>{{'TransactionType.NameEn'|translate}}</label>
            <input type="text" class="form-control" name="nameEn" [(ngModel)]="model.nameEn" #nameEn="ngModel" required
              [ngClass]="{'parsley-error': nameEn.invalid && nameEn.touched, 'parsley-success': nameEn.valid }">
            <ul class="parsley-errors-list filled">
              <li class="parsley-required" *ngIf="nameEn.errors?.required && nameEn.touched">
                {{'AccountTree.Name'|translate}} {{'Common.IsRequired'|translate}}</li>
            </ul>
          </div>
          <div class="form-group col-md-12">
            <label>{{'TransactionType.NameAr'|translate}}</label>
            <input type="text" class="form-control" name="nameAr" [(ngModel)]="model.nameAr" #nameAr="ngModel" required
              [ngClass]="{'parsley-error': nameAr.invalid && nameAr.touched, 'parsley-success': nameAr.valid }">
            <ul class="parsley-errors-list filled">
              <li class="parsley-required" *ngIf="nameAr.errors?.required && nameAr.touched">
                {{'AccountTree.Name'|translate}} {{'Common.IsRequired'|translate}}</li>
            </ul>
          </div>
        </div>
        <div class="form-action mt-2">
          <button type="submit" class="btn btn-success" [disabled]="transactionForm.invalid"
            (click)="saveTransactionType()">
            <i class="la la-save"></i> {{'Common.Save' | translate}}
          </button>
          <button (click)="transactionOperation = false" class="btn btn-warning"><i class="la la-close"></i>
            {{'Common.Close' | translate}}</button>
          <button class="btn btn-danger" [swal]="DeleteMessage" (confirm)="delete(model.transactionTypeId)"
            title="{{'Common.Delete'| translate}}" *ngIf="model.transactionTypeId > 0">
            <i class="la la-trash-o"></i> {{'Common.Delete' | translate}}</button>
        </div>
      </form>
    </div>
    <div class="table-responsive mt-3">
      <table class="table table-striped table-sm">
        <thead class="thead-light">
          <tr>
            <th scope="col">#</th>
            <th scope="col">{{'TransactionType.NameEn'|translate}}</th>
            <th scope="col">{{'TransactionType.NameAr'|translate}}</th>
            <th scope="col">{{'Common.Tools'|translate}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of transactionTypes | filter: {nameEn: search,nameAr: search};let i=index">
            <td scope="row">{{i+1}}</td>
            <td>{{item.nameEn}}</td>
            <td>{{item.nameAr}}</td>
            <td>
              <a class="grid-tool" tooltip="{{'Common.Select'| translate}}"
                (click)="selectedValue=item.transactionTypeId ;selectedValueChanges.emit(item.transactionTypeId);modalRef.hide()">
                <i class="la la-magnet"></i></a>
              <a class="grid-tool" (click)="operation(item)" tooltip="{{'Common.Edit'| translate}}"
                *ngIf="item.companyId > 0">
                <i class="flaticon-edit-1"></i></a>
              <a class="grid-tool" [swal]="DeleteMessage" (confirm)="delete(item.transactionTypeId)"
                *ngIf="item.companyId > 0" tooltip="{{'Common.Delete'|translate}}"><i class="flaticon-delete"></i></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</ng-template>
<swal #DeleteMessage title="{{'Common.DeleteConfirmMessage'|translate}}" type="error"
  confirmButtonText="{{'Common.Confirm'|translate}}" cancelButtonText="{{'Common.Cancel'|translate}}"
  [confirmButtonColor]="'#d33'" [focusCancel]="true" [focusConfirm]="false" [showCloseButton]="false"
  [showCancelButton]="true" [showConfirmButton]="true">
</swal>