<div class="kt-portlet">
  <div class="kt-portlet__head" [ngClass]="{'alert alert-danger mb-0': model?.isVoided}">
    <div class="kt-portlet__head-label">
      <h4 class="kt-portlet__head-title" *ngIf="model?.invoiceId == null">
        <span *ngIf="pageType === 'invoice'">{{'Invoice.Add'|translate}}</span>
        <span *ngIf="pageType === 'order'">{{'Order.Add'|translate}}</span>
      </h4>
      <h4 class="kt-portlet__head-title" *ngIf="model?.invoiceId > 0" [ngClass]="{'white': model?.isVoided}">
        <span *ngIf="pageType === 'invoice'">{{'Invoice.Edit'|translate}}</span>
        <span *ngIf="pageType === 'order'">{{'Order.Edit'|translate}}</span>
      </h4>
    </div>
    <div class="kt-portlet__head-toolbar">
      <div class="kt-portlet__head-actions" *ngIf="model?.isVoided">
        <i class="flaticon2-trash"></i>
        <span *ngIf="pageType === 'invoice'">{{'Invoice.Cancel'| translate}}</span>
        <span *ngIf="pageType === 'order'">{{'Order.Cancel'| translate}}</span>
      </div>
    </div>
  </div>
  <div class="kt-portlet__body">
    <form #stockOpeningForm="ngForm">
      <div class="row">
        <div class="form-group col-md-3">
          <label>{{'Common.Date'|translate}}</label>
          <input type="text" class="form-control" name="date" [(ngModel)]="model.date" #date="ngModel" bsDatepicker
            [bsConfig]="fixed.datePickerConfig" autocomplete="off" (bsValueChange)="getTransactionNo($event)"
            [maxDate]="fixed.today" [ngClass]="{'parsley-error': (model.date == null || model.date == 'Invalid Date' 
            || checkDate == false) && date.touched}" required>
          <ul class="parsley-errors-list filled">
            <li class="parsley-required" *ngIf="model.date == null && date.touched">
              {{'Common.Date'|translate}} {{'Common.IsRequired'|translate}}</li>
            <li class="parsley-required" *ngIf="model.date == 'Invalid Date' && date.touched">
              {{'Common.Date'|translate}} {{'Common.Error'|translate}}</li>
            <li class="parsley-required" *ngIf="checkDate == false && date.touched">
              {{'Common.Date'|translate}} {{'Common.DateNotVaild'|translate}}</li>
          </ul>
        </div>
        <div class="form-group col-md-3">
          <label *ngIf="pageType === 'invoice'">{{'Invoice.TransactionNo'|translate}}</label>
          <label *ngIf="pageType === 'order'">{{'Order.TransactionNo'|translate}}</label>
          <input type="text" class="form-control" name="transactionNo" [(ngModel)]="model.transactionNo"
            #transactionNo="ngModel" disabled>
        </div>
        <div class="form-group col-md-3">
          <label>{{'Invoice.Stock'|translate}}</label>
          <app-stock-shared [selectedValue]="model.stockId" (selectedValueChanges)="model.stockId = $event">
          </app-stock-shared>
          <ul class="parsley-errors-list filled">
            <li class="parsley-required" *ngIf="model.salesRepId == null">
              {{'Invoice.Stock'|translate}} {{'Common.IsRequired'|translate}}</li>
          </ul>
        </div>
        <div class="form-group col-md-3">
          <label>{{'Invoice.Employee'|translate}}</label>
          <app-employee-shared [selectedValue]="model.salesRep" [isSalesRep]="true"
            (selectedValueChanges)="model.salesRep = $event; model.salesRepId = ($event == null)? null : $event.employeeId">
          </app-employee-shared>
          <ul class="parsley-errors-list filled">
            <li class="parsley-required" *ngIf="model.salesRepId == null">
              {{'Invoice.Employee'|translate}} {{'Common.IsRequired'|translate}}</li>
          </ul>
        </div>
        <div class="form-group col-md-3">
          <label>{{'Invoice.Client'|translate}}</label>
          <app-client-shared [selectedValue]="model.client"
            (selectedValueChanges)="model.client = $event; model.clientId = ($event == null)? null : $event.clientId">
          </app-client-shared>
          <ul class="parsley-errors-list filled">
            <li class="parsley-required" *ngIf="model.salesRepId == null">
              {{'Invoice.Client'|translate}} {{'Common.IsRequired'|translate}}</li>
          </ul>
        </div>
        <div class="form-group col-md-3">
          <label>{{'Invoice.ManualInvoiceNumber'|translate}}</label>
          <input type="text" class="form-control" name="manualInvoiceNumber" [(ngModel)]="model.manualInvoiceNumber"
            #manualInvoiceNumber="ngModel">
        </div>
        <div class="form-group col-md-4">
          <label>{{'StockReceiveVoucher.Description'|translate}}</label>
          <input type="text" class="form-control" name="description" [(ngModel)]="model.description"
            #description="ngModel">
        </div>
        <div class="form-group col-md-2 mt-2">
          <br>
          <label class="fancy-radio">
            <input type="radio" name="PaymentMethodType" [value]="true" [(ngModel)]="model.isCash">
            <span><i></i>{{'Invoice.Cash'|translate}}</span>
          </label>
          <label class="fancy-radio">
            <input type="radio" name="PaymentMethodType" [value]="false" [(ngModel)]="model.isCash">
            <span><i></i>{{'Invoice.Credit'|translate}}</span>
          </label>
        </div>
      </div>
      <div class="kt-section mb-0 mt-2">
        <h3 class="kt-section__title mb-0">
          <a class="btn btn-default btn-pill btn-sm btn-icon btn-icon-md custom-sm" (click)="itemOperation()"
            tooltip="{{'Common.Add'|translate}}" placement="auto" *ngIf="!model?.isVoided">
            <i class="flaticon2-add-1"></i></a>
          <span class="m-010" *ngIf="pageType === 'invoice'">{{'Invoice.Details'|translate}}</span>
          <span class="m-010" *ngIf="pageType === 'order'">{{'Order.Details'|translate}}</span>
        </h3>
      </div>
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead class="thead-light">
            <tr>
              <th scope="col" *ngIf="false">#</th>
              <th scope="col" class="width-10">{{'Invoice.Barcode'|translate}}</th>
              <th scope="col" class="width-25">{{'Invoice.Product'|translate}}</th>
              <th scope="col" class="width-10">{{'Invoice.Unit'|translate}}</th>
              <th scope="col">{{'Invoice.BatchNumber'|translate}} -- {{'Invoice.ExpiryDate'|translate}}</th>
              <th scope="col" class="width-10">{{'Invoice.QtyInUom'|translate}}</th>
              <th scope="col" class="width-10">{{'Invoice.UomPrice'|translate}}</th>
              <th scope="col" class="width-10">{{'Invoice.Total'|translate}}</th>
              <th scope="col" *ngIf="!model?.isVoided">{{'Common.Tools'|translate}}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of model.stO_InvoiceItem | orderBy: 'itemId'; let i=index" [hidden]="item.isDeleted">
              <th scope="row" *ngIf="false">
                <input type="text" class="form-control" name="itemId{{i}}" [(ngModel)]="item.itemId"
                  *ngIf="item.operation == 'e'">
                <span *ngIf="item.operation == 's'">{{item.itemId}}</span>
              </th>
              <td class="width-10">
                <input type="number" class="form-control" name="uomBarCode{{i}}" [(ngModel)]="item.uomBarCode"
                  *ngIf="item.operation == 'e'" disabled>
                <span *ngIf="item.operation == 's'">{{item.uomBarCode}}</span>
              </td>
              <td class="width-25">
                <app-product-shared [(stockId)]="model.stockId" [hidden]="item.operation == 's'"
                  [(selectedValue)]="item.product" (selectedValueChanges)="selectProduct($event,item)">
                </app-product-shared>
                <span [hidden]="item.operation == 'e'">
                  {{item.product?.code}} -
                  {{(fixed.activeLang.code == 'ar')? item.product?.nameAr : item.product?.nameEn}}</span>
              </td>
              <td class="width-10">
                <ng-select notFoundText="{{'Common.notFoundText'|translate}}" [items]="item.units" name="units{{i}}"
                  bindLabel="name" bindValue="unitId" [(ngModel)]="item.unitId" [clearable]="false"
                  (change)="unitChange(item)" placeholder="{{'Common.Select'|translate}}" *ngIf="item.operation == 'e'">
                </ng-select>
                <span *ngIf="item.operation == 's'">{{(item.units | filterById: 'unitId': item.unitId)[0]?.name}}</span>
              </td>
              <td>
                <ng-select *ngIf="item.operation == 'e'" [items]="item.batchExpireList" name="batchExpireList{{i}}"
                  [(ngModel)]="item.batchExpire" (change)="batchExpireChange(item)" [clearable]="false"
                  placeholder="{{'Common.Select'|translate}}">
                  <ng-template ng-label-tmp let-item="item">
                    <span *ngIf="fixed.activeLang.code == 'en'">
                      {{item.batchNumber}} -- {{item.expiryDate | date:'dd MMM y':null:'en-US'}}
                    </span>
                    <span *ngIf="fixed.activeLang.code == 'ar'">
                      {{item.batchNumber}} -- {{item.expiryDate | date:'dd MMM y':null:'ar-SA'}}
                    </span>
                  </ng-template>
                  <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                    <span *ngIf="fixed.activeLang.code == 'en'">
                      {{item.batchNumber}} -- {{item.expiryDate | date:'dd MMM y':null:'en-US'}}
                    </span>
                    <span *ngIf="fixed.activeLang.code == 'ar'">
                      {{item.batchNumber}} -- {{item.expiryDate | date:'dd MMM y':null:'ar-SA'}}
                    </span>
                  </ng-template>
                </ng-select>
                <span *ngIf="item.operation == 's' && fixed.activeLang.code == 'en'">
                  {{item.batchNumber}} -- {{item.expiryDate | date:'dd MMM y':null:'en-US'}}
                </span>
                <span *ngIf="item.operation == 's' && fixed.activeLang.code == 'ar'">
                  {{item.batchNumber}} -- {{item.expiryDate | date:'dd MMM y':null:'ar-SA'}}
                </span>
              </td>
              <td class="width-10">
                <input type="number" class="form-control" name="qtyInUom{{i}}" [(ngModel)]="item.qtyInUom" min="1"
                  *ngIf="item.operation == 'e'" (input)="item.totalPrice = item.uomPrice * item.qtyInUom"
                  [max]="item.maxQty">
                <span *ngIf="item.operation == 's'">{{item.qtyInUom}}</span>
              </td>
              <td class="width-10">
                <input type="number" class="form-control" name="uomPrice{{i}}" [(ngModel)]="item.uomPrice"
                  *ngIf="item.operation == 'e'" (input)="item.totalPrice = item.uomPrice * item.qtyInUom" disabled>
                <span *ngIf="item.operation == 's'">{{item.uomPrice | number : '1.2-2'}}</span>
              </td>
              <td class="width-10">
                <input type="number" class="form-control" name="totalPrice{{i}}" [(ngModel)]="item.totalPrice"
                  *ngIf="item.operation == 'e'" disabled>
                <span *ngIf="item.operation == 's'">{{item.totalPrice | number : '1.2-2'}}</span>
              </td>
              <td *ngIf="!model?.isVoided">
                <a class="grid-tool" (click)="itemOperation(item)" tooltip="{{'Common.Edit'| translate}}"
                  *ngIf="item.operation == 's'">
                  <i class="flaticon-edit-1"></i></a>
                <a class="grid-tool" (click)="itemFinish('save', item, i)" tooltip="{{'Common.Save'| translate}}"
                  *ngIf="item.operation == 'e'">
                  <i class="la la-save"></i></a>
                <a class="grid-tool" [swal]="DeleteMessage" (confirm)="itemDelete(item,i)"
                  tooltip="{{'Common.Delete'|translate}}" *ngIf="item.operation == 's'"><i
                    class="flaticon-delete"></i></a>
                <a class="grid-tool" (click)="itemFinish('close', item, i)" tooltip="{{'Common.Close'|translate}}"
                  *ngIf="item.operation == 'e'"><i class="la la-close"></i></a>
              </td>
            </tr>
            <tr><a class="btn btn-success white mt-2" (click)="itemOperation()"
                *ngIf="!model?.isVoided">{{'Common.Add'| translate}}</a></tr>
          </tbody>
        </table>
      </div>
      <div class="form-action">
        <button type="submit" class="btn btn-primary" [disabled]="stockOpeningForm.invalid || lockGridEdit || model.salesRepId == null ||
           model.clientId == null || model.stockId == null ||  emptyList || !checkDate" (click)="nextPage()"
          *ngIf="!model?.isVoided">
          {{'Common.Next' | translate}} <i class="la la-ellipsis-h"></i>
        </button>
        <a [routerLink]="[ listPage ]" class="btn btn-warning"><i class="la la-close"></i>
          {{'Common.Close' | translate}} </a>
      </div>
    </form>
  </div>
</div>

<swal #DeleteMessage title="{{'Common.DeleteConfirmMessage'|translate}}" type="error"
  confirmButtonText="{{'Common.Confirm'|translate}}" cancelButtonText="{{'Common.Cancel'|translate}}"
  [confirmButtonColor]="'#d33'" [focusCancel]="true" [focusConfirm]="false" [showCloseButton]="false"
  [showCancelButton]="true" [showConfirmButton]="true">
</swal>
<swal #operationError title="{{'Message.Warning'|translate}}"
  html="<span class='red-custom text-bold'>{{'Message.OperationError'|translate}}</span>" type="error"
  [showCloseButton]="false" [showCancelButton]="false" [showConfirmButton]="false">
</swal>