<div class="kt-portlet">
  <div class="kt-portlet__head">
    <div class="kt-portlet__head-label">
      <h4 class="kt-portlet__head-title" *ngIf="model.incentiveId == null">
        {{'Incentive.Add'|translate}}
      </h4>
      <h4 class="kt-portlet__head-title" *ngIf="model.incentiveId > 0">
        {{'Incentive.Edit'|translate}}
      </h4>
    </div>
    <div class="kt-portlet__head-toolbar">
      <div class="kt-portlet__head-actions">

      </div>
    </div>
  </div>
  <div class="kt-portlet__body">
    <form #incentiveForm="ngForm">
      <div class="row">
        <div class="form-group col-md-4">
          <label>{{'Incentive.IncentiveName'|translate}}</label>
          <input type="text" class="form-control" name="incentiveName" [(ngModel)]="model.incentiveName"
            [ngClass]="{'parsley-error': incentiveName.invalid && incentiveName.touched, 'parsley-success': incentiveName.valid }"
            #incentiveName="ngModel" required>
          <ul class="parsly-error-list filled">
            <li class="parsley-required" *ngIf="incentiveName.errors?.required && incentiveName.touched">
              {{'Incentive.IncentiveName'|translate}} {{'Common.IsRequired'|translate}}</li>
          </ul>
        </div>
        <div class="form-group col-md-4">
          <label>{{'Incentive.StartDate'|translate}}</label>
          <input type="text" class="form-control" name="startDate" [(ngModel)]="model.startDate"
            #startDate="ngModel" bsDatepicker [bsConfig]="fixed.datePickerConfig" autocomplete="off"
            [ngClass]="{'parsley-error': (model.startDate == null || model.startDate == 'Invalid Date') && startDate.touched}">
          <ul class="parsley-errors-list filled">
            <li class="parsley-required" *ngIf="model.startDate == null && startDate.touched">
              {{'Incentive.StartDate'|translate}} {{'Common.IsRequired'|translate}}</li>
            <li class="parsley-required" *ngIf="model.startDate == 'Invalid Date' && startDate.touched">
              {{'Incentive.StartDate'|translate}} {{'Common.Error'|translate}}</li>
          </ul>
        </div>
        <div class="form-group col-md-4">
          <label>{{'Incentive.EndDate'|translate}}</label>
          <input type="text" class="form-control" name="endDate" [(ngModel)]="model.endDate" #endDate="ngModel"
            bsDatepicker [bsConfig]="fixed.datePickerConfig" autocomplete="off">
        </div>
        <div class="form-group col-md-4">
          <label>{{'Incentive.Type'|translate}}</label>
          <select class="form-control" name="type" #type="ngModel" [(ngModel)]="model.type">
            <option [value]="'category'">{{'Incentive.Category'|translate}}</option>
            <option [value]="'product'">{{'Incentive.Product'|translate}}</option>
          </select>
        </div>
        <div class="form-group col-md-4" *ngIf="model.type=='category'">
          <label>{{'Incentive.Category'|translate}}</label>
          <app-category-arbor [treeView]="false" [selectedValue]="model.categoryId" [bindLabel]="'code-name'"
            (selectedValueChanges)="model.categoryId = $event.categoryId"></app-category-arbor>
        </div>
        <div class="form-group col-md-4" *ngIf="model.type=='product'">
          <label>{{'Incentive.Product'|translate}}</label>
          <app-product-shared [(selectedValue)]="model.product"
            (selectedValueChanges)="selectProduct($event)">
          </app-product-shared>
        </div>
        <div class="form-group col-md-2 mt-2">
          <br>
          <label class="fancy-checkbox">
            <input type="checkbox" name="isPercentage" [(ngModel)]="model.isPercentage">
            <span>{{'Incentive.IsPercentage'|translate}}</span>
          </label>
        </div>
        <div class="form-group col-md-2 mt-2">
          <br>
          <label class="fancy-checkbox">
            <input type="checkbox" name="onQty" [(ngModel)]="model.onQty">
            <span>{{'Incentive.OnQty'|translate}}</span>
          </label>
        </div>
      </div>
      <div class="kt-section mb-0 mt-2">
        <h3 class="kt-section__title mb-0">
          <a class="btn btn-default btn-pill btn-sm btn-icon btn-icon-md custom-sm" (click)="itemOperation()"
            tooltip="{{'Common.Add'|translate}}" placement="auto">
            <i class="flaticon2-add-1"></i></a>
          <span class="m-010">{{'Incentive.IncentiveItem'|translate}}</span>
        </h3>
      </div>
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead class="thead-light">
            <tr>
              <th scope="col">#</th>
              <th scope="col">{{'Incentive.UOM'|translate}}</th>
              <th scope="col" *ngIf="model.onQty ==1">{{'Incentive.Quantity'|translate}}</th>
              <th scope="col" *ngIf="model.onQty ==0">{{'Incentive.Amount'|translate}}</th>
              <th scope="col">{{'Incentive.Value'|translate}}</th>
              <th scope="col">{{'Common.Tools'|translate}}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of model.stO_IncentiveItem; let i=index" [hidden]="item.isDeleted">
              <th scope="row">{{(i+1)}}</th>
              <td>
                <app-uom [(selectedValue)]="item.uomId" [hidden]="item.operation == 's'"
                  (selectedValueChanges)="item.uomId = $event"></app-uom>
                 <span [hidden]="item.operation == 'e'" *ngIf="fixed.activeLang.code == 'ar'" >
                  {{(fixed.store.UOM | filterById: 'uomId': item.uomId)[0]?.nameAr}}</span>
                  <span [hidden]="item.operation == 'e'" *ngIf="fixed.activeLang.code == 'en'">
                      {{(fixed.store.UOM | filterById: 'uomId': item.uomId)[0]?.nameEn}}</span> 
              </td>
              <td  *ngIf="model.onQty ==1">
                  <input type="number" class="form-control" name="qty{{i}}" min="0" step="1" [(ngModel)]="item.qty"
                  #qty="ngModel"  *ngIf="item.operation == 'e'">
                  <span *ngIf="item.operation == 's'">{{item.qty}}</span>
              </td>
              <td *ngIf="model.onQty ==0">
                  <input type="number" class="form-control" name="qty{{i}}" min="0" step="0.1" [(ngModel)]="item.qty"
                  #qty="ngModel"  *ngIf="item.operation == 'e'">
                 <span *ngIf="item.operation == 's'">{{item.qty}}</span>
              </td>
              <td>
                  <input type="number" *ngIf="item.operation == 'e'" class="form-control" name="value{{i}}" [(ngModel)]="item.value" #value="ngModel">
                  <span *ngIf="item.operation == 's'">{{item.value}}</span>
              </td>
              <td>
                <a class="grid-tool" (click)="itemOperation(item)" tooltip="{{'Common.Edit'| translate}}"
                  *ngIf="item.operation == 's'">
                  <i class="flaticon-edit-1"></i></a>
                <a class="grid-tool" (click)="itemFinish('save', item)" tooltip="{{'Common.Save'| translate}}"
                  *ngIf="item.operation == 'e'">
                  <i class="la la-save"></i></a>
                <a class="grid-tool" [swal]="DeleteMessage" (confirm)="deleteItem(item,i)"
                  tooltip="{{'Common.Delete'|translate}}" *ngIf="item.operation == 's'"><i
                    class="flaticon-delete"></i></a>
                <a class="grid-tool" (click)="itemFinish('close', item, i)" tooltip="{{'Common.Close'|translate}}"
                  *ngIf="item.operation == 'e'"><i class="la la-close"></i></a>
              </td>
            </tr>
            <tr><a class="btn btn-success white mt-2" (click)="itemOperation()">{{'Common.Add'| translate}}</a>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="form-action">
        <button type="submit" class="btn btn-success" [disabled]="incentiveForm.invalid || lockGridEdit"
          (click)="saveIncentive()">
          <i class="la la-save"></i> {{'Common.Save' | translate}}
        </button>
        <button [routerLink]="[ '/store/incentive/list' ]" class="btn btn-warning"><i class="la la-close"></i>
          {{'Common.Close' | translate}}</button>
        <button class="btn btn-danger" [swal]="DeleteMessage" (confirm)="delete(model.incentiveId)"
          title="{{'Common.Delete'| translate}}" *ngIf="model.incentiveId > 0">
          <i class="la la-trash-o"></i> {{'Common.Delete' | translate}}</button>
      </div>
    </form>
  </div>
</div>
<swal #DeleteMessage title="{{'Common.DeleteConfirmMessage'|translate}}" type="error"
  confirmButtonText="{{'Common.Confirm'|translate}}" cancelButtonText="{{'Common.Cancel'|translate}}"
  [confirmButtonColor]="'#d33'" [focusCancel]="true" [focusConfirm]="false" [showCloseButton]="false"
  [showCancelButton]="true" [showConfirmButton]="true">
</swal>