[dir="rtl"] .ui-treenode-children {
    padding: 0 1em 0 0 !important;
}

[dir="rtl"] .ui-treenode-icon {
    margin: 0.2em 0 0 0.375em !important;
}

[dir="rtl"] .pi-caret-right:before {
    content: "\e904";
}

[dir="rtl"] .pi-chevron-right:before {
    content: "\e900";
}

.tree-table-image {
    width: 30px;
}

[dir="rtl"] .ui-treetable-thead {
    font-family: Arabic-Bold;
}

[dir="rtl"] .ui-treetable-tbody {
    font-family: Arabic-Regular;
}

.node-child-0 {
    color: white;
    padding: 0 5px 0 0;
}

[dir="rtl"].node-child-0 {
    padding: 0 0 0 5px;
}

.ui-tree {
    width: 100% !important;
}

body .ui-widget-content {
    border: 1px solid #ced4da !important;
}

.la-close:hover {
    transform: scale(1.5);
    background-color: lightgray;
}

body .ui-widget, body .ui-widget .ui-widget, body .ui-widget input, body .ui-widget select, body .ui-widget textarea, body .ui-widget button {
    font-family: inherit;
}

.ui-tree .ui-tree-filter-container .ui-tree-filter-icon {
    top: 1.1em;
}

.tree-title, .tree-tools {
    padding: 10px 10px 0px 10px;
}

.tree-tools a {
    margin: 0 5px;
}