<div class="kt-portlet mb-0">
  <div class="kt-portlet__head">
    <div class="kt-portlet__head-label">
      <h4 class="kt-portlet__head-title">
        {{'Transaction.TransactionList'|translate}}
      </h4>
    </div>
    <div class="kt-portlet__head-toolbar">
      <div class="kt-portlet__head-actions">
        <a [routerLink]="['/accounting/general-ledger/transaction-operation']"
          class="btn btn-default btn-pill btn-sm btn-icon btn-icon-md custom-sm"
          tooltip="{{'Transaction.Add'|translate}}" placement="auto">
          <i class="flaticon2-add-1"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="kt-portlet__body p-2 pb-0" id="transaction-page">
    <div class="row col-md-12">
      <div class="form-group col-md-3">
        <label>{{'Transaction.TransactionType'|translate}}</label>
        <app-transaction-type [selectedValue]="searchModel.transactionTypeId"
          (selectedValueChanges)="searchModel.transactionTypeId = ($event == null) ? null : $event">
        </app-transaction-type>
      </div>
      <div class="form-group col-md-3">
        <label>{{'Transaction.Currency'|translate}}</label>
        <app-currency [selectedValue]="searchModel.currencyId"
          (selectedValueChanges)="searchModel.currencyId = ($event == null) ? null : $event">
        </app-currency>
      </div>
      <div class="form-group col-md-6">
        <label>{{'Transaction.Date'|translate}}</label>
        <br>
        <div class="input-group width-48 float-left">
          <div class="input-group-append"><span class="input-group-text">{{'Common.From'|translate}}</span>
          </div>
          <input type="text" class="form-control" placeholder="{{'Common.From'|translate}}" bsDatepicker
            [bsConfig]="fixed.datePickerConfig" [(ngModel)]="searchModel.dateFrom" autocomplete="off">
        </div>
        <div class="input-group width-48">
          <div class="input-group-append"><span class="input-group-text">{{'Common.To'|translate}}</span>
          </div>
          <input type="text" class="form-control" placeholder="{{'Common.To'|translate}}" bsDatepicker
            [bsConfig]="fixed.datePickerConfig" [(ngModel)]="searchModel.dateTo" autocomplete="off">
        </div>
      </div>
      <div class="form-group col-md-6">
        <label>{{'Transaction.TransactionCase'|translate}}</label>
        <br>
        <label class="fancy-radio">
          <input type="radio" name="transactionCase" [value]="0" [(ngModel)]="searchModel.transactionCaseId">
          <span><i></i>{{'Common.All'|translate}}</span>
        </label>
        <label class="fancy-radio" *ngFor="let item of fixed.accounting.TransactionCase">
          <input type="radio" name="transactionCase" [value]="item.transactionCaseId"
            [(ngModel)]="searchModel.transactionCaseId">
          <span><i></i>{{(fixed.activeLang.code == 'ar')? item.nameAr : item.nameEn}}</span>
        </label>
      </div>
    </div>
    <div class="text-center mt-2">
      <button type="button" class="btn btn-success round mr-1" (click)="searchModel.page=1;getAll()">
        <i class="ft-search"></i> {{'Common.Search' | translate}}
      </button>
      <button type="button" class="btn btn-secondary round" (click)="resetSearch()">
        <i class="ft-file"></i> {{'Common.NewSearch' | translate}}
      </button>
    </div>
    <div class="table-responsive mt-2">
      <table class="table table-striped table-sm mb-0">
        <thead class="thead-light">
          <tr>
            <th scope="col">{{'Transaction.TransactionNo'|translate}}</th>
            <th scope="col">{{'Transaction.TransactionType'|translate}}</th>
            <th scope="col">{{'Transaction.TransactionCase'|translate}}</th>
            <th scope="col">{{'Transaction.Currency'|translate}}</th>
            <th scope="col">{{'Transaction.Date'|translate}}</th>
            <th scope="col">{{'Transaction.TotalCredit'|translate}}</th>
            <th scope="col">{{'Transaction.TotalDepit'|translate}}</th>
            <th scope="col">{{'Common.Tools'|translate}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of transactions;let i=index">
            <td>{{item.transactionNo}}</td>
            <td>{{(fixed.activeLang.code == 'en')? item.transactionTypeNameEn :item.transactionTypeNameAr }}</td>
            <td>{{(fixed.activeLang.code == 'en')? item.transactionCaseNameEn :item.transactionCaseNameAr }}</td>
            <td>{{(fixed.activeLang.code == 'en')? item.currencyNameEn :item.currencyNameAr }}</td>
            <td *ngIf="fixed.activeLang.code == 'en'">{{item.date | date:'dd MMM y':null:'en-US'}}</td>
            <td *ngIf="fixed.activeLang.code == 'ar'">{{item.date | date:'dd MMM y':null:'ar-SA'}}</td>
            <td>{{item.totalCredit}}</td>
            <td>{{item.totalDepit}}</td>
            <td>
              <a class="grid-tool" [routerLink]="[ '/accounting/general-ledger/transaction-operation/'+item.transactionId]"
                tooltip="{{'Common.Edit'|translate}}">
                <i class="flaticon-edit-1"></i></a>
              <a class="grid-tool" [swal]="DeleteMessage" (confirm)="deleteTransaction(item.transactionId)"
                tooltip="{{'Common.Delete'|translate}}"><i class="flaticon-delete red"></i></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <app-pagination [total]="total" [scroll]="'transaction-page'" (changePagination)="changePagination($event)">
    </app-pagination>
  </div>
</div>
<swal #DeleteMessage title="{{'Common.DeleteConfirmMessage'|translate}}" type="error"
  confirmButtonText="{{'Common.Confirm'|translate}}" cancelButtonText="{{'Common.Cancel'|translate}}"
  [confirmButtonColor]="'#d33'" [focusCancel]="true" [focusConfirm]="false" [showCloseButton]="false"
  [showCancelButton]="true" [showConfirmButton]="true">
</swal>