<div class="kt-portlet mb-0">
  <div class="kt-portlet__head">
    <div class="kt-portlet__head-label">
      <h4 class="kt-portlet__head-title">
        {{'Center.List'|translate}}
      </h4>
    </div>
    <div class="kt-portlet__head-toolbar">
      <div class="kt-portlet__head-actions">
        <a [routerLink]="['/maintenance/center/operation']"
          class="btn btn-default btn-pill btn-sm btn-icon btn-icon-md custom-sm"
          tooltip="{{'Center.Add'|translate}}" placement="auto">
          <i class="flaticon2-add-1"></i>
        </a>
      </div>
      
    </div>
  </div>
  
  <div class="kt-portlet__body p-2 pb-0" id="stock-list-operation">
    <div class="row col-md-12">
        <div class="form-group col-md-6">
            <label>{{'Center.Code'|translate}}</label>
            <div class="kt-input-icon kt-input-icon--left">
                  <input [(ngModel)]="searchModel.code" type="text" class="form-control"
                    placeholder="{{'Center.Code'|translate}}" (blur)="getAll()">
                  <span class="kt-input-icon__icon kt-input-icon__icon--left">
                    <span><i class="la la-search"></i></span>
                  </span>
            </div>
          </div>
          <div class="form-group col-md-6">
            <label>{{'Center.Name'|translate}}</label>
            <div class="kt-input-icon kt-input-icon--left">
                  <input [(ngModel)]="searchModel.name" type="text" class="form-control"
                    placeholder="{{'Center.Name'|translate}}" (blur)="getAll()">
                  <span class="kt-input-icon__icon kt-input-icon__icon--left">
                    <span><i class="la la-search"></i></span>
                  </span>
             </div>
          </div>
    </div>
    <div class="table-responsive mt-2">
        <table class="table table-striped table-sm mb-0">
          <thead class="thead-light">
            <tr>
              <th scope="col">#</th>
              <th scope="col">{{'Center.Code'|translate}}</th>
              <th scope="col">{{'Center.Name'|translate}}</th>
              <th scope="col">{{'Common.Tools'|translate}}</th>
            </tr>

          </thead>
          <tbody>
            <tr *ngFor="let item of centers;let i=index">
              <td>{{i+1}}</td>
              <td>{{item.code}}</td>
              <td>{{item.name}}</td>
              <td>
                <a class="grid-tool" [routerLink]="[ '/maintenance/center/operation/'+item.centerId]"
                  tooltip="{{'Common.Edit'|translate}}">
                  <i class="flaticon-edit-1"></i></a>
                <a class="grid-tool" [swal]="DeleteMessage" (confirm)="delete(item.centerId)"
                  tooltip="{{'Common.Delete'|translate}}"><i class="flaticon-delete red"></i></a>
              </td>
            </tr>
          </tbody>
        </table>

      </div>
      <app-pagination [total]="total" [scroll]="'stock-list-operation'" (changePagination)="changePagination($event)">
      </app-pagination>
    </div>
  </div>
  <swal #DeleteMessage title="{{'Common.DeleteConfirmMessage'|translate}}" type="error"
    confirmButtonText="{{'Common.Confirm'|translate}}" cancelButtonText="{{'Common.Cancel'|translate}}"
    [confirmButtonColor]="'#d33'" [focusCancel]="true" [focusConfirm]="false" [showCloseButton]="false"
    [showCancelButton]="true" [showConfirmButton]="true">
  </swal>
