<div class="kt-portlet mb-0">
  <div class="kt-portlet__head">
    <div class="kt-portlet__head-label">
      <h4 class="kt-portlet__head-title">
        {{'Receivable.List'|translate}}
      </h4>
    </div>
    <div class="kt-portlet__head-toolbar">
      <div class="kt-portlet__head-actions">
        <a [routerLink]="['/store/receivable/operation']"
          class="btn btn-default btn-pill btn-sm btn-icon btn-icon-md custom-sm"
          tooltip="{{'Receivable.Add'|translate}}" placement="auto">
          <i class="flaticon2-add-1"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="kt-portlet__body p-2 pb-0" id="transaction-page">
    <div class="row col-md-12">
      <div class="form-group col-md-3">
        <label>{{'Receivable.ReceivableNo'|translate}}</label>
        <input type="text" class="form-control" name="transactionNo" [(ngModel)]="searchModel.transactionNo">
      </div>
      <div class="form-group col-md-3">
        <label>{{'Receivable.Stock'|translate}}</label>
        <app-stock-shared (selectedValueChanges)="searchModel.stockId = $event">
        </app-stock-shared>
      </div>
      <div class="form-group col-md-6">
        <label>{{'Receivable.Date'|translate}}</label>
        <br>
        <div class="input-group width-48 float-left">
          <div class="input-group-append"><span class="input-group-text">{{'Common.From'|translate}}</span>
          </div>
          <input type="text" class="form-control" placeholder="{{'Common.From'|translate}}" bsDatepicker
            [bsConfig]="fixed.datePickerConfig" [(ngModel)]="searchModel.fromDate" autocomplete="off">
        </div>
        <div class="input-group width-48">
          <div class="input-group-append"><span class="input-group-text">{{'Common.To'|translate}}</span>
          </div>
          <input type="text" class="form-control" placeholder="{{'Common.To'|translate}}" bsDatepicker
            [bsConfig]="fixed.datePickerConfig" [(ngModel)]="searchModel.toDate" autocomplete="off">
        </div>
      </div>
      <div class="form-group col-md-4">
        <label>{{'Receivable.Client'|translate}}</label>
        <app-client-shared (selectedValueChanges)="searchModel.clientId = $event">
        </app-client-shared>
      </div>
      <div class="form-group col-md-4">
        <label>{{'Receivable.PaymentMethod'|translate}}</label>
        <app-payment-method-shared [typeId]="0"
        (selectedValueChanges)="searchModel.paymentMethodId = ($event == null)? null : $event">
        </app-payment-method-shared>
      </div>


      <div class="form-group col-md-4 mt-3 ">
        <br>
        <label class="fancy-radio">
            <input type="radio" name="isVoided" [value]="null" [(ngModel)]="searchModel.isVoided">
            <span><i></i>{{'Common.All'|translate}}</span>
        </label>
        <label class="fancy-radio">
          <input type="radio" name="isVoided" [value]="true" [(ngModel)]="searchModel.isVoided" >
          <span><i></i>{{'Receivable.IsVoided'|translate}}</span>
        </label>
        <label class="fancy-radio">
          <input type="radio" name="isVoided" [value]="false" [(ngModel)]="searchModel.isVoided" >
          <span><i></i>{{'Receivable.IsNotVoided'|translate}}</span>
        </label>
      </div>

    </div>
    <div class="text-center mt-2">
      <button type="button" class="btn btn-success round mr-1" (click)="searchModel.page=1;getAll()">
        <i class="ft-search"></i> {{'Common.Search' | translate}}
      </button>
      <button type="button" class="btn btn-secondary round" (click)="resetSearch()">
        <i class="ft-file"></i> {{'Common.NewSearch' | translate}}
      </button>
    </div>
    <div class="table-responsive mt-2">
      <table class="table table-striped table-sm mb-0">
        <thead class="thead-light">
          <tr>
            <th scope="col">{{'Receivable.ReceivableNo'|translate}}</th>
            <th scope="col">{{'Receivable.Stock'|translate}}</th>
            <th scope="col">{{'Receivable.Client'|translate}}</th>
            <th scope="col">{{'Receivable.PaymentMethod'|translate}}</th>
            <th scope="col">{{'Receivable.Date'|translate}}</th>
            <th scope="col">{{'Receivable.Total'|translate}}</th>
            <th scope="col">{{'Receivable.Cancel'|translate}}</th>
            <th scope="col">{{'Common.Tools'|translate}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of dataList;let i=index">
            <td>{{item.receivableNo}}</td>
            <td>{{item.stock}}</td>
            <td>{{item.client}}</td>
            <td>{{item.paymentMethod}}</td>
            <td *ngIf="fixed.activeLang.code == 'en'">{{item.date | date:'dd MMM y':null:'en-US'}}</td>
            <td *ngIf="fixed.activeLang.code == 'ar'">{{item.date | date:'dd MMM y':null:'ar-SA'}}</td>
            <td>{{item.total | number : '1.2-2'}}</td>
            <td>
              <span *ngIf="item.isVoided"><i class="la la-check-circle"></i></span>
            </td>
            <td>
              <a class="grid-tool" [routerLink]="[ '/store/receivable/operation/'+ item.receivableId]"
                tooltip="{{'Common.Edit'|translate}}">
                <i class="flaticon-edit-1"></i></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <app-pagination [total]="total" [scroll]="'transaction-page'" (changePagination)="changePagination($event)">
    </app-pagination>
  </div>
</div>