<div class="kt-portlet">
    <div class="kt-portlet__head" [ngClass]="{'alert alert-danger mb-0': model?.isVoided}">
      <div class="kt-portlet__head-label">
        <h4 class="kt-portlet__head-title" *ngIf="model.invoiceId > 0" [ngClass]="{'white': model?.isVoided}">
          {{'InvoiceReceipt.InvoiceReceipt'|translate}}
        </h4>
      </div>
      <div class="kt-portlet__head-toolbar">
        <div class="kt-portlet__head-actions" *ngIf="model?.isVoided">
          <i class="flaticon2-trash"></i>
          {{'Invoice.Cancel'| translate}}
        </div>
      </div>
    </div>
    <div class="kt-portlet__body">
      <form #InvoiceReceiptForm="ngForm">
        <div class="row">
            <div class="form-group col-md-4">
                <label>{{'Invoice.Date'|translate}}</label>
                <input type="text" class="form-control" name="date" [(ngModel)]="model.date" #date="ngModel" bsDatepicker
                  [bsConfig]="fixed.datePickerConfig" disabled>
            </div>
            <div class="form-group col-md-4">
                <label>{{'Invoice.TransactionNo'|translate}}</label>
                <input type="text" class="form-control" name="transactionNo" [(ngModel)]="model.transactionNo"
                  #transactionNo="ngModel" disabled>
            </div>
            <div class="form-group col-md-4">
                <label>{{'Invoice.Stock'|translate}}</label>
                <input type="text" class="form-control" name="stockName" [(ngModel)]="model.stockName" #stockName="ngModel"
                  disabled>
            </div>
            <div class="form-group col-md-4">
                <label>{{'Invoice.Client'|translate}}</label>
                <input type="text" class="form-control" name="client" [(ngModel)]="model.client" #client="ngModel"
                  disabled>
            </div>
            <div class="form-group col-md-4">
                <label>{{'Invoice.ManualInvoiceNumber'|translate}}</label>
                <input type="text" class="form-control" name="manualInvoiceNumber" [(ngModel)]="model.manualInvoiceNumber"
                  #manualInvoiceNumber="ngModel" disabled>
            </div>
            <div class="form-group col-md-4 mt-2">
                <br>
                <label class="fancy-radio">
                  <input type="radio" name="PaymentMethodType" [value]="true" [(ngModel)]="model.isCash" disabled>
                  <span><i></i>{{'Invoice.Cash'|translate}}</span>
                </label>
                <label class="fancy-radio">
                  <input type="radio" name="PaymentMethodType" [value]="false" [(ngModel)]="model.isCash" disabled>
                  <span><i></i>{{'Invoice.Credit'|translate}}</span>
                </label>
              </div>
              <div class="form-group col-md-4">
                <label>{{'Invoice.Total'|translate}}</label>
                <input type="number" class="form-control" name="total" [(ngModel)]="model.total"
                  #total="ngModel" disabled>
              </div>
            <div class="form-group col-md-4">
              <label>{{'Invoice.PaidAmount'|translate}}</label>
              <input type="number" class="form-control" name="paidAmount" [(ngModel)]="model.paidAmount"
                #paidAmount="ngModel" disabled>
            </div>
            <div class="form-group col-md-4">
              <label>{{'Invoice.Rest'|translate}}</label>
              <input type="number" class="form-control" name="rest" #rest="ngModel"
              [(ngModel)]="model.total - model.paidAmount" disabled>
            </div>
        </div>
        <div class="kt-section mb-0 mt-2">
          <h3 class="kt-section__title mb-0">
            <a class="btn btn-default btn-pill btn-sm btn-icon btn-icon-md custom-sm" (click)="itemOperation()"
              tooltip="{{'Common.Add'|translate}}" placement="auto" *ngIf="!model?.isVoided">
              <i class="flaticon2-add-1"></i></a>
            <span class="m-010">{{'InvoiceReceipt.InvoiceReceipt'|translate}}</span>
          </h3>
        </div>
        <div class="table-responsive">
          <table class="table table-striped table-sm">
            <thead class="thead-light">
              <tr>
                <th scope="col">#</th>
                <th scope="col">{{'InvoiceReceipt.Date'|translate}}</th>
                <th scope="col">{{'InvoiceReceipt.ReceiptNo'|translate}}</th>
                <th scope="col">{{'InvoiceReceipt.PaymentMethod'|translate}}</th>
                <th scope="col">{{'InvoiceReceipt.Amount'|translate}}</th>
                <th scope="col" *ngIf="!model?.isVoided">{{'Common.Tools'|translate}}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of model.stO_InvoiceReceipt | orderBy: 'itemId'; let i=index"
                [hidden]="item.isDeleted">
                <th scope="row">{{(i+1)}}</th>
                <td>
                    <input type="text" class="form-control" name="date{{i}}" [(ngModel)]="item.date" bsDatepicker
                    [bsConfig]="fixed.datePickerConfig" autocomplete="off" *ngIf="item.operation == 'e'"
                    [ngClass]="{'parsley-error': item.date == null || item.date == 'Invalid Date'}" (bsValueChange)="getReceiptNo($event,item)">
                    <span *ngIf="item.operation == 's' && fixed.activeLang.code == 'en'">
                    {{item.date | date:'dd MMM y':null:'en-US'}}</span>
                    <span *ngIf="item.operation == 's' && fixed.activeLang.code == 'ar'">
                    {{item.date | date:'dd MMM y':null:'ar-SA'}}</span>
                </td>
                <td>
                   <input type="text" class="form-control" name="receiptNo{{i}}" [(ngModel)]="item.receiptNo"
                    #receiptNo="ngModel" disabled>
                </td>
                <td>
                    <app-payment-method-shared [selectedValue]="item.paymentMethodId" [typeId]="model.isCash ? 1: 0"
                    (selectedValueChanges)="item.paymentMethodId = ($event == null)? null : $event" 
                      [hidden]="item.operation == 's'">
                    </app-payment-method-shared>
                    <span [hidden]="item.operation == 'e'">
                      {{(fixed.store.PaymentMethod | filterById: 'paymentMethodId': item.paymentMethodId)[0]?.name}}</span>    
                </td>
                <td>
                  <input type="number" class="form-control" name="amount{{i}}" [(ngModel)]="item.amount"
                    *ngIf="item.operation == 'e'">
                  <span *ngIf="item.operation == 's'">{{item.amount}}</span>
                </td>
                <td>
                  <a class="grid-tool" (click)="itemOperation(item)" tooltip="{{'Common.Edit'| translate}}"
                    *ngIf="item.operation == 's'">
                    <i class="flaticon-edit-1"></i></a>
                  <a class="grid-tool" (click)="itemFinish('save', item, i)" tooltip="{{'Common.Save'| translate}}"
                    *ngIf="item.operation == 'e'">
                    <i class="la la-save"></i></a>
                  <a class="grid-tool" [swal]="DeleteMessage" (confirm)="itemDelete(item,i)"
                    tooltip="{{'Common.Delete'|translate}}" *ngIf="item.operation == 's'"><i
                      class="flaticon-delete"></i></a>
                  <a class="grid-tool" (click)="itemFinish('close', item, i)" tooltip="{{'Common.Close'|translate}}"
                    *ngIf="item.operation == 'e'"><i class="la la-close"></i></a>
                </td>
              </tr>
              <tr><a class="btn btn-success white mt-2" (click)="itemOperation()"
                  *ngIf="!model?.isVoided">{{'Common.Add'| translate}}</a></tr>
            </tbody>
          </table>
        </div>
        <div class="form-action">
          <button type="submit" class="btn btn-success" [disabled]="InvoiceReceiptForm.invalid || lockGridEdit || 
        emptyList || model.stockId == null"
            (click)="saveInvoiceReceipt()" *ngIf="!model?.isVoided">
            <i class="la la-save"></i> {{'Common.Save' | translate}}
          </button>
          <a [routerLink]="[ '/store/i/invoice/list' ]" class="btn btn-warning"><i class="la la-close"></i>
            {{'Common.Close' | translate}}
          </a>
        </div>
      </form>
    </div>
  </div>
  <swal #DeleteMessage title="{{'Common.DeleteConfirmMessage'|translate}}" type="error"
  confirmButtonText="{{'Common.Confirm'|translate}}" cancelButtonText="{{'Common.Cancel'|translate}}"
  [confirmButtonColor]="'#d33'" [focusCancel]="true" [focusConfirm]="false" [showCloseButton]="false"
  [showCancelButton]="true" [showConfirmButton]="true">
  </swal>
  <swal #operationError title="{{'Message.Warning'|translate}}"
    html="<span class='red-custom text-bold'>{{'Message.OperationError'|translate}}</span>" type="error"
    [showCloseButton]="false" [showCancelButton]="false" [showConfirmButton]="false">
  </swal>