<div class="kt-portlet">
  <div class="kt-portlet__head" [ngClass]="{'alert alert-danger mb-0': model?.isVoided}">
    <div class="kt-portlet__head-label">
      <h4 class="kt-portlet__head-title" *ngIf="model?.maintenanceOrderId==null">
        {{'MaintenanceOrderOperation.Add'|translate}}
      </h4>
      <h4 class="kt-portlet__head-title" *ngIf="model?.maintenanceOrderId>0" [ngClass]="{'white': model?.isVoided}">
        {{'MaintenanceOrderOperation.Edit'|translate}}
      </h4>
    </div>
    <div class="kt-portlet__head-toolbar">
      <div class="kt-portlet__head-actions" *ngIf="model?.isVoided">
        <i class="flaticon2-trash"></i>
        {{'MaintenanceOrderOperation.Cancel'|translate}}
      </div>
    </div>
  </div>
  <div class="kt-portlet__body">
    <form #MaintenanceOrderForm="ngForm">
      <div class="row">
        <div class="form-group col-md-3">
          <label>{{'MaintenanceOrderOperation.Date'|translate}}</label>
          <input type="text" class="form-control" name="date" [(ngModel)]="model.date" #date="ngModel" bsDatepicker
            [bsConfig]="fixed.datePickerConfig" autocomplete="off" (bsValueChange)="getTransactionNo($event)"
            [maxDate]="fixed.today"
            [ngClass]="{'parsley-error': (model.date == null || model.date == 'Invalid Date' )&& date.touched}"
            required>
          <ul class="parsley-errors-list filled">
            <li class="parsley-required" *ngIf="model.date==null&&date.touched">
              {{'MaintenanceOrderOperation.Date'|translate}} {{'Common.IsRequired'|translate}}
            </li>

            <li class="parsley-required" *ngIf="model.date == 'Invalid Date' && date.touched">
              {{'MaintenanceOrderOperation.Date'|translate}} {{'Common.Error'|translate}}
            </li>
          </ul>
        </div>
        <div class="form-group col-md-3">
          <label>{{'MaintenanceOrderOperation.TransactionNo'|translate}}</label>
          <input type="text" class="form-control" name="transactionNo" [(ngModel)]="model.transactionNo"
            #transactionNo="ngModel" disabled>
        </div>
        <div class="form-group col-md-3">
          <label>{{'MaintenanceOrderOperation.Center'|translate}}</label>
          <app-center-shared [selectedValue]="model.centerId" (selectedValueChanges)="model.centerId = $event">
          </app-center-shared>
        </div>
        <div class="form-group col-md-3">
          <label>{{'MaintenanceOrderOperation.Client'|translate}}</label>
          <app-client-shared [selectedValue]="model.cL_Client"
            (selectedValueChanges)="model.clientId = $event?.clientId">
          </app-client-shared>
        </div>
        <div class="form-group col-md-3">
          <label>{{'MaintenanceOrderOperation.Product'|translate}}</label>
          <app-maintenance-product [selectedValue]="model.maiProductId"
            (selectedValueChanges)="model.maiProductId = $event">
          </app-maintenance-product>
        </div>
        <div class="form-group col-md-5">
          <label>{{'MaintenanceOrderOperation.Description'|translate}}</label>
          <input type="text" class="form-control" name="description" [(ngModel)]="model.description"
            #description="ngModel">
        </div>
      </div>
      <div class="kt-section mb-0 mt-2">
        <h3 class="kt-section__title mb-0">
          <a class="btn btn-default btn-pill btn-sm btn-icon btn-icon-md custom-sm" (click)="itemOperation()"
            tooltip="{{'Common.Add'|translate}}" placement="auto" *ngIf="!model?.isVoided">
            <i class="flaticon2-add-1"></i></a>
          <span class="m-010">{{'MaintenanceOrderOperation.Details'|translate}}</span>
        </h3>
      </div>
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead class="thead-light">
            <tr>
              <th scope="col" *ngIf="false">#</th>
              <th scope="col">{{'MaintenanceOrderOperation.Utilitiy'|translate}}</th>
              <th scope="col">{{'MaintenanceOrderOperation.Price'|translate}}</th>
              <th scope="col">{{'MaintenanceOrderOperation.VAT'|translate}}</th>
              <th scope="col">{{'MaintenanceOrderOperation.Total'|translate}}</th>
              <th scope="col" *ngIf="!model?.isVoided">{{'Common.Tools'|translate}}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of model.maI_MaintenanceOrderItem | orderBy: 'MaintenanceOrderItemId' ; let i = index"
              [hidden]="item.isDeleted">
              <th scope="row" *ngIf="false">
                <input type="text" class="form-control" name="itemId{{i}}" [(ngModel)]="item.MaintenanceOrderItemId"
                  *ngIf="item.operation == 'e'">
                <span *ngIf="item.operation == 's'">{{item.MaintenanceOrderItemId}}</span>
              </th>
              <td>
                <app-utilitiy [hidden]="item.operation=='s'" (selectedValueChanges)="selectItem($event,item);">
                </app-utilitiy>
                <span [hidden]="item.operation == 'e'">
                  {{item?.nameAr}} - {{item?.nameEn}}
                </span>
              </td>
              <td>
                <span>{{item?.price}}</span>
              </td>
              <td>
                <span>{{item?.vat}}</span>
              </td>
              <td>
                <span>{{calUtilitiyPrice(item)}}</span>
              </td>
              <td *ngIf="!model?.isVoided">
                <a class="grid-tool" (click)="itemOperation(item)" tooltip="{{'Common.Edit'| translate}}"
                  *ngIf="item.operation == 's'">
                  <i class="flaticon-edit-1"></i></a>
                <a class="grid-tool" [swal]="DeleteMessage" (confirm)="itemDelete(item,i)"
                  tooltip="{{'Common.Delete'|translate}}" *ngIf="item.operation == 's'"><i
                    class="flaticon-delete"></i></a>
                <a class="grid-tool" (click)="itemFinish('save', item, i)" tooltip="{{'Common.Save'| translate}}"
                  *ngIf="item.operation == 'e'">
                  <i class="la la-save"></i></a>
                <a class="grid-tool" (click)="itemFinish('close', item, i)" tooltip="{{'Common.Close'|translate}}"
                  *ngIf="item.operation == 'e'"><i class="la la-close"></i></a>
              </td>
            </tr>
            <tr>
              <td>

              </td>
              <td>

              </td>
              <td>

              </td>
              <td>
                {{model.total}}
              </td>
            </tr>
            <tr>
              <a class="btn btn-success white mt-2" (click)="itemOperation()"
                *ngIf="!model?.isVoided">{{'Common.Add'| translate}}</a></tr>
          </tbody>
        </table>
      </div>

      <div class="form-action">
        <button type="submit" class="btn btn-success" [disabled]="MaintenanceOrderForm.invalid || validateGrid() "
          (click)="saveOrder()" *ngIf="!model?.isVoided">
          <i class="la la-save"></i> {{'Common.Save' | translate}}
        </button>
        <a [routerLink]="[ '/maintenance/order/list' ]" class="btn btn-warning"><i class="la la-close"></i>
          {{'Common.Close' | translate}}
        </a>
        <button class="btn btn-danger" [swal]="DeleteMessage" (confirm)="voidedTransaction(model.maintenanceOrderId)"
          title="{{'Common.Delete'| translate}}" *ngIf="model?.maintenanceOrderId > 0 && !model?.isVoided">
          <i class="la la-trash-o"></i> {{'Common.Delete' | translate}}</button>

        <button class="btn btn-primary" (click)="PrintReport()" title="{{'Common.Print'| translate}}"
          *ngIf="model?.maintenanceOrderId> 0 && !model?.isVoided">
          <i class="la la-print"></i> {{'Common.Print' | translate}}</button>
      </div>
    </form>
  </div>
</div>


<swal #DeleteMessage title="{{'Common.DeleteConfirmMessage'|translate}}" type="error"
  confirmButtonText="{{'Common.Confirm'|translate}}" cancelButtonText="{{'Common.Cancel'|translate}}"
  [confirmButtonColor]="'#d33'" [focusCancel]="true" [focusConfirm]="false" [showCloseButton]="false"
  [showCancelButton]="true" [showConfirmButton]="true">
</swal>
<swal #operationError title="{{'Message.Warning'|translate}}"
  html="<span class='red-custom text-bold'>{{'Message.OperationError'|translate}}</span>" type="error"
  [showCloseButton]="false" [showCancelButton]="false" [showConfirmButton]="false">
</swal>