<div id="loading">
    <div class="kt-page-loader kt-page-loader--base">
        <div class="blockui">
            <span>{{'Common.PleaseWait'|translate}}</span>
            <span>
                <div class="kt-spinner kt-spinner--brand"></div>
            </span>
        </div>
    </div>
</div>
<router-outlet></router-outlet>